---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout title="あなたのEC（ネットショップ、ネット通販）は、なぜ売れないのか？ | 株式会社ECコンサルカンパニー"
  description="あなたのサイトはなぜ売れないのか？ 答えは簡単です！ ECサイトを構築した人が多くの間違いを犯しているのです。 売れないにはすべて原因があります！売るノウハウと作るノウハウは違うのです。多くの方が必ず原因に挙げる人材。ECに精通している人材ですら任せっきりになると売れないのです。その根本的な本質論を説く。">
<link rel="stylesheet" href="/wp-assets/css/eccc-pages.css" slot="css" />

<section id="sub_contents" class="wrap950 padding50">
  <section class="ec-heroes heroes-why">
    <h1 class="p50 txt_center">なぜ売れないのか？のジレンマ</h1>
    <div class="sns top">
      <ul>
        <li>シェアする</li>
        <li><a href="https://social-plugins.line.me/lineit/share?url=/echeroes/" target="_blank" rel="noopener noreferrer"><img src="/wp-assets/img/eccc/ec-heroes/sns_line.jpg" alt="line"></a></li>
        <li><a href="https://twitter.com/intent/tweet?text=ECヒーローズ　あなたは、なぜ売れないのか？ のジレンマ&amp;url=/echeroes/" target="_blank" rel="noopener noreferrer"><img src="/wp-assets/img/eccc/ec-heroes/sns_twitter.jpg" alt="twitter"></a></li>
        <li><a href="https://www.facebook.com/sharer.php?src=bm&#038;u=/echeroes/&#038;t=ECヒーローズ　あなたは、なぜ売れないのか？ のジレンマ" target="_blank" rel="noopener noreferrer"><img src="/wp-assets/img/eccc/ec-heroes/sns_facebook.jpg" alt="facebook"></a></li>
      </ul>
    </div>
    <img src="/wp-assets/img/eccc/ec-heroes/why_01.jpg" alt="あなたは、なぜ売れないのか？のジレンマ" class="mb70">
    <div class="txt-wrap">
      <div class="txt_center">
        <h2 class="p36 mb70">Q：あなたのサイトはなぜ売れないのか？</h2>
        <p class="mb0">答えは……</p>
        <p class="p60 black">簡単です！</p>
      </div>
      <p> ECサイトを構築した人が多くの<br><span class="p24">間違いを犯している</span>のです。<br> もちろん、 <br>
        <span class="p24">作る人だけではなく、発注した人も間違った</span>のです。</p>
      <p>どんな事が間違ったの？<br> いろんなところでたくさん間違っています。<br> その間違いを一つづつ指摘していきましょう！ </p>
      <p class="p36"><strong>売れないにはすべて原因があります！</strong></p>
      <p><strong><span class="p36">売るノウハウと作るノウハウは</span><br>
        <span class="p60">違います。</span></strong><br> 売るノウハウを知っていて、さらに売上げを上げた実績のある運営ノウハウを知っている人が構築するから売れるサイトができるのです。</p>
      <p class="p36 mb40">つまり、つくる側の実力不足。<br> 発注者のミス。</p>
    </div>
    <img src="/wp-assets/img/eccc/ec-heroes/why_02.jpg" alt="売れないには原因があります" class="mb40">
    <div class="txt-wrap">
      <p>作る側は仕事をとりたい。<br> 発注者は、成功するサイトをつくりたい。<br> でも予算には限りがある。</p>
      <p>その中で、発注する側をその気にさせる営業トーク、情報、人柄を持つ作り手は素晴らしいと言えます。<br> ただし、クライアントは将来困る可能性が大きいでしょう。<br>
        そこまでのお金をもらってないし、コミットしていないし、発注者が満足するように要望をかなえて作ったのだから問題ない。<br> という作り手の一人勝手な理論がまかり通ります。</p>
      <p>発注者は、そこで本質を見抜けたなかったわけです。<br> 外見で判断したのか、価格で判断したのか、他がやっていて良さそうだからとか内容で発注したのです。<br> 物作りは楽しいです。<br>
        自分の思ったサイトが出来てくると恍惚にちかい喜びがあります。<br> 完全に、<span class="p24">発注者の勉強不足。</span><br> まかせればなんとかなると思っている精神が間違いなのです。</p>
      <p>そして仮に、発注者が勉強をたくさんして見抜けたとしても、<br>
        <span class="p24">お眼鏡にかなう出来た作り手は少ない</span><br> のです。<br> いても、探せない、受けてもらえない、高額なので、なかなかお願いできない。<br>
        すでにそんな人は成功者なのです。</p>
      <p>だから、実力不足は承知の上で<br>
        <span class="p20"> <strong>●一緒に売上げを上げていけるパートナーとなりうる人<br> ●人間的に尊敬できる人<br> ●一緒に仕事して楽しい人 </strong></span><br>
        ……そんな人を作り手に選ばなくてはいけません。<br> もちろん、作り手側もコミットしてくれる人が前提です。<br> そして、当たり前ですが発注側も作業量に対してちゃんとお金を支払います。</p>
    </div>
    <img src="/wp-assets/img/eccc/ec-heroes/why_03.jpg" alt="一緒に売上げを上げていけるパートナーとなりうる人、人間的に尊敬できる人、一緒に仕事して楽しい人" class="mb40">
    <div class="txt-wrap">
      <p>お互いのビジネスと成長の関係が築き上げられる人たち……これがベストだと思います。<br> お互いが勉強不足、経験不足を理解し合い、同じ目標にたって売上げという数字を毎日試行錯誤していく……。</p>
      <p>ポイントは、<br>
        <span class="p24">毎日試行錯誤のコミットがお互いに必要</span>だということです。<br> 毎日試行錯誤するには、それなりの情報量が必要です。</p>
      <p class="p20"><strong>●売れるサイトはどんなサイトか？<br> ●売れる運営はどんな運営か？<br> ●売れるサービスはどんなサービスか？<br> ●売れる商品はどんな商品か？</strong></p>
      <p>改善の余地は山ほどあるはずです。<br> 逆に、すでにそれを知っている人が、売るノウハウを知っていて、さらに売上げを上げた実績のある運営ノウハウを知っている人です。</p>
      <p><span class="p36">勉強不足の発注者が、すでに成功している人の提案が理解できますか？</span><br> 発注者の思考の先の先を考えて提案しているのです。<br>
        たくさんやることがあるので、その分費用も高くなるのです。</p>
      <p>その中でたまに、すごくわかりやすく伝えてくれる人がいます。<br> それは、褒めてくれるし、優しいコメントもくれますが、<br>
        <span class="p24">結局、自分が変わらないとダメだ</span>ということを気づかせてくれる人です。<br> ただ、仕事を受けてくれるかはわかりません。<br> お金がなくても受けてくれる人はいます。<br>
        情熱次第というやつです。</p>
      <p>ただし、数字で結果を出すには、出したことのない人が考える<br> 「これくらいやればいいかぁ。」<br> という努力の10倍の努力が必要です。<br> そこを発注者がコミットできますか？</p>
      <p>前者の一緒に仕事したい仲間と、一緒にやって、試行錯誤の暗中模索で、スピードと挑戦の中で生きるのか？<br>
        後者のすでに成功している珍しくやさしい、きっちりとした山のように高いロードマップがあって、教えてもらいながら、いずれにしてもスピードと挑戦の中で生きるのか？</p>
      <p><span class="p36"><strong>サイトで売るというのは生き方の選択肢で決まる</strong></span><br> といっても過言ではないです。</p>
    </div>
    <img src="/wp-assets/img/eccc/ec-heroes/why_04.jpg" alt="サイトで売るというのは生き方の選択肢で決まる" class="mb40">
    <div class="txt-wrap">
      <p class="p20">逆に、すでに発注者がうまくいっている成功者の場合の注意ポイントがあります。<br> つまり、売るのノウハウも運営もわかっている人が発注者の場合です。</p>
      <p>作り手は売るノウハウも運営もわかっていないのですから、成功者の<br>
        <span class="p36">あなたの指示は伝わりません。</span><br> 思考が三段階も下なのです。</p>
      <p><span class="p36"><strong>売るなんて考えてないのです。</strong></span><br>
        機能や見てくれだけのデザイン、カートシステムに依存したシステムの解説、使い方がすべてなのです。新しく流行り物のツールやガジェットを提案する感じです。</p>
      <p>そんな作り手を活用するには、常にゴールに向かうビジュアル説明が必要になります。<br> デザインを起こす必要はありません。</p>
      <p>売れてるサイトの売れてる運用方法を行っているところを複数社見抜いて、それのどこがすごくて自分たちの商材やサービスはどのように水平転換できるかを伝えるのです。</p>
      <p>口頭では絶対伝わりません。</p>
      <p class="p36">ビジュアルで伝えて、<br> ロジカルに話すのです。</p>
      <p>木を見て森を見ずではなく、しっかり森と木の幹と枝を伝えないといけないのです。</p>
      <p>売るノウハウを知っている人は、当然、見せかけのコンセプトではないのが前提です。<br>
        <span class="p20"><strong>売れないサイトのほとんどは、販売戦略に基づくコンセプトメイクで失敗している人がほとんどだからです。</strong></span></p>
      <p>口頭で伝えて、あとはお任せで作り手に作らせて、再度チェックしたら全くのやり直しはありえません。</p>
      <p><span class="p20">作り手のモチベーションはダダ下がり。クオリティーもスピードも出ません。<br> 考えてくれません。</span><br> 言われた要望通りやりましたから問題ないでしょ？<br>
        という思考に変わります。</p>
      <p>でも発注者は言います。</p>
      <p><span class="p20">言ったことができてない。<br> だまされた！</span><br>
        <span class="p36">作り直しにまたお金が取られた。</span><br> そんな案件をたくさん聴いてきましたが、多くは発注者にも非があります。</p>
    </div>
    <img src="/wp-assets/img/eccc/ec-heroes/why_05.jpg" alt="売るノウハウとデザインは別物です。" class="mb40">
    <div class="txt-wrap">
      <p>ノウハウをわかっている人なら、素人デザイナーにはなおさら細かく指定しないといけないのです。<br> デザインの指示じゃないですよ。<br> それは素人のはずなのでプロに任せるんです。<br> 伝えるのは<br>
        <span class="p36">人が反応するポイントです。</span><br> 多くのベンチマークサイトです。</p>
      <p>売れるサイトのポイントです。<br>
        <span class="p36"><strong>売るノウハウとデザインは別物です。</strong></span><br> 新規と既存のお客様の対応の考え方が違うのと同様です</p>
      <p>それを融合させるのです。<br> 大変ですが、次元が違う人との数字を追うパートナーチームはそれだけ大変だということをご理解ください。</p>
      <p>お金を出すほ方が偉い！<br> 要望どおりにやれ！<br> その提案はウチではできない。<br> 言い方は別でやんわりとでも優しくでも、そのような感じの発注者でも、ごくまれにうまくいくことがあります。<br>
        それは、商品力が素晴らしい、品質、価格、知名度、ファンなどブランドが成立しているところです。それは、要望にひたすらこたえる作り手でもうまくいくことがあります。</p>
      <p>そんなサイトをベンチマークにしたら大変です。<br>
        <span class="p36">ベンチマークを見抜く目も重要</span><br> になります。</p>
      <p>実際、「やるぞーー！」と<br> 発注者ができると思って実際やってみたら、思ったより大変で、<br> もしくは優先順位が低く、全然情報が出来上がらなかったり、<br>
        担当者以外の周りの優先順位も遅くスケジュール通り進まなくなってプロジェクトが崩壊したり、<br> OKだと思っていたけど、実際はNGで不本意だけど妥協しなきゃいけなかったり……。</p>
      <p>挙げ句の果てに</p>
      <p>時間の関係でやりたいこと全部は出来ないので優先順位をつけて、高いところだけやりましょう！<br> 予算の関係で優先順位の高いところだけに絞りましょう！</p>
      <p><span class="p36">この仕事の仕方に未来はありません。<br> 成果は出ません。</span><br>
        優先順位をつけるのは大切なことですが、優先順位とは緊急と重要のファクターで考えられるべきで、ほとんどの人がそんな思考を持ち合わせていません。</p>
      <p>まず、発注者が成功のノウハウを知ってないのに、本当の優先順位はつけられるわけがありません。<br>
        作り手がノウハウを知っているなら、運営のことも考えて販売戦略を考えて、現状のリソースも考えて、それでも目標達成をするにはコレだと言っているのに、（構築する上での優先順位はあるにしても）<br>
        すべて必要な機能だしサービスだし商品なんです。<br> 切ることはありえません。<br>
        <span class="p60">全部やるのです。</span></p>
    </div>
    <img src="/wp-assets/img/eccc/ec-heroes/why_06.jpg" alt="全部やるのです。" class="mb40">
    <div class="txt-wrap">
      <p class="p20">成功の法則を自分のご都合で勝手に変えてはいけません。</p>
      <p>成功するためのステップは必ずあり、それを消し飛ばして進めるなんて不可能です。<br> 稲穂はいきなり実りません。</p>
      <p>種から苗を作り、田んぼを耕して水を引き……。<br> やっとお米ができるのです。<br>
        <span class="p20">すべて自然の法則からできているのです。</span><br> 万物は自然の法則からは抜き出ることはできません。<br> 成長には時間がかかるのです。<br>
        成功にはステップが必要なのです。</p>
      <p>優先順位で絞ってしまうことは、苗を入れて薬をまかなかったり、ケアをしなかったりすることです。</p>
      <p>まともなお米は出来ません。</p>
      <p>それでも発注者、もしくは上司は売上げを求めます。</p>
      <p>残念ながら発注者が責任者ではなく担当者ならば、成果や結果とは違うベクトルで決定されます。</p>
      <p>例えば……。<br> そもそも会社（上司）から全幅の信頼がないのです。<br> 修行しなさい、勉強しなさいと暗に経験を強いて成長させようとしているのです。<br>
        本人がやりたいという情熱があるので、会社がとれるリスクを最小限にしてとりあえずやらせてみる……そんな会社の担当者の方は大変だと思います。<br> 今の働き方改革の中で修行、成長は厳しいです。<br>
        <span class="p36">プロジェクトもほぼ成功しないでしょう。</span></p>
      <p>話は長くなりましたが……。</p>
      <h2 class="p30 mb40">Q　あなたのサイトはなぜ売れないのか？</h2>
      <p>簡単です！</p>
    </div>
    <div class="bg">
      <p class="p20"><strong>■ECサイトを構築した人が売るノウハウと運営ノウハウがない。<br> ■発注した人も発注された人も売るノウハウがない、運営ノウハウがない。<br> ■発注した人はあっても作り手にない。<br>
        ■作り手にあっても発注した人にない。もしくは発注した会社が本気じゃない。</strong></p>
    </div>
    <div class="txt-wrap">
      <p>ノウハウがわかり合ってる者同士のプロジェクトは素晴らしいですよ♪<br> 役割分担ができていてプロ中のプロなんで……。</p>
      <p>ノウハウがわかってなくても挑戦とスピードと結果にコミットしている人同士も楽しいですよ。</p>
      <p class="p36">だから、勉強しないといけないのです！</p>
      <p class="p60">つまり、勉強不足！（笑</p>
    </div>
    <img src="/wp-assets/img/eccc/ec-heroes/why_07.jpg" alt="バランスを変えるだけなんです。" class="mb40">
    <div class="txt-wrap">
      <p>人は弱い生き物なので、勉強しようと思ってもついつい怠けてしまいます。<br> だから、環境と習慣を作る必要があるんです。</p>
      <p class="p36">大きく変わる必要はないんです。<br> バランスを変えるだけなんです。</p>
      <p>100m競争の日本人選手が9秒台のタイムを続出させています。<br> それは最初、桐生選手が出した記録なんですが、9秒台になるために、筋力が増えたわけではないんです。<br> 大きく変化していません。<br>
        ただ、バランスを変えただけなのです。</p>
      <p>50mでトップスピードにした走りを65mにトップスピードにバランスを変えただけなのです。</p>
      <p>そのバランスを変えるために優秀なコーチが必要です。<br> そして、桐生選手が9秒台をだしたら、サニーブラウン選手、小池選手と今では3名の選手が突破しています。</p>
      <p>これはどういうことなんでしょうか？</p>
      <p class="p36">これが、環境なのです。</p>
      <p>頭のいい人の理屈や理論はいらない<br> メソッドやHow toも売り上げに直結しない。</p>
      <p>環境を考慮してないからです。</p>
      <p>それは知識ではありません。<br> 体験と経験なのです。</p>
      <p>僕たちは、ちゃんと再現性がある売上げをあげる環境を作りつつ、知識と経験を積んでいきながら、みんなと一緒に総合で売上げを上げていきます。</p>
    </div>
    <div class="coach">
      <div class="image"> <img src="/wp-assets/img/eccc/ec-heroes/why_08.jpg" alt="EC業界NO.1コーチ　江藤正親"></div>
      <div class="txt">
        <p><strong><span class="p30">一緒にやるとみるみる売上が上がる<br> 自己目標達成率80%</span><span class="p16">※</span><br> <span class="p30">年商1億円以上を200社導いた　<br> EC業界NO.1コーチ　江藤正親</span></strong><br>
          <span class="p16">※残り20%は諸事情でECをやめられた方です。</span></p>
      </div>
    </div>
	<a href="/echeroes3" class="btn-next mb70">ECヒーローズで勉強しよう！</a><a href="/echeroes2" class="btn-next">EC支援事業をしているワケ</a>
    <div class="sns bottom">
      <ul>
        <li>シェアする</li>
        <li><a href="https://social-plugins.line.me/lineit/share?url=/echeroes/" target="_blank" rel="noopener noreferrer"><img src="/wp-assets/img/eccc/ec-heroes/sns_line.jpg" alt="line"></a></li>
        <li><a href="https://twitter.com/intent/tweet?text=ECヒーローズ　あなたは、なぜ売れないのか？ のジレンマ&amp;url=/echeroes/" target="_blank" rel="noopener noreferrer"><img src="/wp-assets/img/eccc/ec-heroes/sns_twitter.jpg" alt="twitter"></a></li>
        <li><a href="https://www.facebook.com/sharer.php?src=bm&#038;u=/echeroes/&#038;t=ECヒーローズ　あなたは、なぜ売れないのか？ のジレンマ" target="_blank" rel="noopener noreferrer"><img src="/wp-assets/img/eccc/ec-heroes/sns_facebook.jpg" alt="facebook"></a></li>
      </ul>
    </div>
  </section>
</section>
</BaseLayout>
