---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="unlimitedam" description="長年にわたり多業種のショップ様のコンサルティングを承ってまいりました。そのうち代表的な店舗の売上推移をグラフにして示しています。また行ってきた事例や戦略をご紹介します。">

<header>
        <div class="header">
            <div class="header-inner">
                <div class="h-logo">
                    <a href="/"><img src="/wp-assets/img/common/logo.png" alt=""></a>
                </div>
                <div class="h-navi">
                    <nav>
                        <ul class="gnavi">
                            <li><a href="/" >トップ</a></li>
                            <li><a href="/achievement"  class="current">実　績</a></li>
                            <li><a href="/company" >会社概要</a></li>
                            <li><a href="/contact" >お問い合わせ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="gnavi-btn"><span></span></div>
                <div class="h-search">
                    <form method="get" class="searchform" action="/">
                        <input type="text" placeholder="検索" name="s" class="searchfield" value="" />
                        <button type="submit" value="submit" class="searchsubmit">
                            <span class="material-symbols-outlined"><img src="/wp-assets/img/common/icn_search.png" alt=""></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </header>

<div class="page-wrap achievements-wrap">
    <div class="mv">
        <h1><img src="/wp-assets/img/achievements/achievements_01.png" alt="私達が選ばれている理由［実績］"></h1>
    </div>
    <section class="achievements">
        <div class="l_inner">
            <h2 class="sec-ttl">ネットショップ黎明期から<br> 多業種における高い実績</h2>
            <div class="txt-wrap">
                <p>1999年、ネットショップ運営に携わり始めて依頼、多岐にわたる業種のショップ様を成功へと導いてきました。<br> 自身で立ち上げたネットショップは1年半で月商4500万を達成、3年連続楽天総合3位を受賞しています。その後サポート実績企業は1000超え、指導店舗200社以上が年商1億円1以上を数えます。<br> 移り変わりの激しいコンサル業を長く続けてこられたのも、いまだ沢山のショップ様から依頼をいただけるのも、長年にわたり積み上げてきた実績と成功体験に裏打ちされた、実力の表れと評価だと自負しております。</p>
            </div>
            <h3 class="ttl">弊社が担当した業種別売上推移（月商）一例</h3>
            <picture>
                <source media="(max-width: 767px)" srcset="/wp-assets/img/achievements/achievements_02_sp.png">
                <source media="(min-width: 768px)" srcset="/wp-assets/img/achievements/achievements_02.png"> <img src="/wp-assets/img/achievements/achievements_02.png" alt="業種別売上推移グラフ">
            </picture>
        </div>
    </section>
    <section class="strategy">
        <div class="l_inner">
            <h2 class="sec-ttl">売上アップ戦略例</h2>
            <div class="box box01"><img src="/wp-assets/img/achievements/achievements_03.png" alt="売上アップ戦略01">
                <div class="txt-wrap">
                    <h3 class="ttl"><span class="uline">まだネットショップをやってない方・戦略策定</span></h3>
                    <p>ネットショップをやる前から勝負が決まっています。<br> それが戦略です。しっかり市場や競合を調査して勝てる戦略をつくり、<br> 勝てる市場に勝てる商品/サービスを開発・販売していきましょう。</p>
                </div>
            </div>
            <div class="box box02"><img src="/wp-assets/img/achievements/achievements_04.png" alt="売上アップ戦略02">
                <div class="txt-wrap">
                    <h3 class="ttl"><span class="uline">販売/集客戦略</span></h3>
                    <p>ネ自社ECと楽天市場、Amazonでは販売戦略が変わってきます。<br> ECサイトの集客方法はSEOから広告戦略、SNSなどの各種プロモーションは多岐にわたります。商品や会社の事情にそった集客戦略必要です。<br> また、集客からのランディングページ対策はセットになって考えるべきですので、このコーナーに入れてあります。</p>
                </div>
            </div>
            <div class="box box03"><img src="/wp-assets/img/achievements/achievements_05.png" alt="売上アップ戦略03">
                <div class="txt-wrap">
                    <h3 class="ttl"><span class="uline">コンバーションレート(転換率/CVR)アップ戦略</span></h3>
                    <p>CVRが低い場合の課題はデザイン・画面設計だけではありません。<br> 競合の価格、サービス、キャンペーンが大きく影響を及ぼしていたり、そのそも競争力のある商品でなかったり、関連性の高いコンテンツリンクによって集客とのマッチングが出来てなかったり、多くの要素があります。<br> 企業の状況に合わせて一つ一つ優先順位の高いところから改善していきく戦略を立てていきます。</p>
                </div>
            </div>
            <div class="box box04"><img src="/wp-assets/img/achievements/achievements_06.png" alt="売上アップ戦略04">
                <div class="txt-wrap">
                    <h3 class="ttl"><span class="uline">ファン戦略(既存客対策)単価・リピートアップ</span></h3>
                    <p>普通の受注処理＋梱包/発送業務＋発送完了だけの業務ではファン出来た上がりません。<br> お客様の期待＋1％を心がけるだけで、ファンが何倍も膨れ上がります。<br> またファン戦略は、メルマガ、ステップメール、オフ会、ファン用のキャンペーン<br> などワクワクする企画を行うことにより、醸造していきます。</p>
                    <p>メルマガだけではリピートしません！<br> 多くのECサイトにおいてリピートユーザーの積み上げは成功のカギとなります。まずは自社のリピート率やLTVを把握することから始めましょう。</p>
                </div>
            </div>
        </div>
    </section>
    <section class="case">
        <div class="l_inner">
            <h2 class="sec-ttl">事　例</h2>
            <div class="list l_box-wrap">
                <div class="box"><img src="/wp-assets/img/achievements/achievements_07.jpg" alt="事例（食品販売）">
                    <h3 class="ttl">月商が1年で3倍（食品）</h3>
                    <p>LPを改善し商品の良さをシンプルにわかりやすく訴求。入り口商品としてお試し商品を作ったところ、そこからリピートが生まれて一気に売上が伸びました。<br> シナリオと分析による改善が大きなカギだと感じましたが、やはり重要なのはお客様への思いですね。</p>
                </div>
                <div class="box"><img src="/wp-assets/img/achievements/achievements_08.jpg" alt="事例（インナー販売）">
                    <h3 class="ttl">広告費をかけずに集客（インナー）</h3>
                    <p>マメに根気よくSNSへの投稿を続けるうちファンが増え、そこから口コミで噂が広まったようです。読者が参加できるような企画、マメな対応、あとやはりSNSのアルゴリズムにのっとりやることが、広告費をかけなくても集客は伸ばす秘訣だと思います。</p>
                </div>
                <div class="box"><img src="/wp-assets/img/achievements/achievements_09.jpg" alt="事例（日用雑貨販売）">
                    <h3 class="ttl">モールにはモールのやり方（日用雑貨）</h3>
                    <p>独自ドメインショップとモールとでは売り方が全く変わります。楽天市場には楽天市場の、AmazonにはAmazonの戦略を行使したところ売上が格段に上昇しました。全体的な経営戦略の見直しにともなう判断も大きかったと思います。大きなゴールをイメージして少しづつテストしながら変化の枠を大きくしていきました。</p>
                </div>
                <div class="box"><img src="/wp-assets/img/achievements/achievements_10.jpg" alt="事例（ホビー販売）">
                    <h3 class="ttl">ビッグワードで検索上位に（ホビー）</h3>
                    <p>Doクエリーを徹底に意識したコンテンツでSEO対策を地道に行うことが、実はすごい効果があったと思います。もちろん広告の併用もありましたが、自然検索でも多数の流入が増え購入に導けています。何年もかけて作り上げた地道なコンテンツを改善しつつブランディング化していけるようにさらに頑張ります。</p>
                </div>
            </div>
            <a href="/contact" class="btn">無料相談を申し込む</a>
        </div>
    </section>
</div>
<!--page-wrap -->

<footer>
    <div class="footer">
        <div class="l_inner">
            <ul class="f-link">
                <li><a href="/">トップ</a></li>
                <li><a href="/achievement">実績</a></li>
                <li><a href="/company">会社概要</a></li>
                <li><a href="/privacy-policy">個人情報保護ポリシー</a></li>
                <li><a href="/legal-notice">特定商取引に関する法律に基づく表示</a></li>
                <li><a href="/contact">お問い合わせ</a></li>
            </ul>
            <p class="copy">Copyright © 2021 アンリミテッドアム株式会社 All Rights Reserved.</p>
        </div>
    </div>
</footer>

</BaseLayout>
