---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout
  title="AIコンサルアンケート - EC モンスター"
  bodyClass="wp-singular page-template-default page page-id-149 page-parent wp-theme-ecmonster page-questionnaire"
>
  <link slot="css" rel="stylesheet" href="/wp-assets/css/questionnaire.css" />
  <link slot="css" rel="stylesheet" href="/wp-assets/css/cf7.css" />

<div class="page-wrap questionnaire-wrap">
    <div class="l_inner">
        <section>
            <h1 class="page-ttl">アンケートに<br class="sp">ご協力ください。</h1>
            <img src="/wp-assets/img/questionnaire/img_01.png" alt="">
            <div class="form-wrap">
                
<div class="wpcf7 no-js" id="wpcf7-f148-o1" lang="ja" dir="ltr" data-wpcf7-id="148">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form action="/questionnaire/#wpcf7-f148-o1" method="post" class="wpcf7-form init" aria-label="コンタクトフォーム" novalidate="novalidate" data-status="init">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="148" />
<input type="hidden" name="_wpcf7_version" value="6.0" />
<input type="hidden" name="_wpcf7_locale" value="ja" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f148-o1" />
<input type="hidden" name="_wpcf7_container_post" value="0" />
<input type="hidden" name="_wpcf7_posted_data_hash" value="" />
</div>
<div class="item">
	<p>■ECモンスターAIコンサルを使って良かった点を教えてください<span class="red">（必須）</span>
	</p>
	<p><span class="wpcf7-form-control-wrap" data-name="good-point"><textarea cols="40" rows="3" maxlength="2000" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" name="good-point"></textarea></span>
	</p>
</div>
<div class="item">
	<p>■ECモンスターAIコンサルを使う中での、お悩み事や疑問があれば教えてください<span class="red">（必須）</span>
	</p>
	<p><span class="wpcf7-form-control-wrap" data-name="questions"><textarea cols="40" rows="3" maxlength="2000" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" name="questions"></textarea></span>
	</p>
</div>
<div class="item">
	<p>■「もっとこんな質問にも答えられるようにしてほしい！」などのご要望があれば、教えてください
	</p>
	<p><span class="wpcf7-form-control-wrap" data-name="request"><textarea cols="40" rows="3" maxlength="2000" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" name="request"></textarea></span>
	</p>
</div>
<div class="item">
	<p><input class="wpcf7-form-control wpcf7-submit has-spinner" type="submit" value="送信" />
	</p>
</div>
<p><script is:inline>
 document.addEventListener('wpcf7mailsent', function(event) {
 location = '/questionnaire/questionnaire-thanks/';
 }, false );
</script>
</p><div class="wpcf7-response-output" aria-hidden="true"></div>
</form>
</div>
            </div>
        </section>
    </div>
</div>
<!--page-wrap -->

</BaseLayout>
