---
import BaseLayout from '../../../layouts/BaseLayout.astro'
---

<BaseLayout
  title="ページが見つかりませんでした - EC モンスター"
  bodyClass="error404 wp-theme-ecmonster"
>
  <link slot="css" rel="stylesheet" href="/wp-assets/css/cf7.css" />

<div class="page-wrap not-found">
    <div class="l_inner">
        <section>
            <h1 class="page-ttl">404 NOT FOUND</h1>
            <div class="txt-c">
                <p>お探しのページは見つかりませんでした</p>
                <a href="/" class="btn">TOPに戻る</a>
            </div>
        </section>
    </div>
</div>
<!--page-wrap -->

</BaseLayout>
