---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout
  title="送信完了 - EC モンスター"
  bodyClass="wp-singular page-template-default page page-id-19 page-child parent-pageid-2 wp-theme-ecmonster page-thanks"
>
  <link slot="css" rel="stylesheet" href="/wp-assets/css/contact.css" />
  <link slot="css" rel="stylesheet" href="/wp-assets/css/cf7.css" />

<div class="page-wrap contact-wrap">
    <div class="l_inner">
        <section>
            <h1 class="page-ttl uline">送信完了</h1>
            <div class="thanks txt-c">
                <p>お問い合わせありがとうございます。<br>
                    確認の上担当者から返信いたしますので、<br>
                    今しばらくお待ちください。</p>
                <a href="/" class="btn-top">TOPに戻る</a>
            </div>
        </section>
    </div>
</div>
</div>
<!--page-wrap -->

</BaseLayout>
