---
import GuideLayout from '../../../layouts/GuideLayout.astro'
---

<GuideLayout
  title="ショップ開設の流れ"
  section="3. 初期設定"
  sectionHref="/movie/"
  prevArticle={{ title: '出店プランの選び方', href: '/guide-rakuten/2/plan-selection/' }}
  nextArticle={{ title: 'デザインとカスタマイズ', href: '/guide-rakuten/3/design-customize/' }}
>


<h2>開設手順</h2>
<ol>
  <li><strong>RMS（楽天管理画面）へログイン</strong></li>
  <li><strong>基本情報の設定</strong>：店舗名、住所、連絡先等</li>
  <li><strong>決済方法の設定</strong>：クレジットカード、コンビニ払い等</li>
  <li><strong>配送方法の設定</strong>：送料、配送業者の選択</li>
  <li><strong>店舗デザインの設定</strong></li>
  <li><strong>商品登録</strong></li>
  <li><strong>テスト注文</strong></li>
  <li><strong>開店</strong></li>
</ol>


</GuideLayout>
