---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout title="ページが見つかりません。 | 株式会社ECコンサルカンパニー">
<link rel="stylesheet" href="/wp-assets/css/eccc-pages.css" slot="css" />

<section class="law cf">
  <h2 class="h2_sub btm_mar40">404</h2>
<p>いつもホームページをご覧頂きありがとうございます。<br>大変申し訳ないのですが、あなたがアクセスしようとしたページは削除されたかURLが変更されています。<br>お手数ですが<a href="/">トップページ</a>へのアクセスをお願いします。</p>
</section>
</BaseLayout>
