---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
  title="ECモンスターAIコンサル - EC モンスター"
  bodyClass="wp-singular page-template-default page page-id-165 wp-theme-ecmonster page-ai"
>
  <link slot="css" rel="stylesheet" href="/wp-assets/css/ai.css" />
  <link slot="css" rel="stylesheet" href="/wp-assets/css/cf7.css" />

<main class="main-contents ai-wrap">
    <section class="mv">
        <h1 class="key-v"><img src="/wp-assets/img/ai/img_01.png" alt="ECモンスター【ECの怪物になれ！】ゼロからECで勝ち上がる方法を動画で解説。">
        </h1>
        <div class="l_inner">
            <a href="https://elearnig.vercel.app/p/ai-consul-lp/ai-consulting/" class="btn btn-cta" target="_blank">無料で体験する</a>
        </div>
    </section>
    <section class="about" id="about">
        <div class="l_inner">
            <h2 class="sec-ttl">ECモンスターAIコンサルとは</h2>
            <p><span class="red">EC運営に特化</span>したチャットボット型AI。<br>
                <span class="red">成功者たちのノウハウを学んだAI</span>が<br>
                あなたの質問に<span class="red">即答</span>します！<br>
                コンサル1回分の費用1年間使えると<br>
                <span class="red">圧倒的なコストパフォーマンス</span>が評判です！
            </p>
            <div class="image">
                <img src="/wp-assets/img/ai/img_02.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="worries">
        <div class="l_inner">
            <h2 class="sec-ttl">こんな悩みありませんか？</h2>
            <ul class="list">
                <li>広告費はかけているのに成果が出ない</li>
                <li>何から手をつけていいかわからない</li>
                <li>ノウハウ記事やセミナーを見ても再現できない</li>
            </ul>
            <div class="answer-wrap">
                <p class="answer">これをAIが<br>
                    “あなたの状況に即して”<br>
                    整理してくれます</p>
                <div class="image">
                    <img src="/wp-assets/img/ai/img_05.jpg" alt="">
                </div>
                <p class="sub-ttl">97.3%が行動指針が明確になったと回答</p>
                <div class="l_box-wrap">
                    <div class="graph"><img src="/wp-assets/img/ai/img_06.png" alt=""></div>
                    <div class="txt">
                        <p class="ttl">アンケート：ECモンスターAIコンサルを<br class="sp">
                            試してみてどう感じましたか</p>
                        <ul class="detail">
                            <li><span class="orange">■</span>行動指針が明確になった<br>
                                ・やるべきことがわかった</li>
                            <li><span class="green">■</span>人間相手と違って<br>
                                なんでも気軽に聞けるところが気楽でよい</li>
                            <li><span class="yellow">■</span>使い方がよくわからなかった<br>
                                ・質問の仕方が難しい</li>
                            <li><span class="purple">■</span>その他</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="voice">
        <div class="l_inner">
            <h2 class="sec-ttl">利用者の声</h2>
            <div class="box-wrap">
                <div class="txt">
                    <p class="ttl">楽天市場／無添加スイーツ店</p>
                    <p>
                        質問のたびに“なるほど”が返ってくるから、何を直すべきかが明確になった。
                    </p>
                </div>
                <div class="image"><img alt="ECモンスターAIコンサル利用者/無添加スイーツ店" src="/wp-assets/img/ai/img_11.jpg"></div>
            </div>
            <div class="box-wrap">
                <div class="image"><img alt="ECモンスターAIコンサル利用者/革小物ブランド" src="/wp-assets/img/ai/img_12.jpg"></div>
                <div class="txt">
                    <p class="ttl">Amazon／副業革小物ブランド</p>
                    <p>
                        どうやるか”じゃなく“なぜやるか”をAIが教えてくれるから自分で戦略が組めるようになった。
                    </p>
                </div>
            </div>
            <div class="box-wrap">
                <div class="txt">
                    <p class="ttl">Amazon／アクセサリー</p>
                    <p>
                        AIの指摘で、自分がいかに感情で広告を打っていたかに気づきました。
                    </p>
                </div>
                <div class="image"><img alt="ECモンスターAIコンサル利用者/アクセサリー" src="/wp-assets/img/ai/img_13.jpg"></div>
            </div>
            <div class="box-wrap">
                <div class="image"><img alt="ECモンスターAIコンサル利用者/家具工房" src="/wp-assets/img/ai/img_14.jpg"></div>
                <div class="txt">
                    <p class="ttl">自社EC（Shopify）／家具工房</p>
                    <p>
                        社員に『こういう理由でここを直す』と説明できるようになった。それだけでも価値があった。
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="present">
        <img src="/wp-assets/img/ai/img_07.png" alt="">
    </div>
    <section class="faq">
        <div class="l_inner">
            <h2 class="sec-ttl">よくある質問</h2>
            <p class="q">初心者でも使いこなせますか？</p>
            <p class="a">はい。チャット形式なので、自然に会話する感覚で質問できます。</p>
            <p class="q">AIが答えられない質問は？</p>
            <p class="a">回答不能な場合は、質問とAIの返答をコピーして事務局に送ってください。<br>
                人間のECコンサルタントが個別に回答いたします。</p>
            <p class="q">具体的なデザイン指示やページ構成まで提案してくれますか？</p>
            <p class="a">いいえ。デザイン制作は行いませんが、改善の考え方や優先順位を明示することで判断の軸を提供します。</p>
        </div>
    </section>
    <section class="comparison">
        <div class="l_inner">
            <h2 class="sec-ttl">コンサル比較</h2>
            <table>
                <tr>
                    <th>通常コンサル</th>
                    <th>AIコンサル</th>
                </tr>
                <tr class="ttl">
                    <td>コスト</td>
                    <td></td>
                </tr>
                <tr>
                    <td>月数万円～数十万円</td>
                    <td>月5,000円～</td>
                </tr>
                <tr class="ttl">
                    <td>返答スピード</td>
                    <td></td>
                </tr>
                <tr>
                    <td>数日後</td>
                    <td>即時</td>
                </tr>
                <tr class="ttl">
                    <td>得られる内容</td>
                    <td></td>
                </tr>
                <tr>
                    <td>人による属人的回答</td>
                    <td>膨大なECノウハウベースの一貫回答</td>
                </tr>
            </table>
            <p class="sub-ttl">ECモンスターAIコンサルの全貌はこちら</p>
        </div>
        <a href="https://elearnig.vercel.app/p/ai-consul-lp/ai-consulting/" class="btn btn-cta" target="_blank">無料で体験する</a>
    </section>
</main>

</BaseLayout>
