---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="海外(英語圏)越境EC運営代行支援サービス。株式会社ECコンサルカンパニー"
  description="越境ECに興味があるが踏み込めない3つの悩み！言葉の悩み、運営の悩み、配送の悩みなどECコンサルカンパニーの越境EC支援サービスでお客様のお悩みは全て解決致します！まずは無料でご相談。分からない事やお悩み事、越境ECに関するご質問はこちらから。弊社からはしつこい営業行為は致しませんので、何でもご相談下さい。">
<link rel="stylesheet" href="/wp-assets/css/eccc-pages.css" slot="css" />

<div id="top_movie">
	<p class="sub_icatch"><a href="tel:0351668000"><img src="/wp-assets/img/eccc/ec_icatch_pc.png" width="950"></a></p>
<!-- #top_movie --></div>

<div id="ec" class="bg_glay">

<section id="ec01">
<div class="wrap950">
	<h2 class="top_pad40 smp_mar20"><img src="/wp-assets/img/eccc/ec_txt01_pc.png" width="950"></h2>
	<ul class="nayami cf">
		<li class="li mar">
			<p class="title"><img src="/wp-assets/img/eccc/ec_li01.png" width="180" alt="言葉の悩み"></p>
			<ul class="p16">
				<li>ネイティブ向けの翻訳</li>
				<li>ネイティブの文化にあったデザイン</li>
				<li>ネイティブにあわせた<br>ユーザービリティ</li>
			</ul>
		</li>
		<li class="li mar">
			<p class="title"><img src="/wp-assets/img/eccc/ec_li02.png" width="180" alt="運営の悩み"></p>
			<ul class="p16">
				<li>商品の出品形態<br>独自ドメイン、モール</li>
				<li>集客方法、  広告出稿先、SNS対応</li>
				<li>お客様対応、  問い合わせなど</li>
			</ul>
		</li>
		<li class="li">
			<p class="title"><img src="/wp-assets/img/eccc/ec_li03.png" width="180" alt="配送の悩み"></p>
			<ul class="p16">
				<li>どうやって送ればいい？</li>
				<li>いくら掛かるの？</li>
				<li>いつ届くの？</li>
				<li>関税はかかるの？</li>
				<li>返品受けなきゃいけないの？</li>
			</ul>
		</li>		
	</ul>
	<p class="btm_mar30 txt_center smp_mar10"><img src="/wp-assets/img/eccc/ec_arrow.png" width="80"></p>
	<p class="btm_mar30 txt01 p_min p30 txt_center bg_blue p_white padding20 smp_mar10">ECコンサルカンパニーの越境EC支援サービスで<br>お客様のお悩みは全て解決致します！</p>
	<p class="btm_mar30 txt_center smp_mar10"><img src="/wp-assets/img/eccc/ec_arrow.png" width="80"></p>

        <section class="flows cf btm_mar50">
          <h3 class="h3-flow">運用フロー図</h3>
          <div class="wraps">
            <div class="top">
              <section class="shop">
                <p class="title"><img src="/wp-assets/img/eccc/map_ico01.png" alt="ショップ様"></p>
                <ul>
                  <li>●商品手配<br>
                    ●仕入れ・開発<br>
                    ●入金確認<br>
                    ●ページ修正指示<br>
                    ●売上管理</li>
                </ul>
              </section>
              <p class="arrow sp_both"><img src="/wp-assets/img/eccc/map_arrow.png" alt="arrow"></p>
              <section class="company">
                <p class="title"><img src="/wp-assets/img/eccc/map_ico02.png" alt="ECコンサルカンパニー"></p>
                <ul>
                  <li>■バックヤード<br>
                    ●商品追加<br>
                    ●受発注チェック<br>
                    ●一次お問い合わせ<br>
                    ●発送指示</li>
                  <li class="top-mar">●サンクスメール<br>
                    ●フォローメール<br>
                    ●ページ追加・更新<br>
                    ●月次ミーティング</li>
                  <li class="l">■マーケティングバックヤード<br>
                    ●Blog<br>
                    ●Facebookコンテンツ<br>
                    ●Facebook広告管理<br>
                    ●GoogleAdWords広告管理<br>
                    ●SEO対策</li>
                </ul>
              </section>
            </div>
            <img src="/wp-assets/img/eccc/sp_map.png" class="pc_both">
            <p class="img sp_both"><img src="/wp-assets/img/eccc/lp/map_img.png" alt="img"></p>
          </div>
        </section>

	<p class="txt_center txt02"><img src="/wp-assets/img/eccc/ec_img01_pc.png" width="950"></p>
</div>
</section>
 
<section class="contact_info top_con bg_blue padding80 p_white sub">
	<p class="p40 txt_center p_min border btm_mar20"><strong>無料でまずはご相談</strong></p>
	<p class="p20 txt_center btm_mar20 sp_p_left">分からない事やお悩み事、越境ECに関するご質問はこちらから。<br>弊社からはしつこい営業行為は致しませんので、何でもご相談下さい。</p>
	<p class="txt_center btm_mar20"><a href="/contact/"><img src="/wp-assets/img/eccc/btn_tel.png" width="618"></a></p>
	<p class="txt_center"><a href="tel:0351668000"><img src="/wp-assets/img/eccc/top_tel.png" width="446"></a></p>
</section>

<section id="ec02" class="padding100">
<div class="wrap950">
	<h2 class="txt_center p50 p_min btm_mar30">お客様の声</h2>
	<ul class="voice cf btm_mar100">
		<li class="mar">
			<dl class="cf">
				<dt class="cf">
				    <img src="/wp-assets/img/eccc/ec_voice01.png" height="82">
					<p class="p20">岐阜県<span>K様</span></p>
				</dt>
				<dd class="cf">
					<p class="p_glay p14">自分がつきっきりで見てられないので、同様、それ以上の知識とすぐ動いて改善してくれるパートナーがいてくれて心強いです。</p>
				</dd>
			</dl>
		</li>
		<li class="mar">
			<dl class="cf">
				<dt class="cf">
				    <img src="/wp-assets/img/eccc/ec_voice02.png" height="82">
					<p class="p20">東京都<span>D様</span></p>
				</dt>
				<dd>
					<p class="p_glay p14">全部英語でやりとりしてくれて、日本語で指示すればOKなのでとても助かってます。</p>
				</dd>
			</dl>
		</li>		
		<li>
			<dl class="cf">
				<dt class="cf">
				    <img src="/wp-assets/img/eccc/ec_voice03.png" height="82">
					<p class="p20">東京都<span>O様</span></p>
				</dt>
				<dd>
					<p class="p_glay p14">ブログやfacebookのコンテンツを自分でいろいろ調べて毎週何個も新規で立ち上げてくれて大変助かります。1年で100以上のコンテンツは、大きな財産になります。</p>
				</dd>
			</dl>
		</li>
	</ul>
	
	<h2 class="txt_center p50 p_min btm_mar30">実績一覧</h2>
	<div class="wrap778 cf btm_mar100">
	 <div class="left cf">
	  <img src="/wp-assets/img/eccc/ec_img02.png" width="354" class="float_left">
	  <div class="txt">
		  <p class="title02 p20 p_blue btm_mar10">構築、制作から参画</p>
		  <p class="p_glay p14">AWS、WP、WOOCOMMERCEにて構築<br>畳の和室を海外の方にも提供できるように<br>表の素材提供と厚みの薄い畳を提供している。<br>決済はpaypalを利用</p>
	  </div>
	 </div>
	 <div class="right cf both">
	  <img src="/wp-assets/img/eccc/ec_img03.png" width="369" class="float_rigt">
	  <div class="txt">
		  <p class="title02 p20 p_blue btm_mar10">毎日　google・facebook広告の<br>管理運用、分析</p>
		  <p class="p_glay p14">英語コラムを週5日、facebookとblogで公開<br>毎日10件コメント対応、英語の問い合わせメール対応<br>発送メール、発送後のフォローメール、SEO対策<br>毎月　googleアナリティクス分析、改善提案、ミーティング</p>
	  </div>
		 <p class="img"><img src="/wp-assets/img/eccc/ec_img04.png" width="427"></p>
	 </div>
	</div>
	
	<p class="h3 p28 p_min txt_center bg_glay"><strong>ご料金について</strong></p>
	<h2 class="txt_center p50 p_min btm_mar30 padding20 btm_mar10">越境EC運営代行プラン</h2>
	<div id="ec_step" class="bg_blue p_white btm_mar100">
		<p class="waku p28 txt_center btm_mar30 p_min"><span>まとめて安心の代行パッケージです。</span></p>
		<ul class="p20 txt_center cf">
			<li>英語のお問合わせ対応</li>
			<li>受注、配送指示などのバックヤード対応</li>
			<li>Google adwords 広告管理</li>
			<li>Facebookコンテンツ更新</li>
		</ul>
		<p class="price txt_center"><img src="/wp-assets/img/eccc/ec_txt02.png" width="645" alt="アルバイトを１人雇うのと同等額　月額20万円＋売上5%　※日本語サイト同時運用の場合は20万＋売上5%"></p>
	</div>
	
	<div id="step02">
	 <p class="h3 p28 p_min txt_center bg_glay btm_mar30"><strong>越境EC開始までのステップ</strong></p>
	 <h2 class="txt_center p50 p_min btm_mar10">「越境ECサイト運営代行」</h2>
	 <p class="txt_center p30 p_min btm_mar30"><strong>お申込みの流れ</strong></p>
	 <ul class="cf">
		 <li class="cf bg_glay mar height1">
			 <p class="title p30 p_min p_white bg_blue"><span><img src="/wp-assets/img/eccc/ec_step01.png" width="67" alt="STEP1"></span>お申込み</p>
			 <img src="/wp-assets/img/eccc/ec_step01_img.png" width="160" alt="photo" class="flt">
			 <p class="txt p14 p_glay">お申込みフォームもしくは、お電話からお申込みください。</p>
		 </li>
		 <li class="cf bg_glay height1">
			 <p class="title p30 p_min p_white bg_blue"><span><img src="/wp-assets/img/eccc/ec_step02.png" width="67" alt="STEP2"></span>事前ヒアリング</p>
			 <img src="/wp-assets/img/eccc/ec_step02_img.png" width="160" alt="photo" class="flt">
			 <p class="txt p14 p_glay">数回のメールでのやりとり、及び打ち合わせ（直接orスカイプ）によってお客様のご要件をヒアリング致します。
ヒアリングシートに詳しくご記入いただく場合もございます。</p>
		 </li>    
		 <li class="cf bg_glay mar height2">
			 <p class="title p30 p_min p_white bg_blue"><span><img src="/wp-assets/img/eccc/ec_step03.png" width="67" alt="STEP3"></span>契約締結</p>
			 <img src="/wp-assets/img/eccc/ec_step03_img.png" width="160" alt="photo" class="flt">
			 <p class="txt p14 p_glay">ヒアリングした内容を元に、プランニングを行いご提案。<br>ご提案内容にご納得いただけたら契約締結となります。<br>また、ショップ様の現状を把握するために「カートシステムや分析ツールのログイン情報」を開示していただきます。</p>
		 </li>      
		 <li class="cf bg_glay height2">
			 <p class="title p30 p_min p_white bg_blue"><span><img src="/wp-assets/img/eccc/ec_step04.png" width="67" alt="STEP4"></span>サービス開始</p>
			 <img src="/wp-assets/img/eccc/ec_step04_img.png" width="160" alt="photo" class="flt">
			 <p class="txt p14 p_glay">契約締結後1週間以内にご入金いただきます。ご入金の確認が取れたらサービス開始となります。</p>
		 </li>          
     </ul>
	</div>
</div>
</section>
 
<section class="contact_info top_con bg_blue padding80 p_white">
	<p class="p40 txt_center p_min border btm_mar20"><strong>無料でまずはご相談</strong></p>
	<p class="p20 txt_center btm_mar20 sp_p_left">分からない事やお悩み事、越境ECに関するご質問はこちらから。<br>弊社からはしつこい営業行為は致しませんので、何でもご相談下さい。</p>
	<p class="txt_center btm_mar20"><a href="/contact/"><img src="/wp-assets/img/eccc/btn_tel.png" width="618"></a></p>
	<p class="txt_center"><a href="tel:0351668000"><img src="/wp-assets/img/eccc/top_tel.png" width="446"></a></p>
</section>	 

<section id="ec03" class="padding100">
<div class="wrap950">
	<h2 class="btm_mar50"><img src="/wp-assets/img/eccc/ec_txt_pc.png" alt="スペシャリストが全力でサポート致します！" width="1000px"></h2>
	<img src="/wp-assets/img/eccc/ec_shibata.png" width="283" class="flt">
	<p class="name btm_mar30"><img src="/wp-assets/img/eccc/ec_shibata_name.png" width="215" alt="ECディレクター柴田剛"></p>
	<p class="txt btm_mar30 p14 p_glay">皆様、はじめまして柴田と申します。<br>ショップ様の多くの方はとてももったいないことをされています。「ページを更新した」、「広告を活用した」、それ以降のチェックをなんとなくの感覚でしか分析されていないということです。「宝の山」の売上大幅アップに対してあともう一歩というところで、届いていません。<br>ビジネスは掛け算です。弊社のサービスを活用して頂くと、とても面倒くさい数値分析を行い、その数値をもとに次の施策、展開をご提案いたします。<br>当たり前の事を当たり前にやる難しさを弊社を活用し実行して頂きたいと思います。</p>
	<p class="p22 p_min p_blue">豊富な経験を活かした<br>数値分析のスペシャリスト</p>
</div>
</section>
 
 
<!-- #ec -->
</BaseLayout>
