---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="なぜEC（ネットショップ、ネット通販）支援事業を続けるのか？ | 株式会社ECコンサルカンパニー"
  description="株式会社ECコンサルカンパニーの江藤がEC（イーコマース、ネットショップ、ネット通販）の支援事業をやっている理由。それは、小学校の頃の切ない原体験。そして、かっこいいオトナへの憧れ。with、afterコロナでさらに明確になってきました。やはり、ECしかない。">
<link rel="stylesheet" href="/wp-assets/css/eccc-pages.css" slot="css" />

<section id="sub_contents" class="wrap950 padding50">
	<section class="ec-heroes heroes-etou">
		<div class="sns top">
			<ul>
				<li>シェアする</li>
				<li><a href="https://social-plugins.line.me/lineit/share?url=/echeroes2/" target="_blank" rel="noopener noreferrer"><img src="/wp-assets/img/eccc/ec-heroes/sns_line.jpg" alt="line"></a></li>
				<li><a href="https://twitter.com/intent/tweet?text=ECヒーローズ　江藤の紹介&amp;url=/echeroes2/" target="_blank" rel="noopener noreferrer"><img src="/wp-assets/img/eccc/ec-heroes/sns_twitter.jpg" alt="twitter"></a></li>
				<li><a href="https://www.facebook.com/sharer.php?src=bm&#038;u=/echeroes2/&#038;t=ECヒーローズ　江藤の紹介" target="_blank" rel="noopener noreferrer"><img src="/wp-assets/img/eccc/ec-heroes/sns_facebook.jpg" alt="facebook"></a></li>
			</ul>
		</div>
		<div class="txt_center mb70">
			 <div class="main-image"><img src="/wp-assets/img/eccc/ec-heroes/etou_01.jpg" alt="株式会社ECコンサルカンパニー 江藤"></div>
			
		</div>
		<div class="txt-wrap">
			<p>みなさま、こんにちは！<br> 株式会社ECコンサルカンパニーの江藤です。</p>
			<p class="mb0">今回、少しお時間をいただきまして、</p>
				<h1 class="p36">私がどうしてEC（イーコマース、ネットショップ、ネット通販）の支援事業をやっているのか</h1>
				<p>お話しさせてください。</p>
			<p>私は、北陸の富山県、高岡市。高岡駅前の商店街の学区で幼稚園、小学校、中学校と過ごしました。</p>
			<p>ドラえもんの藤子不二雄先生は同じ学区で先輩です。</p>
		</div>
		<div class="txt_center mb70">
			<img src="/wp-assets/img/eccc/ec-heroes/etou_02.jpg" alt="富山県">
		</div>
		<img src="/wp-assets/img/eccc/ec-heroes/etou_03.jpg" alt="高岡駅前の商店街の学区で幼稚園、小学校、中学校と過ごしました" class="mb40">
		<div class="txt-wrap">
			<p>私の周りはみんな商人の息子たちでとても裕福でした。</p>
			<p>私はサラリーマンの息子で、欲しいものがあっても買ってもらえず、</p>
			<p class="p36">「我慢しなさい」</p>
			<p>と育てられました。</p>
			<p>「みんな持ってるもん！」<br> 「みんなって誰？」</p>
			<p>とお決まりのやりとりの後、悔しいので、</p>
			<p>「○○君も、○○君も」</p>
			<p>と名前を出すと、</p>
			<p class="p36">「あそこは日銭商売で不安定だから、うちみたいなサラリーマンの方が安定してるからいいのよ。」</p>
			<p>と返ってきます。</p>
			<p>でも、</p>
			<p>子供心に</p>
			<p class="p36">「絶対嘘だ！　嘘つきだ！」</p>
			<p>確信してました。</p>
			<p>なぜならば、友達のおうちに遊びいくといっぱいおもちゃがあり、さらに、遊びに行って楽しそうにおもちゃをいじっていると</p>
			<p>「貸してあげるよ。もっていっていいよ♪」</p>
			<p class="p36">優しいんです。</p>
			<p>真っ暗になって、うちに帰る時、おもちゃを持ちながら、<br>
				<span class="p20">とても惨めな気持ちになりました。</span></p>
			<p>子供なので価値判断がおもちゃなんですが（笑</p>
		</div>
		<img src="/wp-assets/img/eccc/ec-heroes/etou_04.jpg" alt="友達のおうちに遊びに行くといっぱいおもちゃがあり" class="mb40">
		<div class="txt-wrap">
			<p class="p36">「絶対サラリーマンになんかならない！」</p>
			<p>そんな心理がずっと無意識下で働いていたのかもしれません。</p>
			<p>私が独立を志したのが26歳、<br> 今、流行の副業でフリーでも仕事したのが27歳。<br> 実際、会社を立ち上げたのが28歳。</p>
			<p>会社を作ろうと思ってから、あっという間に起業してしまいました。</p>
			<p>職種はネット通販の支援事業です。</p>
			<p class="p36">そんな私のターニングポイントは、</p>
			<p class="p36">1999年。</p>
			<p>まだブロードバンド前のアナログ回線主流の時代に町の酒屋さんと一緒にインターネットでワインの専門店をはじめた事です。</p>
			<p>3代目の商人であった店長のハルさんは、サラリーマンの僕と違ってガツガツしてなく、それでいて、仕事に真摯でとても新鮮で非常に素敵にうつりました。</p>
			<p>次第に彼の魅力に引き込まれ……。</p>
			<p>いつしか、</p>
			<p class="p36">この人を成功させれば僕の夢も叶えられるのではないか？</p>
			<p>とのめり込み、</p>
			<p>私の持っているビジネススキルのすべてを注ぎ込みました。</p>
			<p>それだけではありませんが、おかげさまで<br>
				<span class="p36"><strong>楽天市場で3年連続総合で3位</strong></span><br> のタイトルを獲得し、<br>
				<span class="p36"><strong>世界でインターネットで一番ワインを売れる店</strong></span><br> までに成長しました。</p>
		</div>
		<img src="/wp-assets/img/eccc/ec-heroes/etou_05.jpg" alt="世界でインターネットで一番ワインを売れる店" class="mb40">
		<div class="txt-wrap">
			<p>今でもハルさんと仲はいいですが、私は袂を別れ多くの商人を支援する仕事をしています。</p>
			<p>ネット通販業界も20年が過ぎ、成熟期へと移っています。</p>
			<p><span class="p36"><strong>今やAmazonが一兆円のダントツ1位、</strong></span><br> 2位との差が一桁違う規模で、一極集中の状態にあります。</p>
			<p>インターネットで購入することが当たり前の時代は、安くて、どこよりも早く送れ、たくさん種類があるところが売れてしまうのです。</p>
			<p>今、まさに商店街をシャッター通りにしたイオンがやってきたと同じ状況がネット通販でも起きています。</p>
			<p>でも私は今とてもワクワクしています。</p>
			<p class="p36"><strong>当時、守れなかった商店街をAmazonから守る。</strong></p>
			<p>私の中でのヒーローは、子供の頃の友達を裕福で幸せな家庭を築いていた商人であり、僕はその商人のネットビジネスを支援しています。</p>
			<p class="p36"><strong>これは、私にとっての千載一遇のチャンスなのです。</strong></p>
		</div>
		<img src="/wp-assets/img/eccc/ec-heroes/etou_06.jpg" alt="当時、守れなかった商店街をAmazonから守る。" class="mb40">
		<div class="txt-wrap">
			<p class="p36"><strong>私の目標は、年商1億円店舗を1000社つくっていくことです。</strong></p>
			<p>1兆円、2兆円の規模からするとたった1/10かもしれませんが、価格争いに巻き込まれず、しっかりとしたファンと一緒に運営しているネットショップさんが1000社以上できれば、私は、十分幸せです。</p>
			<p>そして、たくさんのヒーローを作り、子供たちに幸せな仕事を将来をつくっていきたいと思います。</p>
			<p>そのために、<br>
				<span class="p36"><strong>一般社団法人ジャパンEコマースコンサルタント協会や、<br> 一般社団法人日本イーコマース学会を設立</strong></span>したり、<br> これから紹介する<br>
				<span class="p36"><strong>オンライン講座やコミュニティ</strong></span>などをやっています。</p>
			<p class="mb40">皆様、よろしくお願い申し上げます。</p>
		</div>
		<img src="/wp-assets/img/eccc/ec-heroes/etou_07.jpg" alt="一般社団法人ジャパンEコマースコンサルタント協会">
		<p class="txt_right btm_mar20">一般社団法人ジャパンEコマースコンサルタント協会</p>
		<img src="/wp-assets/img/eccc/ec-heroes/etou_08.jpg" alt="一般社団法人日本イーコマース学会">
		<p class="txt_right mb120">一般社団法人日本イーコマース学会</p>
		<a href="/echeroes3" class="btn-next">オンライン講座</a>
		<div class="sns bottom">
			<ul>
				<li>シェアする</li>
				<li><a href="https://social-plugins.line.me/lineit/share?url=/echeroes2/" target="_blank" rel="noopener noreferrer"><img src="/wp-assets/img/eccc/ec-heroes/sns_line.jpg" alt="line"></a></li>
				<li><a href="https://twitter.com/intent/tweet?text=ECヒーローズ　江藤の紹介&amp;url=/echeroes2/" target="_blank" rel="noopener noreferrer"><img src="/wp-assets/img/eccc/ec-heroes/sns_twitter.jpg" alt="twitter"></a></li>
				<li><a href="https://www.facebook.com/sharer.php?src=bm&#038;u=/echeroes2/&#038;t=ECヒーローズ　江藤の紹介" target="_blank" rel="noopener noreferrer"><img src="/wp-assets/img/eccc/ec-heroes/sns_facebook.jpg" alt="facebook"></a></li>
			</ul>
		</div>
	</section>
</section>
</BaseLayout>
