---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
  title="専用Googleアカウントの作り方 - EC モンスター"
  bodyClass="wp-singular page-template-default page page-id-155 wp-theme-ecmonster page-gwsaccount"
>
  <link slot="css" rel="stylesheet" href="/wp-assets/css/gwsaccount.css" />
  <link slot="css" rel="stylesheet" href="/wp-assets/css/cf7.css" />

<div class="page-wrap gwsaccount-wrap">
    <div class="l_inner">
        <section>
            <h1 class="page-ttl">専用Googleアカウントの作り方</h1>
            <p>Google Chrome ブラウザ(推奨)を例に<br class="sp">ご説明します。<br>
                ご登録いただいたGmailに以下のような<br class="sp">招待メールが届いています。<br>
                理解しました　をクリックしてください。</p>
            <img src="/wp-assets/img/gwsaccount/img_01.png" alt="">
            <p>パスワードを設定してください。</p>
            <img src="/wp-assets/img/gwsaccount/img_02.png" alt="">
            <p>OKをクリックしてください。</p>
            <img src="/wp-assets/img/gwsaccount/img_03.png" alt="">
            <p>同期をオンにするをクリックしてください。</p>
            <img src="/wp-assets/img/gwsaccount/img_04.png" alt="">
            <p>新しいアカウントでECモンスターAIコンサルに<br class="sp">アクセスします。<br>
                NotebookLMの画面が出たら<br class="sp">OKをクリックしてください。</p>
            <img src="/wp-assets/img/gwsaccount/img_05.png" alt="">
            <p>ECモンスターAIコンサルへようこそ！</p>
            <img src="/wp-assets/img/gwsaccount/img_06.png" alt="">
            <p>アカウントを切り替えるには　<br class="sp">①アイコンをクリック　②アカウントを選択です。<br>
                ECモンスターAIコンサルは<br class="sp">この新しいアカウントでのみ動作します。</p>
            <img src="/wp-assets/img/gwsaccount/img_07.png" alt="">
        </section>
    </div>
</div>
<!--page-wrap -->

</BaseLayout>
