---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
  title="【ECモンスター】EC運営に特化したAIコンサルとECモール攻略方法を解説した動画セミナー"
  bodyClass="home"
>
  <link slot="css" rel="stylesheet" href="/wp-assets/css/top.css" />

  <main class="main-contents top-wrap">
    <section class="mv">
      <div class="l_inner">
        <h1><img src="/wp-assets/img/top/img_01.png" alt="EC運営を怪物級に強く！AI×実践ノウハウで、ECを成功へ導くECモンスター" /></h1>
        <ul class="box-wrap">
          <li>
            <a href="https://lms.ecmonster.jp/p/ai-consul" target="_blank"><img src="/wp-assets/img/top/img_15.png" alt="ECモンスターAIコンサル使用風景" /></a>
          </li>
          <li>
            <a href="https://lms.ecmonster.jp/p/rakuten2" target="_blank"><img src="/wp-assets/img/top/img_16.png" alt="ECモンスター動画セミナー使用風景" /></a>
          </li>
        </ul>
      </div>
    </section>

    <section class="about" id="about">
      <div class="l_inner">
        <h2 class="sec-ttl">ECモンスターとは</h2>
        <p class="lead"><strong>「ECモンスター」は<br />
          EC運営者を支援する総合ブランドです。</strong></p>
        <img src="/wp-assets/img/top/img_14.png" alt="EC運営者を支援する総合ブランドです。" />
      </div>
    </section>

    <section class="service" id="service">
      <div class="l_inner">
        <h2 class="sec-ttl">サービス紹介</h2>

        <div class="ai">
          <h3 class="sub-ttl">ECモンスターAIコンサル</h3>
          <p class="lead"><span class="red">EC運営に特化した</span>チャットボット型AI。<br />
            <span class="red">成功者たちのノウハウを学んだAI</span>があなたの質問に<span class="red">即答</span>します！
          </p>
          <div class="box-wrap">
            <div class="image"><img src="/wp-assets/img/top/img_02.jpg" alt="ECモンスターAIコンサル使用風景" /></div>
            <div class="txt">
              <ul class="list">
                <li>高額コンサル不要</li>
                <li>即時に行動指針を提示</li>
                <li>月額5,000円〜</li>
                <li>7日間無料トライアル</li>
              </ul>
            </div>
          </div>
          <a href="https://lms.ecmonster.jp/p/ai-consul" class="btn" target="_blank">AIコンサルを無料体験</a>
        </div>

        <div class="movie">
          <h3 class="sub-ttl">動画講座　楽天市場編</h3>
          <p class="lead">本気でECで<span class="red">成功</span>したい人への<br />
            <span class="red">道しるべ</span>を解説した動画です！
          </p>
          <div class="box-wrap">
            <div class="image"><img src="/wp-assets/img/top/img_04.jpg" alt="ECモンスター動画セミナー使用風景" /></div>
            <div class="txt">
              <ul class="list">
                <li>1億までのロードマップ</li>
                <li>即実践可能マル秘テク</li>
                <li>登録特典付き</li>
                <li>2話無料視聴</li>
              </ul>
            </div>
          </div>
          <a href="https://lms.ecmonster.jp/p/rakuten2" class="btn" target="_blank">講座の詳細を見る</a>
        </div>

        <table>
          <tr>
            <th></th>
            <td>AIコンサル</td>
            <td>動画講座</td>
          </tr>
          <tr>
            <th>学び方 </th>
            <td>質問に即回答</td>
            <td>動画で体系的に学習</td>
          </tr>
          <tr>
            <th>コスト</th>
            <td>月額制（5,000円〜）</td>
            <td>買い切り</td>
          </tr>
          <tr>
            <th>向いている人</th>
            <td>すぐ課題解決したい</td>
            <td>じっくり学びたい</td>
          </tr>
          <tr>
            <th>ゴール</th>
            <td>行動指針が明確に</td>
            <td>ノウハウの習得</td>
          </tr>
        </table>
      </div>
    </section>

    <section class="voice" id="voice">
      <div class="l_inner">
        <h2 class="sec-ttl">利用者の声</h2>

        <div class="ai">
          <h3 class="sub-ttl">ECモンスターAIコンサル</h3>
          <div class="box-wrap">
            <div class="txt">
              <p class="ttl">楽天市場／無添加スイーツ店</p>
              <p>質問のたびに"なるほど"が返ってくるから、何を直すべきかが明確になった。</p>
            </div>
            <div class="image"><img alt="ECモンスターAIコンサル利用者/無添加スイーツ店" src="/wp-assets/img/top/img_06.jpg" /></div>
          </div>
          <div class="box-wrap">
            <div class="image"><img alt="ECモンスターAIコンサル利用者/革小物ブランド" src="/wp-assets/img/top/img_07.jpg" /></div>
            <div class="txt">
              <p class="ttl">Amazon／副業革小物ブランド</p>
              <p>どうやるか"じゃなく"なぜやるか"をAIが教えてくれるから自分で戦略が組めるようになった。</p>
            </div>
          </div>
          <div class="box-wrap">
            <div class="txt">
              <p class="ttl">Amazon／アクセサリー</p>
              <p>AIの指摘で、自分がいかに感情で広告を打っていたかに気づきました。</p>
            </div>
            <div class="image"><img alt="ECモンスターAIコンサル利用者/アクセサリー" src="/wp-assets/img/top/img_08.jpg" /></div>
          </div>
          <div class="box-wrap">
            <div class="image"><img alt="ECモンスターAIコンサル利用者/家具工房" src="/wp-assets/img/top/img_09.jpg" /></div>
            <div class="txt">
              <p class="ttl">自社EC（Shopify）／家具工房</p>
              <p>社員に『こういう理由でここを直す』と説明できるようになった。それだけでも価値があった。</p>
            </div>
          </div>
        </div>

        <div class="movie">
          <h3 class="sub-ttl">動画講座　楽天市場編</h3>
          <div class="box-wrap">
            <div class="txt">
              <p class="ttl">楽天市場／アパレル</p>
              <p>地道な努力ですが確実に成果が出ているのが分かります。</p>
            </div>
            <div class="image"><img alt="ECモンスター動画視聴者/アパレル" src="/wp-assets/img/top/img_10.jpg" /></div>
          </div>
          <div class="box-wrap">
            <div class="image"><img alt="ECモンスター動画視聴者/スポーツ" src="/wp-assets/img/top/img_11.jpg" /></div>
            <div class="txt">
              <p class="ttl">楽天市場／スポーツ</p>
              <p>繰り返し見ています。とてもわかり易いです。</p>
            </div>
          </div>
          <div class="box-wrap">
            <div class="txt">
              <p class="ttl">楽天市場／眼鏡</p>
              <p>明確に方向性が示されていると思いました。</p>
            </div>
            <div class="image"><img alt="ECモンスター動画視聴者/眼鏡" src="/wp-assets/img/top/img_12.jpg" /></div>
          </div>
          <div class="box-wrap">
            <div class="image"><img alt="ECモンスター動画視聴者/菓子" src="/wp-assets/img/top/img_13.jpg" /></div>
            <div class="txt">
              <p class="ttl">楽天市場／菓子</p>
              <p>いろんな作業をいかに効率よくやるかが大切を学びました。</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>
