---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="特定商取引に関する法律に基づく表示-株式会社ECコンサルカンパニー"
  description="事業者：株式会社ECコンサルカンパニー　代表者・業務責任者：江藤政親　所在地：〒105-0013 東京都港区浜松町2-2-3　磯山ビル3階　商品代金以外の必要料金：消費税、銀行振り込み手数料　注文方法：ホームページの入力フォーム　返金：商品違いの場合は返金可能　お支払方法：銀行振込　お支払い期限：1週間以内　プライバシー保護：ご注文やお問い合わせの際、入力いただくお客様の個人情報は商品の発送や問い合わせにお答えするために必要なもので、それ以外の目的や第三者への提供は一切ありませんのでご安心ください。">
<link rel="stylesheet" href="/wp-assets/css/eccc-pages.css" slot="css" />

<nav id="sub_nav" class="cf">
  <ul class="cf">
	  <li><a href="/eccc-company/philosophy/"><img src="/wp-assets/img/eccc/company_btn01.png" alt="企業理念"></a></li>
	  <li><a href="/eccc-company/message/"><img src="/wp-assets/img/eccc/company_btn02.png" alt="トップメッセージ"></a></li>
	  <li><a href="/eccc-company/recruit/"><img src="/wp-assets/img/eccc/company_btn03.png" alt="求人情報"></a></li>	  
  </ul>
 </nav>
<div id="sub_contents" class="wrap950 padding100 recruitment">
<section class="law cf">
  <h2 class="h2_sub btm_mar40">特定商取引に関する法律に基づく表示</h2>
<dl>
<dt>事業者</dt>
<dd><p>株式会社ECコンサルカンパニー</p></dd>
<dt>代表者</dt>
<dd><p>江藤　政親</p></dd>
<dt>業務責任者</dt>
<dd><p>江藤　政親</p></dd>
<dt>所在地</dt>
<dd><p>〒105-0013  東京都港区浜松町2-2-3　磯山ビル3階</p></dd>
<dt>メールアドレス</dt>
<dd><p><a href="&#109;ai&#108;to&#58;i&#110;f&#111;&#64;&#101;&#116;&#111;&#99;omi.c&#111;m">&#105;&#110;f&#111;&#64;&#101;t&#111;&#99;&#111;&#109;&#105;&#46;&#99;&#111;m</a></p></dd>
<dt>ホームページ</dt>
<dd><p>h&#116;t&#112;&#58;&#47;&#47;&#119;&#119;&#119;&#46;&#101;&#99;c&#99;&#46;&#99;&#111;&#46;&#106;&#112;&#47;</p></dd>
<dt>商品代金以外の必要料金</dt>
<dd><p>消費税、銀行振り込み手数料</p></dd>
<dt>注文方法</dt>
<dd><p>ホームページの入力フォーム</p></dd>
<dt>返金</dt>
<dd><p>商品違いの場合は返金可能</p></dd>
<dt>お支払方法</dt>
<dd><p>銀行振り込み</p></dd>
<dt>お支払い期限</dt>
<dd><p>1週間以内</p></dd>
<dt>プライバシー保護</dt>
<dd><p>ご注文やお問い合わせの際、入力いただくお客様の個人情報は商品の発送や問い合わせにお答えするために必要なもので、それ以外の目的や第三者への提供は一切ありませんのでご安心ください。<br />
<a href="/privacy-policy/">弊社のプライバシーポリシー &gt;&gt;</a></p></dd>
</dl>



</section>

<!-- #sub_contents -->
</BaseLayout>
