---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
  title="特定商取引法に基づく表記 - EC モンスター"
  description="A commitment to innovation and sustainability Études is"
  bodyClass="wp-singular page-template-default page page-id-12 wp-theme-ecmonster page-legal-notice"
>
  <link slot="css" rel="stylesheet" href="/wp-assets/css/legal-notice.css" />
  <link slot="css" rel="stylesheet" href="/wp-assets/css/cf7.css" />

<div class="page-wrap legal-wrap">
    <div class="l_inner">
        <section>
            <h1 class="page-ttl uline">特定商取引法に基づく表記</h1>
            <dl class="info">
                <dt>販売事業者名</dt>
                <dd>アンリミテッドアム株式会社</dd>
                <dt>運営統括責任者</dt>
                <dd>江藤　正親</dd>
                <dt>所在地</dt>
                <dd>〒103-0025<br>
                    東京都中央区日本橋茅場町2丁目14−1 第一井上ビル 301</dd>
                <dt>電話番号</dt>
                <dd>03-4400-8628</dd>
                <dt>お問い合わせ時間</dt>
                <dd>平日10:00～17:00</dd>
                <dt>連絡先／ホームページ</dt>
                <dd>/</dd>
                <dt>連絡先／電子メール</dt>
                <dd><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="76151918021715023613151b191805021304581c06">[email&#160;protected]</a></dd>
                <dt>販売価格</dt>
                <dd>22,000円（税込）</dd>
                <dt>商品代金以外に必要な費用</dt>
                <dd>消費税　2,000円</dd>
                <dt>お支払方法</dt>
                <dd>クレジットカード</dd>
                <dt>注文確認までにかかる時間</dt>
                <dd>24時間以内</dd>
                <dt>商品発送までにかかる日数</dt>
                <dd>24時間以内</dd>
                <dt>商品引渡し時期</dt>
                <dd>決済完了後、24時間以内にメールにてご案内いたします。</dd>
                <dt>返品・キャンセルについて</dt>
                <dd>購入日から3日以内にお問い合わせフォームでご連絡ください。</dd>
                <dt>不良品について</dt>
                <dd>ご注文内容と異なる、またはデータ等が破損している場合は3日以内に弊社までご連絡ください。状況確認後に改めてサービス提供を致します。</dd>
            </dl>
        </section>
    </div>
</div>
<!--page-wrap -->

</BaseLayout>
