---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
  title="【ECモンスター】ECモールの攻略方法を解説した動画セミナー 2話無料公開中。"
  description="これからモールに出店する人、出店しているが利益が出ない人に向けた攻略法を分かりやすく解説。モールで利益を出すために必要な知識やノウハウを惜しげもなく公開中です。"
  bodyClass="wp-singular page-template-default page page-id-158 wp-theme-ecmonster page-movie"
>
  <link slot="css" rel="stylesheet" href="/wp-assets/css/movie.css" />
  <link slot="css" rel="stylesheet" href="/wp-assets/css/cf7.css" />

<main class="main-contents top-wrap">
    <section class="mv">
        <h1><img alt="EC MONSTER" src="/wp-assets/img/movie/img_01.png" alt="ECモンスター【ECの怪物になれ！】ゼロからECで勝ち上がる方法を動画で解説。">
        </h1>
        <div class="l_inner">
            <ul class="cta-wrap">
                <li><a href="https://elearnig.vercel.app/p/rakuten/rakuten2/" class="btn btn-cta" target="_blank">楽天市場で成功する方法を見る<br>
                        （2話無料公開）</a></li>
                <li><img src="/wp-assets/img/movie/img_14.png" alt="ECモンスターAmazon編Coming soon"></li>
            </ul>
        </div>
    </section>
    <section class="about" id="about">
        <div class="l_inner">
            <h2 class="sec-ttl">ECモンスターとは</h2>
            <img src="/wp-assets/img/movie/img_02.png" alt="本気でECで成功したい人への道しるべを解説した動画です！">
            <div class="movie">
                <video poster="/wp-assets/img/movie/thum_01.jpg" controls playsinline preload="none">
                    <source src="/wp-assets/img/movie/movie_01.mp4" type="video/mp4">
                </video>
            </div>
            <img src="/wp-assets/img/movie/img_03.png" alt="動画視聴後は同業者コミュニティへの参加やショップ様と運営者とのマッチングのご紹介もあります。">
            <ul class="list">
                <li><strong>ECモールで成功するためのノウハウを凝縮して紹介</strong></li>
                <li><strong>必要な項目だけに絞った内容で成功への最短ルートを提示</strong></li>
                <li><strong>ほとんどの人が知らないロジックを惜しげもなく公開</strong></li>
                <li><strong>業界最古参、年商億突破店舗を200社以上指導してきた実績</strong></li>
            </ul>
        </div>
    </section>
    <section class="profile" id="profile">
        <div class="l_inner">
            <h2 class="sec-ttl">講師紹介</h2>
            <img src="/wp-assets/img/movie/img_05.jpg" alt="楽天3年連続総合3位受賞の実績を持つ講師">
            <div class="l_box-wrap box01">
                <div class="image"><img src="/wp-assets/img/movie/img_06.jpg" alt="講師：江藤正親">
                </div>
                <div class="txt">
                    <p><strong>江藤 正親</strong>（えとう まさちか）</p>
                    <p>明治大学卒業後、送電線建設会社、コンサル会社、メーカーと転職の後に独立。独立系ECコンサルタントとしては日本最古。<br>
                        ECサイト運営事業者の経営面「資金繰り、採用、研修、マネジメント、売るノウハウ、仕入れ、商品開発、物流」あらゆるノウハウに精通。億単位の売上を目指す支援のスペシャリスト。<br>
                        1999年よりネットショップ運営に携わり、自身3年間、ネットショップを運営に携わり立ち上げから1年半で月商4500万を達成。3年連続楽天総合3位。<br>
                        サポート実績企業は1000超え指導店舗200社以上が年商1億円1以上の実績を持つ。17名のEC関連本の著者を輩出。自ら著書3冊を持ち、新聞、雑誌など各メディアに寄稿。<br>
                        全国47都道府県に講演をし、EC業界のさらなる発展のために活動。<br>
                        2013年設立した一般社団法人ジャパンEコマースコンサルタント協会は最新の日本と海外事例をECコンサルタントにアップデートしていく協会で、2017年設立の一般社団法人日本イーコマース学会は大学にイーコマース学部設立と中小零細向け産学連携商品エビデンスを出す仕組みを構築。
                    </p>
                    <img src="/wp-assets/img/movie/img_07.png" alt="江藤正親の執筆本" class="book">
                </div>
            </div>
            <div class="box02">
                <h3 class="box-ttl">ジャパンEコマースコンサルタント協会（JECCICA）　日本イーコマース学会の理事を努めています</h3>
                <div class="l_box-wrap">
                    <div class="txt">
                        <p class="ttl">JECCICA　一般社団法人ジャパンEコマースコンサルタント協会</p>
                        <p>Eコマースを支える人材育成のため、ECコンサルタントを養成し、コンサルティング業だけでなく、EC運営に必要なノウハウを体系的に学べる資格を授与している団体です。<br>
                            各分野のプロフェッショナル達による、実践講座やセミナー、パネルディスカッションなどのコンテンツを提供しています。
                        </p>
                    </div>
                    <div class="image"><img src="/wp-assets/img/movie/img_08.jpg" alt="JECCICA：ジャッパンEコマースコンサルタント協会">
                    </div>
                </div>
                <div class="l_box-wrap">
                    <div class="txt">
                        <p class="ttl">JASEC　一般社団法人 日本イーコマース学会</p>
                        <p>今まで困難だった大学との連携によるEC商品の開発・人材確保・学術検証・先端技術導入などを容易にすることで、すべてのEC事業者の発展に貢献しています。</p>
                    </div>
                    <div class="image">
                        <img src="/wp-assets/img/movie/img_09.jpg" alt="JASEC；一般社団法人日本イーコマース学会">
                    </div>
                </div>
            </div>
            <ul class="cta-wrap">
                <li><a href="https://elearnig.vercel.app/p/rakuten/rakuten2/" class="btn btn-cta" target="_blank">楽天市場で成功する方法を見る<br>
                        （2話無料公開）</a></li>
                <li><img src="/wp-assets/img/movie/img_14.png" alt="ECモンスターAmazon編Coming soon"></li>
            </ul>
        </div>
    </section>
    <section class="guide-rakuten" id="guide-rakuten">
        <div class="l_inner">
            <h2 class="sec-ttl">楽天市場出店ガイド</h2>
            <div class="article-box">
                                            <h3 class="cat-ttl">1. 楽天市場とは？</h3>
                            <ul class="article-list">
                                                                    <li>
                                        <a href="/guide-rakuten/1-%e6%a5%bd%e5%a4%a9%e5%b8%82%e5%a0%b4%e3%81%a8%e3%81%af%ef%bc%9f/%e6%a5%bd%e5%a4%a9%e5%b8%82%e5%a0%b4%e3%81%ae%e6%a6%82%e8%a6%81%e3%81%a8%e8%a6%8f%e6%a8%a1/">楽天市場の概要と規模</a>
                                    </li>
                                                                    <li>
                                        <a href="/guide-rakuten/1-%e6%a5%bd%e5%a4%a9%e5%b8%82%e5%a0%b4%e3%81%a8%e3%81%af%ef%bc%9f/%e4%bb%96ec%e3%82%b5%e3%82%a4%e3%83%88%e3%81%a8%e3%81%ae%e9%81%95%e3%81%84/">他ECサイトとの違い</a>
                                    </li>
                                                                    <li>
                                        <a href="/guide-rakuten/1-%e6%a5%bd%e5%a4%a9%e5%b8%82%e5%a0%b4%e3%81%a8%e3%81%af%ef%bc%9f/%e6%a5%bd%e5%a4%a9%e5%b8%82%e5%a0%b4%e3%82%92%e9%81%b8%e3%81%b6%e3%83%a1%e3%83%aa%e3%83%83%e3%83%88/">楽天市場を選ぶメリット</a>
                                    </li>
                                                            </ul>
                                                <h3 class="cat-ttl">2. 出店の準備</h3>
                            <ul class="article-list">
                                                                    <li>
                                        <a href="/guide-rakuten/2-%e5%87%ba%e5%ba%97%e3%81%ae%e6%ba%96%e5%82%99/%e6%a5%bd%e5%a4%a9%e5%b8%82%e5%a0%b4%e5%87%ba%e5%ba%97%e3%81%ae%e6%ba%96%e5%82%99%ef%bc%9a%e5%bf%85%e8%a6%81%e3%81%aa%e6%9b%b8%e9%a1%9e%e3%81%a8%e6%83%85%e5%a0%b1/">楽天市場出店の準備：必要な書類と情報</a>
                                    </li>
                                                                    <li>
                                        <a href="/guide-rakuten/2-%e5%87%ba%e5%ba%97%e3%81%ae%e6%ba%96%e5%82%99/%e6%a5%bd%e5%a4%a9%e5%b8%82%e5%a0%b4%e5%87%ba%e5%ba%97%e3%81%be%e3%81%a7%e3%81%ae%e3%82%b9%e3%82%b1%e3%82%b8%e3%83%a5%e3%83%bc%e3%83%ab%e6%84%9f/">楽天市場出店までのスケジュール感</a>
                                    </li>
                                                                    <li>
                                        <a href="/guide-rakuten/2-%e5%87%ba%e5%ba%97%e3%81%ae%e6%ba%96%e5%82%99/%e6%a5%bd%e5%a4%a9%e5%b8%82%e5%a0%b4%e3%81%ae%e5%87%ba%e5%ba%97%e3%83%97%e3%83%a9%e3%83%b3%e3%81%ae%e9%81%b8%e3%81%b3%e6%96%b9%ef%bc%9a%e3%83%a9%e3%82%a4%e3%83%88%e3%83%97%e3%83%a9%e3%83%b3%e3%80%81/">楽天市場の出店プランの選び方：ライトプラン、スタンダードプランなど</a>
                                    </li>
                                                            </ul>
                                                <h3 class="cat-ttl">3. 楽天市場での初期設定</h3>
                            <ul class="article-list">
                                                                    <li>
                                        <a href="/guide-rakuten/settings/%e3%82%b7%e3%83%a7%e3%83%83%e3%83%97%e9%96%8b%e8%a8%ad%e3%81%ae%e6%b5%81%e3%82%8c/">ショップ開設の流れ</a>
                                    </li>
                                                                    <li>
                                        <a href="/guide-rakuten/settings/%e3%82%b7%e3%83%a7%e3%83%83%e3%83%97%e3%83%9a%e3%83%bc%e3%82%b8%e3%81%ae%e3%83%87%e3%82%b6%e3%82%a4%e3%83%b3%e3%81%a8%e3%82%ab%e3%82%b9%e3%82%bf%e3%83%9e%e3%82%a4%e3%82%ba/">ショップページのデザインとカスタマイズ</a>
                                    </li>
                                                                    <li>
                                        <a href="/guide-rakuten/settings/%e5%95%86%e5%93%81%e7%99%bb%e9%8c%b2%e3%81%ae%e5%9f%ba%e6%9c%ac%e3%83%ab%e3%83%bc%e3%83%ab/">商品登録の基本ルール</a>
                                    </li>
                                                            </ul>
                                                <h3 class="cat-ttl">4. 効果的な商品ページの作り方</h3>
                            <ul class="article-list">
                                                                    <li>
                                        <a href="/guide-rakuten/productpage/%e5%95%86%e5%93%81%e3%82%bf%e3%82%a4%e3%83%88%e3%83%ab%e3%81%a8%e8%aa%ac%e6%98%8e%e6%96%87%e3%81%ae%e6%9c%80%e9%81%a9%e5%8c%96/">商品タイトルと説明文の最適化</a>
                                    </li>
                                                                    <li>
                                        <a href="/guide-rakuten/productpage/%e7%94%bb%e5%83%8f%e3%81%ae%e9%87%8d%e8%a6%81%e6%80%a7%e3%81%a8%e3%83%9d%e3%82%a4%e3%83%b3%e3%83%88/">画像の重要性とポイント</a>
                                    </li>
                                                                    <li>
                                        <a href="/guide-rakuten/productpage/%e6%a4%9c%e7%b4%a2%e4%b8%8a%e4%bd%8d%e3%81%ab%e8%a1%a8%e7%a4%ba%e3%81%95%e3%82%8c%e3%82%8b%e3%81%9f%e3%82%81%e3%81%aeseo%e5%af%be%e7%ad%96/">検索上位に表示されるためのSEO対策</a>
                                    </li>
                                                            </ul>
                                                <h3 class="cat-ttl">5. 集客・販売促進のコツ</h3>
                            <ul class="article-list">
                                                                    <li>
                                        <a href="/guide-rakuten/promotion/%e6%a5%bd%e5%a4%a9%e3%82%b9%e3%83%bc%e3%83%91%e3%83%bc%e3%82%bb%e3%83%bc%e3%83%ab%e3%82%84%e3%82%ad%e3%83%a3%e3%83%b3%e3%83%9a%e3%83%bc%e3%83%b3%e6%b4%bb%e7%94%a8%e6%b3%95/">楽天スーパーセールやキャンペーン活用法</a>
                                    </li>
                                                                    <li>
                                        <a href="/guide-rakuten/promotion/%e3%82%af%e3%83%bc%e3%83%9d%e3%83%b3%e3%81%a8%e3%83%9d%e3%82%a4%e3%83%b3%e3%83%88%e6%88%a6%e7%95%a5/">クーポンとポイント戦略</a>
                                    </li>
                                                                    <li>
                                        <a href="/guide-rakuten/promotion/%e6%a5%bd%e5%a4%a9%e3%82%a2%e3%83%95%e3%82%a3%e3%83%aa%e3%82%a8%e3%82%a4%e3%83%88%e3%81%ae%e6%b4%bb%e7%94%a8/">楽天アフィリエイトの活用</a>
                                    </li>
                                                            </ul>
                                                <h3 class="cat-ttl">6. 運営・管理のポイント</h3>
                            <ul class="article-list">
                                                                    <li>
                                        <a href="/guide-rakuten/operation/%e5%a3%b2%e4%b8%8a%e7%ae%a1%e7%90%86%e3%81%a8%e5%88%86%e6%9e%90%e3%83%84%e3%83%bc%e3%83%ab%e3%81%ae%e4%bd%bf%e3%81%84%e6%96%b9/">売上管理と分析ツールの使い方</a>
                                    </li>
                                                                    <li>
                                        <a href="/guide-rakuten/operation/%e9%a1%a7%e5%ae%a2%e5%af%be%e5%bf%9c%e3%81%a8%e3%83%ac%e3%83%93%e3%83%a5%e3%83%bc%e7%ae%a1%e7%90%86%e3%81%ae%e9%87%8d%e8%a6%81%e6%80%a7/">顧客対応とレビュー管理の重要性</a>
                                    </li>
                                                                    <li>
                                        <a href="/guide-rakuten/operation/%e3%83%88%e3%83%a9%e3%83%96%e3%83%ab%e6%99%82%e3%81%ae%e5%af%be%e5%bf%9c%e6%96%b9%e6%b3%95/">トラブル時の対応方法</a>
                                    </li>
                                                            </ul>
                                                <h3 class="cat-ttl">7. 楽天市場で成功するためのヒント</h3>
                            <ul class="article-list">
                                                                    <li>
                                        <a href="/guide-rakuten/tips_for_success/%e6%88%90%e5%8a%9f%e4%ba%8b%e4%be%8b%e3%81%8b%e3%82%89%e5%ad%a6%e3%81%b6%e6%88%90%e9%95%b7%e6%88%a6%e7%95%a5/">成功事例から学ぶ成長戦略</a>
                                    </li>
                                                                    <li>
                                        <a href="/guide-rakuten/tips_for_success/%e5%b7%ae%e5%88%a5%e5%8c%96%e3%81%a8%e3%83%96%e3%83%a9%e3%83%b3%e3%83%87%e3%82%a3%e3%83%b3%e3%82%b0%e3%81%ae%e5%b7%a5%e5%a4%ab/">差別化とブランディングの工夫</a>
                                    </li>
                                                                    <li>
                                        <a href="/guide-rakuten/tips_for_success/%e9%95%b7%e6%9c%9f%e7%9a%84%e3%81%aa%e5%a3%b2%e4%b8%8a%e5%90%91%e4%b8%8a%e3%81%ae%e3%81%9f%e3%82%81%e3%81%ae%e6%96%bd%e7%ad%96/">長期的な売上向上のための施策</a>
                                    </li>
                                                            </ul>
                                                <h3 class="cat-ttl">8. 出店後によくある課題と解決法</h3>
                            <ul class="article-list">
                                                                    <li>
                                        <a href="/guide-rakuten/solutions/%e5%9c%a8%e5%ba%ab%e7%ae%a1%e7%90%86%e3%81%ae%e5%a4%b1%e6%95%97%e3%82%92%e9%98%b2%e3%81%90/">在庫管理の失敗を防ぐ</a>
                                    </li>
                                                                    <li>
                                        <a href="/guide-rakuten/solutions/%e5%ba%83%e5%91%8a%e8%b2%bb%e7%94%a8%e5%af%be%e5%8a%b9%e6%9e%9c%e3%81%ae%e6%94%b9%e5%96%84/">広告費用対効果の改善</a>
                                    </li>
                                                                    <li>
                                        <a href="/guide-rakuten/solutions/%e8%b2%a9%e5%a3%b2%e3%83%87%e3%83%bc%e3%82%bf%e3%82%92%e6%b4%bb%e7%94%a8%e3%81%97%e3%81%9f%e6%88%a6%e7%95%a5%e8%a6%8b%e7%9b%b4%e3%81%97/">販売データを活用した戦略見直し</a>
                                    </li>
                                                            </ul>
                                                <h3 class="cat-ttl">9. 楽天市場出店における注意点</h3>
                            <ul class="article-list">
                                                                    <li>
                                        <a href="/guide-rakuten/note/%e6%a5%bd%e5%a4%a9%e8%a6%8f%e7%b4%84%e3%81%ae%e9%87%8d%e8%a6%81%e3%83%9d%e3%82%a4%e3%83%b3%e3%83%88/">楽天規約の重要ポイント</a>
                                    </li>
                                                                    <li>
                                        <a href="/guide-rakuten/note/%e7%a6%81%e6%ad%a2%e4%ba%8b%e9%a0%85%e3%82%84%e3%83%9a%e3%83%8a%e3%83%ab%e3%83%86%e3%82%a3%e3%81%ab%e3%81%a4%e3%81%84%e3%81%a6/">禁止事項やペナルティについて</a>
                                    </li>
                                                                    <li>
                                        <a href="/guide-rakuten/note/%e5%a5%91%e7%b4%84%e6%9b%b4%e6%96%b0%e3%83%bb%e8%a7%a3%e7%b4%84%e3%81%ae%e9%9a%9b%e3%81%ae%e7%95%99%e6%84%8f%e7%82%b9/">契約更新・解約の際の留意点</a>
                                    </li>
                                                            </ul>
                                                <h3 class="cat-ttl">10. まとめと次のステップ</h3>
                            <ul class="article-list">
                                                                    <li>
                                        <a href="/guide-rakuten/summary/%e5%87%ba%e5%ba%97%e3%82%92%e6%88%90%e5%8a%9f%e3%81%95%e3%81%9b%e3%82%8b%e3%81%9f%e3%82%81%e3%81%ae%e6%9c%80%e9%87%8d%e8%a6%81%e3%83%9d%e3%82%a4%e3%83%b3%e3%83%88/">出店を成功させるための最重要ポイント</a>
                                    </li>
                                                                    <li>
                                        <a href="/guide-rakuten/summary/%e5%87%ba%e5%ba%97%e5%be%8c%e3%81%ae%e3%82%b9%e3%83%86%e3%83%83%e3%83%97%e3%82%a2%e3%83%83%e3%83%97%e8%a8%88%e7%94%bb/">出店後のステップアップ計画</a>
                                    </li>
                                                                    <li>
                                        <a href="/guide-rakuten/summary/%e4%bb%96%e3%81%aeec%e3%83%81%e3%83%a3%e3%83%8d%e3%83%ab%e3%81%a8%e3%81%ae%e9%80%a3%e6%90%ba%e6%96%b9%e6%b3%95/">他のECチャネルとの連携方法</a>
                                    </li>
                                                            </ul>
                                                </div>
        </div>
    </section>
    <section class="blog" id="blog">
        <div class="l_inner">
            <h2 class="sec-ttl">コンサルタントの思考</h2>
            <p class="lead">業者、営業のポジショントークに騙されない<br>本質をとらえる思考ノート</p>
                            <ul class="article-list">
                                            <li>
                            <a href="/blog/uncategorized/1-%e5%9c%b0%e6%96%b9%e5%89%b5%e7%94%9f%e3%81%ae%e5%98%98/">
                                <p class="ttl">1.地方創生の嘘</p>
                            </a>
                        </li>
                                            <li>
                            <a href="/blog/uncategorized/2-%e3%83%aa%e3%83%94%e3%83%bc%e3%83%88%e3%80%81%e3%83%95%e3%82%a1%e3%83%b3%e3%81%ae%e5%98%98/">
                                <p class="ttl">2.リピート、ファンの嘘</p>
                            </a>
                        </li>
                                            <li>
                            <a href="/blog/uncategorized/3-ai%e3%81%ae%e5%98%98/">
                                <p class="ttl">3.AIの嘘</p>
                            </a>
                        </li>
                                    </ul>
                    </div>
    </section>
    <section class="voice" id="voice">
        <div class="l_inner">
            <h2 class="sec-ttl">視聴者の声</h2>
            <div class="movie">
                <video poster="/wp-assets/img/movie/thum_02.jpg" controls playsinline preload="none">
                    <source src="/wp-assets/img/movie/movie_02.mp4" type="video/mp4">
                </video>
            </div>
            <div class="box txt-r">
                <div class="txt"><span class="image"> <img alt="視聴者の声 T.S.様" src="/wp-assets/img/movie/img_10.png"> </span>
                    <h3 class="ttl">T.S.様　雑貨</h3>
                    <p>雑貨ショプをやっています。店舗だけだと先行きが不安でネットショップも始めることにしました。どうせなら思い切って楽天に出店してみようかと。<br>
                        でもあれこれ調べてみたら、色々ありすぎて何から始めたらいいか、というか何が分からなくて、まずどうしたらいいか分からなくて途方にくれてたんです。<br>
                        でもこの動画を見たら、まず何をすべきか、そしてやることいっぱいあるのがわかりました。逆に楽しみになりました！</p>
                </div>
            </div>
            <div class="box txt-l">
                <div class="txt"><span class="image"> <img alt="視聴者の声 T.K様" src="/wp-assets/img/movie/img_11.png"> </span>
                    <h3 class="ttl">T.K.様　アクセサリー</h3>
                    <p>最初嘘だろうと思ってたんですけど、これ、本当に狙い方教えてくれてますね。<br>
                        びっくりしました。<br>
                        アクセサリーって競合が多くて難しいんです。<br>
                        それでもなんとか売上げはキープ出来てたんですけど、このあたりが限界かなって思ってました。<br>
                        でもこの動画を参考に、さらに上を狙ってみます。</p>
                </div>
            </div>
            <div class="box txt-r">
                <div class="txt"><span class="image"> <img alt="視聴者の声 S.K.様" src="/wp-assets/img/movie/img_12.png"> </span>
                    <h3 class="ttl">S.K.様　菓子</h3>
                    <p>焼き菓子を扱ってます。ありがたいことに評判も良くて、忙しい毎日を送ってます。<br>
                        単価があまり高くないのですが、多くの注文を頂いているお陰で、売上もそこそこあるほうだと思います。
                        こうなってくるとECショップって、いろんな作業をいかに効率よくやるかが大切になってくるのをヒシヒシと感じてます。<br>
                        この動画でいろんな事を学べましたけど、まさか梱包作業場所環境のアドバイスまであるとは。笑<br>
                        どこまでも具体的に、どこまでも親切です。</p>
                </div>
            </div>
            <div class="box txt-l">
                <div class="txt"><span class="image"> <img alt="視聴者の声 K.D.様" src="/wp-assets/img/movie/img_13.png"> </span>
                    <h3 class="ttl">K.D.様　家具</h3>
                    <p>家具・インテリア販売をしてます。高額商品もそこそこ扱っているので実店舗ではまぁまぁの売上が上がっています。でもネットショップではなかなか、と思ってた矢先にこの動画に出会いました。<br>
                        主に学んだことは<br>
                        ・セール前半戦の勝負所はここ・後半戦はここ<br>
                        ・具体的な攻略法<br>
                        実行してみたら売上が伸びて、今では実店舗を軽くしのいでます。
                    </p>
                </div>
            </div>
            <ul class="cta-wrap">
                <li><a href="https://elearnig.vercel.app/p/rakuten/rakuten2/" class="btn btn-cta" target="_blank">楽天市場で成功する方法を見る<br>
                        （2話無料公開）</a></li>
                <li><img src="/wp-assets/img/movie/img_14.png" alt="ECモンスターAmazon編Coming soon"></li>
            </ul>
        </div>
    </section>
</main>

</BaseLayout>
