---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="年商1億円を目指すECコミュニティ　令和えとコミ | 株式会社ECコンサルカンパニー"
  description="ネットショップ（EC、ネット通販）経営者の朝活決定版！自宅でできる平日毎朝6:30から朝礼。ポジティブメッセージ、売上げ目標に対する現状と本日の業務を報告、仲間と情報交換し、朝から脳の活性化をして、ワクワクしながら仕事に取り組めます。">
<link rel="stylesheet" href="/wp-assets/css/eccc-pages.css" slot="css" />

<a href="#etocomi_form" class="etocomi_btn_fix">お問い合わせ<br>お申し込み</a>
<div id="sub_contents" class="wrap950 padding50">
	<div class="ec-heroes heroes-apply">
		<img src="/wp-assets/img/eccc/etocomi_logo.jpg" alt="令和えとコミ" class="btm_mar30">
		<h1><img src="/wp-assets/img/eccc/etocomi_img05.jpg" alt="ネットショップ経営者の朝活｜令和えとコミ"></h1>
		<div class="top-txt txt_center">
			<img src="/wp-assets/img/eccc/etocomi_img07.gif" alt="6:30集合" class="time">
			<ul class="mb50 p36">
				<li><strong>脳の活性化</strong></li>
				<li><strong>仕事に対して前向きな感情を持つ</strong></li>
				<li><strong>夢の実現への第一歩</strong></li>
				<li><strong>新しいこと、困難なことへチャレンジ</strong></li>
				<li><strong>目標達成</strong></li>
			</ul>
		</div>
		<div class="txt_center">
			<p>今までのネットショップの運営方法は間違っている！<br>
				<span class="p36"><strong>大切なのはムードだ！</strong></span><br> ～お客様とお店が楽しく幸せになるコミュニティ～<br> 令和　新時代の売上げアップシステム</p>
			<p>嘘のような本当の話！<br>
				<span class="p36"><strong>頑張らなくても<br> 年商1億円突破しちゃう方程式<br>
					<img src="/wp-assets/img/eccc/ec-heroes/apply_18.gif" alt="" class="btm_mar10"> <br> 年商1億円のために<br>
					頑張ってはいけません！</strong></span></p>
			<p>ついつい頑張り過ぎちゃうあなた！<br> あんまり頑張れないあなた！<br> お金もない、時間もないあなたに！<br>
				<span class="p36 mb50"><strong>年商1億円突破する<br> 究極の奥義を伝授します！</strong></span></p>
			<p class="mb50">実は……。<br> 平日たった30分、みんなと一緒に○○○○するだけなのです。 </p>
			<h2 class="p36 mb40">参加者の声</h2>
		</div>
		<div class="box-wrap img-l">
			<div class="image"> <img src="/wp-assets/img/eccc/ec-heroes/apply_02.png" alt=""> </div>
			<div class="voice">
				<p>朝早いので大酒を飲まなくなった。体調が良くなっって、朝から頭は動くし身体も調子いい。いいことづくし。<br>
					朝に売上げチェックと今日の仕事を考えることは、これほど仕事にいい影響がでると思わなかった。あと、奥さんが頑張ってるって認めてくれた。<br> 売上げアップはこういうことでなるのかなぁ。</p>
			</div>
		</div>
		<div class="box-wrap img-r">
			<div class="voice">
				<p>受講してからほとんど目標達成し続けています。びっくりです。12月には大手モールで受賞できるほどになりました。<br>
					何がすごいのか……。言葉で言い表せないです。みなさんも、ぜひ、体験してください。僕は早く1億円突破します！</p>
			</div>
			<div class="image"> <img src="/wp-assets/img/eccc/ec-heroes/apply_03.png" alt=""> </div>
		</div>
		<div class="box-wrap img-l">
			<div class="image"> <img src="/wp-assets/img/eccc/ec-heroes/apply_04.png" alt=""> </div>
			<div class="voice">
				<p>ムードで売る。雰囲気で売る。その通りなんだけど、なんだかんだと細かいことの積み重ねだと感じました。それが、毎朝、ちゃんとインプットできる。これがすごい！<br>
					チャレンジする意欲と、時間に対するいいわけはなくなりました。<br> 失敗が怖くなくなりました。毎日ラッキーなことが起きます笑</p>
			</div>
		</div>
		<div class="box-wrap img-r">
			<div class="voice">
				<p>えとコミで出会った人に大手流通のトップを紹介していただきました。あっという間に、お取引やキャンペーンの話になり、ちょっとびっくりです。<br>
					とても素敵な仲間が集まってるところだなぁと思いました。あと、江藤さんの細かいフォローも大変ありがたいです。</p>
			</div>
			<div class="image"> <img src="/wp-assets/img/eccc/ec-heroes/apply_05.png" alt=""> </div>
		</div>
		<div class="box-wrap img-l">
			<div class="image"> <img src="/wp-assets/img/eccc/ec-heroes/apply_06.png" alt=""> </div>
			<div class="voice">
				<p>朝礼で相談すると、その場はもちろんですが、それ以外の解決方法やさらに深掘りした具体的なやり方などがコミュニティでフォローされていて大変助かります。<br>
					暇を見つけては、コミュニティの情報を見て勉強しています。<br> 大変参考になります。いつもありがとうございます。</p>
			</div>
		</div>
		<div class="box-wrap img-r mb50">
			<div class="voice">
				<p>ネットだけじゃなくて店内の改善もたくさん、アドバイスいただいて実店舗も大分良くなってきました。<br> スタッフもやる気だしてきましたし、売上げのずっと上がってます。<br>
					考え方や物事の進め方が大分変わりました！<br> 今、家族全員巻き込んで改善しています。ありがとうございました。</p>
			</div>
			<div class="image"> <img src="/wp-assets/img/eccc/ec-heroes/apply_09.png" alt=""> </div>
		</div>
		<div class="txt-wrap">
			<div class="txt_center">
				<h2 class="p36 mb40">まずあなたの○○○○に<br> すぐに変化が起きます。<br> 3ヶ月後には<br> 売上げの変化がやってきます。</h2>
			</div>
		</div>
		<img src="/wp-assets/img/eccc/etocomi_img04.jpg" alt="みんながHIRO!" class="mb40">
		<div class="txt-wrap">
			<div class="concept mb70">
				<div class="txt-wrap">
					<h3 class="p20">■コンセプト：</h3><p> かっこよくあれ！<br>
						<span class="p36"><strong>実行した人がかっこいい！<br> うまくいかなくてもあきらめない人がかっこいい！</strong></span></p>
						<h3 class="p20">■内　容：</h3><p> 毎朝、目標、成果、本日のタスク報告、うまくいかない時の課題解決。<br> コミュニティ内での問題解決ノウハウの情報共有や意見交換。</p>
							<h3 class="p20">■講師の思い：</h3><p> 楽しく元気よく<br> コミットと実行と問題解決が本質にある会にしたいです。<br> 成長者が成功者でみんなが成長できるコミュニティをづくりを目指します。
								</p>
								<h3 class="p20">■指導内容：</h3><p>ツールの使い方、デザイン、コンセプト、メンタル、販売戦略、経営戦略、マネジメント、商品開発、会計、ブログの書き方、SEO、ステップメール、潜在意識、アファメーション、引き寄せの法則などオールジャンル。<br>
売上ステージで全部優先順位が違うので、都度、各社ごとにつたえます。</p>
									<h3 class="p20">■目　的：</h3><p> 目標達成する事に必要なことは雰囲気づくり。<br> 雰囲気で売り上げはあがる。<br>
										切磋琢磨してみんなで応援しあい目標を達成していく雰囲気のいいグループです。<br> 潜在式の書き換え<br>目に見えない力を操る</p>
										<h3 class="p20">■ルール：</h3><p class="p20"> <strong>1.平日毎朝6時半の朝礼に参加する<br> 2.コミュニティ内での数字などの情報公開すること<br>
						3.コミュニティ内の情報を他で話すことの禁止<br> ※各社に許可をとればその範囲ではない<br> 4.コンセプトに共感できること<br> 5.目標と目的を目指せること<br>
						6.毎日の実行結果を発表すること<br> 7.積極的で利他の心で仲間を応援すること<br> 8．1日2時間はネットショップの売上を上げることに時間を使えること</strong></p>
					<h3 class="p20">■参加資格：</h3><p><span class="p20"><strong>素直な経営者のみ</strong></span>（課題で必要な知識を学び、その場で経営判断してもらうため）</p>
						<h3 class="p20">■令和えとコミのコミュニティで学べることの一部</h3><p>
						斎藤一人、ジョン・マクドナルド、ナポレオン・ヒル、イシューからはじめよう、ロジカルシンキング、鏡の法則、ドラッカー、シークレット、マーフィー、カーネギー、藤田田、レイ・ダリオ、サイモン・シネック、エリック・トーマス、ザイオン効果、ブロックチェーン、5G、アンガーマネジメント、一貫性の原理、Googleアナリティクス、商品説明、タモリ、島田紳助、GACKT、孫正義、矢沢永吉、コンセプトメイク、潜在意識、セルフイメージ、アイディア、モチベーション、売れるメルマガ、7つの習慣
					</p>
					<h3 class="p20">■参加にあたって</h3><p> 当コミュニティは近い将来参加者の紹介のみ参加可能なコミュニティへと進化していくつもりです。<span
							class="p20"><strong>今回のお申込みはネットもしくは直接面談させていただく場合がございます。</strong></span>面談完了後、決済を完了させていただきます。ご了承ください。</p>
				</div>
			</div>
		</div>
		<div class="txt_center" id="etocomi_form">
			<h2 class="p36 brdr mb40">支払い方法</h2>
			<p><strong><span class="p36">販売価格：月額2万円</span><span class="p20">（税別）</span><br>
				<span class="p36">年間一括払い：24万円→20万円<span class="p20">（税別）</span></strong></p>
			<!--<a href="/echeroes-etocomi-m-form" class="btn-next p402 mb70">令和えとコミ<br class="sp">お申し込み月額2万円</a>
			<a href="/echeroes-etocomi-y-form" class="btn-next p402 mb70">令和えとコミ<br class="sp">お申し込み年間20万円</a>-->
<div class="cv-common-tel">
                <p><strong>お問い合わせ・お申し込み</strong></p>
                <a href="tel:0351668000" class="tel"><img src="/wp-assets/img/eccc/top_tel.png" alt="03-5166-8000"></a>
            </div>
		</div>
	</div>
</BaseLayout>
