---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="EC運営代行-株式会社ECコンサルカンパニー"
  description="貴方に代わり大切なECショップを運営代行致します。売上改善のためのコンサルティング、サイトの更新、商品登録、集客、メルマガの作成など。お客様は受発注、在庫管理、顧客対応、商品開発などに専念していただけます。毎月ミーティングを実施し、売上報告や販促企画などを立てます。きちんとPDCAサイクルを回すことでお客様に代わって事業を成功に導きます。">
<link rel="stylesheet" href="/wp-assets/css/eccc-pages.css" slot="css" />

<div id="web" class="bg_white">
<div class="wrap950">
<section id="web01">
	<h2 class="btm_mar50"><p class="sub_icatch"><img src="/wp-assets/img/eccc/web_img01.png" width="950"></p></h2>
	<p class="txt_center btm_mar50"><img src="/wp-assets/img/eccc/web_img02_pc.png" width="100%"></p>
	<p class="txt_center btm_mar50"><img src="/wp-assets/img/eccc/web_img03_pc.png" width="100%"></p>
	<p class="txt_center btm_mar50 p18 p_black">売上改善のためのコンサルティング、サイトの更新、商品登録、集客、メルマガの作成など、<br>ECに関わる業務をまるごと代行します。<br>お客様は受発注、在庫管理、顧客対応、商品開発などに専念していただけます。<br>毎月ミーティングを実施し、売上報告や販促企画などを立てます。<br>きちんとPDCAサイクルを回すことでお客様に代わって事業を成功に導きます。</p>
	<p class="txt_center btm_mar50"><img src="/wp-assets/img/eccc/web_img04_pc.png" width="100%"></p>
	<p class="txt_center btm_mar50"><img src="/wp-assets/img/eccc/web_img06.png" width="100%"></p>
	<p class="txt_center btm_mar50"><img src="/wp-assets/img/eccc/web_img05_pc.png" width="100%"></p>
</section>
<section id="web02" class="btm_mar50">
	<h2 class="bg_blue txt_center padding5 web_h2 btm_mar20"><img src="/wp-assets/img/eccc/web_txt.png" width="392"></h2>
	<p class="p_red p20 btm_mar30">ショップ様にとって重要な売上 を達成するための施策を立案します。<br>その中より優先事項を選択してより良いECサイトの運営業務を行います。</p>
	<ul>
		<li class="txt_center">
			<p class="title p18 p_white bg_glay2 padding5">サイト分析・レポート作成</p>
			<p class="img"><img src="/wp-assets/img/eccc/web_li01.png" width="182" alt="img"></p>
			<p class="txt p18">マーケティング・市場調査<br>競合調査・強みの抽出など</p>
		</li>
		<li class="txt_center">
			<p class="title p18 p_white bg_glay2 padding5">販売戦略の立案</p>
			<p class="img"><img src="/wp-assets/img/eccc/web_li02.png" width="182" alt="img"></p>
			<p class="txt p18">分析結果を元に売上の改善に<br>向けた戦略を立てます</p>
		</li>
		<li class="txt_center">
			<p class="title p18 p_white bg_glay2 padding5">既存ページの改善・制作</p>
			<p class="img"><img src="/wp-assets/img/eccc/web_li03.png" width="182" alt="img"></p>
			<p class="txt p18">CVにつなげるための<br>ページ改善・制作をします</p>
		</li>
		<li class="txt_center">
			<p class="title p18 p_white bg_glay2 padding5">リピート対策</p>
			<p class="img"><img src="/wp-assets/img/eccc/web_li04.png" width="182" alt="img"></p>
			<p class="txt p18">メルマガの制作代行<br>リピートにつなげます</p>
		</li>
		<li class="txt_center">
			<p class="title p18 p_white bg_glay2 padding5">SNS更新</p>
			<p class="img"><img src="/wp-assets/img/eccc/web_li05.png" width="182" alt="img"></p>
			<p class="txt p18">Facebook更新<br>※月10回程度</p>
		</li>
		<li class="txt_center">
			<p class="title p18 p_white bg_glay2 padding5">広告・PR管理</p>
			<p class="img"><img src="/wp-assets/img/eccc/web_li06.png" width="182" alt="img"></p>
			<p class="txt p18">広告配信管理<br>google Adwords,<br>Yahoo!リスティング広告等<br>※広告費は別途実費</p>
		</li>								
		<li class="txt_center">
			<p class="title p18 p_white bg_glay2 padding5">CRM・アフターフォロー</p>
			<p class="img"><img src="/wp-assets/img/eccc/web_li07.png" width="182" alt="img"></p>
			<p class="txt p18">顧客満足度・顧客ロイヤリティー<br>向上を目指す運営をします</p>
		</li>
		<li class="txt_center">
			<p class="title p18 p_white bg_glay2 padding5">&nbsp;</p>
		</li>
		<li class="txt_center smp_none">
			<p class="title p18 p_white bg_glay2 padding5">&nbsp;</p>
		</li>
	</ul>
	<p class="txt_center btm_mar30"><img src="/wp-assets/img/eccc/web_img07.png" width="100%" alt="ECショップ運営位代行業務　運営代行費用：20万円＋売上の5%　広告PR管理費用：５万円　※広告費は別途実費かかります。※新規のコンテンツ・ページの作成は別途費用がかかります。※消費是は別途掛かります。"></p>
	<p class="txt_center btm_mar30 web_arrow"><img src="/wp-assets/img/eccc/web_arrow.png" width="193" alt="arrow"></p>
	<p class="txt_center btm_mar30"><img src="/wp-assets/img/eccc/web_txt02.png" width="743" alt="顧客対応・受注対応もお任せ下さい。"></p>
	<h2 class="bg_pur txt_center padding5 web_h2 btm_mar20"><img src="/wp-assets/img/eccc/web_img09.png" width="359"></h2>
	<p class="p_red p20 btm_mar30">運営代行にプラスして、受注代行もお引き受けすることも致します。<br>顧客対応から受注・発送指示までお客様に変わりお引き受け致します。<br>※商品の仕入れ・在庫の管理・商品の梱包はお客様の業務になります。</p>
	<ul class="btm_mar30">
		<li class="txt_center">
			<p class="title p18 p_white bg_glay2 padding5">顧客対応・お問合わせ対応</p>
			<p class="img"><img src="/wp-assets/img/eccc/web_li2_01.png" width="182" alt="img"></p>
			<p class="txt p18">お問合わせ対応を<br>代行いたします</p>
		</li>
		<li class="txt_center">
			<p class="title p18 p_white bg_glay2 padding5">入金確認・管理</p>
			<p class="img"><img src="/wp-assets/img/eccc/web_li2_02.png" width="182" alt="img"></p>
			<p class="txt p18">入出金管理<br>請求書発行を代行</p>
		</li>
		<li class="txt_center">
			<p class="title p18 p_white bg_glay2 padding5">発送指示・管理</p>
			<p class="img"><img src="/wp-assets/img/eccc/web_li2_03.png" width="182" alt="img"></p>
			<p class="txt p18">発送の指示<br>伝票管理をします</p>
		</li>
		<li class="txt_center">
			<p class="title p18 p_white bg_glay2 padding5">アフターメールフォロー</p>
			<p class="img"><img src="/wp-assets/img/eccc/web_li2_04.png" width="182" alt="img"></p>
			<p class="txt p18">サンクスメール<br>フォローメール送信代行</p>
		</li>
		<li class="txt_center">
			<p class="title p18 p_white bg_glay2 padding5">銀行口座管理・レポート提出</p>
			<p class="img"><img src="/wp-assets/img/eccc/web_li2_05.png" width="182" alt="img"></p>
			<p class="txt p18">銀行講座管理情況<br>をレポートで報告</p>
		</li>							
		<li class="txt_center">
			<p class="title p18 p_white bg_glay2 padding5">&nbsp;</p>
		</li>
	</ul>
	<p class="txt_center btm_mar100"><img src="/wp-assets/img/eccc/web_img08.png" width="100%" alt="運営・受注まるごと代行料金　●運営代行費用：40万円＋売上の10%●広告PR管理費用：5万円　※広告費は別途実費かかります。※新規のコンテンツ・ページの作成は別途費用がかかります。※消費是は別途掛かります。ショップ様のご負担を軽減！人材育成のノウハウも成長するまでの時間も必要ありません！即戦力の弊社スタッフが対応します。専任担当者を一人雇用されるよりも遥かにリーズナブル。"></p>			
</section>
	<div id="step02">
	 <h2 class="txt_center p50 p_min btm_mar10">「まるごとおまかせECサイト運営代行」</h2>
	 <p class="txt_center p30 p_min btm_mar30"><strong>お申込みの流れ</strong></p>
	 <ul class="cf">
		 <li class="cf bg_glay mar height1">
			 <p class="title p30 p_min p_white bg_blue"><span><img src="/wp-assets/img/eccc/ec_step01.png" width="67" alt="STEP1"></span>お申込み</p>
			 <img src="/wp-assets/img/eccc/ec_step01_img.png" width="160" alt="photo" class="flt">
			 <p class="txt p14 p_glay">お申込みフォームもしくは、お電話からお申込みください。</p>
		 </li>
		 <li class="cf bg_glay height1">
			 <p class="title p30 p_min p_white bg_blue"><span><img src="/wp-assets/img/eccc/ec_step02.png" width="67" alt="STEP2"></span>事前ヒアリング</p>
			 <img src="/wp-assets/img/eccc/ec_step02_img.png" width="160" alt="photo" class="flt">
			 <p class="txt p14 p_glay">数回のメールでのやりとり、及び打ち合わせ（直接orスカイプ）によってお客様のご要件をヒアリング致します。
ヒアリングシートに詳しくご記入いただく場合もございます。</p>
		 </li>    
		 <li class="cf bg_glay mar height2">
			 <p class="title p30 p_min p_white bg_blue"><span><img src="/wp-assets/img/eccc/ec_step03.png" width="67" alt="STEP3"></span>契約締結</p>
			 <img src="/wp-assets/img/eccc/ec_step03_img.png" width="160" alt="photo" class="flt">
			 <p class="txt p14 p_glay">ヒアリングした内容を元に、プランニングを行いご提案。<br>ご提案内容にご納得いただけたら契約締結となります。<br>また、ショップ様の現状を把握するために「カートシステムや分析ツールのログイン情報」を開示していただきます。</p>
		 </li>      
		 <li class="cf bg_glay height2">
			 <p class="title p30 p_min p_white bg_blue"><span><img src="/wp-assets/img/eccc/ec_step04.png" width="67" alt="STEP4"></span>サービス開始</p>
			 <img src="/wp-assets/img/eccc/ec_step04_img.png" width="160" alt="photo" class="flt">
			 <p class="txt p14 p_glay">契約締結後1週間以内にご入金いただきます。ご入金の確認が取れたらサービス開始となります。</p>
		 </li>          
     </ul>
	</div>
</div>
</section>


</div>
<!-- #web --></div>
<section class="contact_info top_con bg_blue padding80 p_white">
	<p class="p40 txt_center p_min border btm_mar20"><strong>無料でまずはご相談</strong></p>
	<p class="p20 txt_center btm_mar20 sp_p_left">分からない事やお悩み事、運営代行に関するご質問はこちらから。<br>弊社からはしつこい営業行為は致しませんので、何でもご相談下さい。</p>
	<p class="txt_center btm_mar20"><a href="/contactus"><img src="/wp-assets/img/eccc/btn_tel.png" width="618"></a></p>
	<p class="txt_center"><a href="tel:0357764900"><img src="/wp-assets/img/eccc/top_tel.png" width="446"></a></p>
</section>
</BaseLayout>
