---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="お客様のニーズに合うWebシステムを開発、構築します。株式会社ECコンサルカンパニー"
  description="ECコンサルカンパニーは18年間のノウハウと知識を武器にお客様のニーズに合うWebシステムを開発、構築します。事業計画を元に設計するWebシステムを開発・構築致し、商品の開発から販促プロモーション、LPの作成、撮影、商品の販売、受注・発注、顧客対応、アフターフォロー等、運営もおまかせいただけます。">
<link rel="stylesheet" href="/wp-assets/css/eccc-pages.css" slot="css" />

<div id="top_movie" class="system">
	<p class="sub_icatch"><img src="/wp-assets/img/eccc/sy_icatch_pc.png" width="950" alt="ECコンサルカンパニーの「Webシステム開発構築」は18年間の専門のノウハウと知識を武器にお客様のニーズに合うWebシステムを開発・構築します。"></p>
<!-- #top_movie --></div>
  
<div id="ec" class="bg_glay">

<section id="sy01" class="btm_border">
<div class="wrap950 padding40">
	<p class="p19 btm_mar30">ECコンサルカンパニーは、事業計画を元に設計するWebシステムを開発・構築致し、商品の開発から販促プロモーション、LPの作成、撮影、商品の販売、受注・発注、顧客対応、アフターフォロー等、運営もおまかせいただけます。</p>
	<p class="txt_center"><img src="/wp-assets/img/eccc/sy_img01_pc.png"></p>
</div>
</section>

<section id="sy02" class="padding80 bg_white cf">
<div class="wrap950">
	<h2 class="txt_center btm_mar50"><img src="/wp-assets/img/eccc/sy_h2_pc.png" width="860" alt="ECコンサルカンパニーにWebシステム開発を依頼するメリット"></h2>
	<section>
	 <div class="h3_wrap">
		<h3 class="p32 p_min bg_glay sy_h3 sy_h301 btm_mar20 sp_p22"><span>事業計画書から作成します</span></h3>
	 </div>
		<p class="p20 p_glay btm_mar20">事業構想のヒアリングを実施し、資料の内容から構成、レイアウト、文章等を検討し、事業主様・ご担当者様の思いが込められた事業計画書を作成します。</p>
		<ul class="sy_ul">
			<li>
				<p class="img"><img src="/wp-assets/img/eccc/sy_li01.png" width="100%"></p>
				<p class="p14 p_glay">お客様の構想を実現するべく、事業計画書を作成し、ビジョンを可視化し実現を目指します。</p>
			</li>
			<li>
				<p class="img"><img src="/wp-assets/img/eccc/sy_li02.png" width="100%"></p>
				<p class="p14 p_glay">リスクも見出して、リスクに対するマネジメント計画も設計しますので、ご安心いただけます。</p>
			</li>			
			<li>
				<p class="img"><img src="/wp-assets/img/eccc/sy_li03.jpg" width="100%"></p>
				<p class="p14 p_glay">Webシステムを開発するだけでなく、競合に勝つ為にはどうするかまでを提案します。競合等をベンチマークして上位を目指します。</p>
			</li>						
		</ul>
	</section>
	<section class="cf btm_mar50">
	 <div class="h3_wrap">
		<h3 class="p32 p_min bg_glay sy_h3 sy_h302 btm_mar20 sp_p22"><span>お客様にあった機能をご提案し<br>ニーズにあった要件定義書を作成します。</span></h3>
	 </div>
		<p class="p20 p_glay btm_mar20">どのようなシステムが必要なのか？欲しい機能は何か？をヒヤリングして、要件定義としてまとめます。</p>
		<img src="/wp-assets/img/eccc/sy_li04.png" width="406" class="img_left right_mar40">
		<p class="p_glay p16 top_mar140">お客様のニーズに合わせて、Webシステムの機能を検討します。<br>要求の定義や予算により、パッケージ開発か、フルスクラッチ開発かをご提案します。</p>
	</section>	
	<section class="cf btm_mar50">
	 <div class="h3_wrap">
		<h3 class="p32 p_min bg_glay sy_h3 sy_h303 btm_mar20 sp_p22"><span>最終ゴールのイメージしたスケジュールの設定</span></h3>
	 </div>
		<p class="p20 p_glay btm_mar20">納期を含めたWebシステム開発・構築の最終ゴールを意識して逆算的にスケジュールを確定します。</p>
		<img src="/wp-assets/img/eccc/sy_li05.jpg" width="450" class="img_left right_mar40">
		<p class="p_glay p16 top_mar90">最終ゴールをイメージし実現に向けたスケジュールを作成します。作業者全体で個々のスケジュールを共有する事により納期にコミットします。</p>
	</section>	
	<section class="cf btm_mar50">
	 <div class="h3_wrap">
		<h3 class="p32 p_min bg_glay sy_h3 sy_h304 btm_mar20 sp_p22"><span>Webシステムの設計・開発・構築</span></h3>
	 </div>
		<img src="/wp-assets/img/eccc/sy_li06.png" width="450" class="img_right left_mar40">
		<p class="p_glay p20">設計から開発まで一括で請け負います。テストを繰り返し、お客様が納得するWebシステムを構築します。稼働後の運営やメンテナンスまでアフターフォローも万全です。<br>事業計画通り軌道に乗った場合は、運営のノウハウを共有し、貴社の運営幹部・スタッフが育てば運営は貴社にお引渡しして、弊社はメンテナンスとコンサルサポートのみのご契約も可能です。</p>
	</section>		
</div>
</section>

 
<section class="contact_info top_con bg_blue padding80 p_white">
	<p class="p40 txt_center p_min border btm_mar20"><strong>無料でまずはご相談</strong></p>
	<p class="p20 txt_center btm_mar20 sp_p_left">分からない事やお悩み事、WEBシステムに関するご質問はこちらから。<br>弊社からはしつこい営業行為は致しませんので、何でもご相談下さい。</p>
	<p class="txt_center btm_mar20"><a href="/contact/"><img src="/wp-assets/img/eccc/btn_tel.png" width="618"></a></p>
	<p class="txt_center"><a href="tel:0357764900"><img src="/wp-assets/img/eccc/top_tel.png" width="446"></a></p>
</section>	 
 
 
<section id="sy03" class="padding80 bg_white cf">
<div class="wrap950">
	<h2 class="txt_center p50 p_min p_blue sp_p34 btm_mar20">事例紹介</h2>
	<p class="txt_center btm_mar50"><img src="/wp-assets/img/eccc/sy_waku.png" width="463" alt="ポータルサイト 店舗予約システム（開発中）"></p>
	<p class="p20 p_glay btm_mar30">専門店のポータルサイト　地域による検索機能や予約機能も備えました。<br>お店のメニューはもちろんの事、キャンペーンの設定や、クーポン発行、口コミなど、お客様へのサービス機能も搭載。また顧客の来店情報等を登録すれば、顧客動向もひと目で分かる分析機能も開発しました。</p>
		<p class="p20 p_glay btm_mar20">事業構想のヒアリングを実施し、資料の内容から構成、レイアウト、文章等を検討し、事業主様・ご担当者様の思いが込められた事業計画書を作成します。</p>
		<ul class="sy_ul2">
			<li>
				<p class="img"><a href="/wp-assets/img/eccc/sy_s01.jpg" rel="lightbox[web]"><img src="/wp-assets/img/eccc/sy_s01.jpg" width="300"></a></p>
				<p class="p14 p_glay">▲店舗情報画面</p>
			</li>
			<li>
				<p class="img"><a href="/wp-assets/img/eccc/sy_s02.jpg" rel="lightbox[web]"><img src="/wp-assets/img/eccc/sy_s02.jpg" width="300"></a></p>
				<p class="p14 p_glay">▲メニュー一覧画面</p>
			</li>			
			<li>
				<p class="img"><a href="/wp-assets/img/eccc/sy_s03.jpg" rel="lightbox[web]"><img src="/wp-assets/img/eccc/sy_s03.jpg" width="300"></a></p>
				<p class="p14 p_glay">▲口コミ記載機能も搭載、<br>　お店の評判を書き込めます。</p>
			</li>
			<li>
				<p class="img"><a href="/wp-assets/img/eccc/sy_s04.jpg" rel="lightbox[web]"><img src="/wp-assets/img/eccc/sy_s04.jpg" width="300"></a></p>
				<p class="p14 p_glay">▲クーポン機能もご利用いただけます</p>
			</li>												
			<li>
				<p class="img"><a href="/wp-assets/img/eccc/sy_s05.png" rel="lightbox[web]"><img src="/wp-assets/img/eccc/sy_s05.png" width="300"></a></p>
				<p class="p14 p_glay">▲出展者用管理画面で一元管理</p>
			</li>
			<li>
				<p class="img"><a href="/wp-assets/img/eccc/sy_s06.png" rel="lightbox[web]"><img src="/wp-assets/img/eccc/sy_s06.png" width="300"></a></p>
				<p class="p14 p_glay">▲顧客の動向も管理システムから見れます。</p>
			</li>
		</ul>
	<p class="txt_center"><img src="/wp-assets/img/eccc/sy_txt_pc.png" width="950" alt="貴社のニーズに合わせて、必要な機能を開発・構築致します。Webシステム開発・構築に関することは、ECコンサルカンパニーまでご相談ください！"></p>
</div>
</section> 
 
<section class="contact_info top_con bg_blue padding80 p_white">
	<p class="p40 txt_center p_min border btm_mar20"><strong>無料でまずはご相談</strong></p>
	<p class="p20 txt_center btm_mar20 sp_p_left">分からない事やお悩み事、WEBシステムに関するご質問はこちらから。<br>弊社からはしつこい営業行為は致しませんので、何でもご相談下さい。</p>
	<p class="txt_center btm_mar20"><a href="/contact/"><img src="/wp-assets/img/eccc/btn_tel.png" width="618"></a></p>
	<p class="txt_center"><a href="tel:0357764900"><img src="/wp-assets/img/eccc/top_tel.png" width="446"></a></p>
</section>	  
<!-- #system -->
</BaseLayout>
