---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="WOMコマース　お問い合わせ・お申込み完了 | 株式会社ECコンサルカンパニー">
<link rel="stylesheet" href="/wp-assets/css/eccc-pages.css" slot="css" />

<div id="sub_contents" class="wrap950 padding50">
<div class="ec-heroes trial-thanks">
<p class="p60">ありがとうございます。</p>
<div class="box">
<p>WOMコマースへお問い合わせ・お申し込みありがとうございます。<br>
<br>
ご登録いただいたメールアドレス宛に、こちらからなるべく早くご連絡さしあげます。
<br><br>
万が一、5営業日以内にメールが届かない場合には、大変お手数ですが下記メールアドレス・電話番号までご連絡ください。</p>

<p class="txt_center"><span class="bld">
mail　<a href="mailto:info@eccc.co.jp">info@eccc.co.jp</a><br>
tel　03-5776-4900</span><br>
（平日10：00～18：00）</p>
<p>
ご不明点などございましたら、お気軽にお問い合わせください。</p>
 <a href="/" target="_blank" class="btn-next p40">トップページへ戻る</a>
</div>
</BaseLayout>
