---
import GuideLayout from '../../../layouts/GuideLayout.astro'
---

<GuideLayout
  title="商品タイトルと説明文の最適化"
  section="4. 効果的な商品ページ"
  sectionHref="/movie/"
  prevArticle={{ title: '商品登録の基本ルール', href: '/guide-rakuten/3/product-registration/' }}
  nextArticle={{ title: '画像の重要性', href: '/guide-rakuten/4/image-importance/' }}
>


<h2>商品タイトルの最適化</h2>
<p>楽天市場内検索で上位表示されるためには、適切なキーワードを含んだ商品タイトルが重要です。</p>
<ul>
  <li>主要キーワードを先頭に配置</li>
  <li>ブランド名、商品名、特徴を含める</li>
  <li>不要な記号や装飾は避ける</li>
</ul>

<h2>説明文の書き方</h2>
<ul>
  <li>商品のメリットを具体的に記述</li>
  <li>使用シーンをイメージさせる</li>
  <li>スペック情報を網羅的に記載</li>
</ul>


</GuideLayout>
