---
import BaseLayout from '../../layouts/BaseLayout.astro'

const rawHtml = `
<a href="#con50_form" class="etocomi_btn_fix">お問い合わせ<br>お申し込み</a>
<div id="sub_contents" class="wrap950 padding50">
  <section class="con50">
    <figure><img src="/wp-assets/img/eccc/img_bnr01.png" alt="コンサル料金50％OFF キャンペーン"></figure>
    <section class="con50_sec01">
    <a id="69ca103a4b28d" rel="wp-video-lightbox" href="https://www.youtube.com/watch?v=D8Dr-GJsdK8&width=950&height=600" title=""><img src="/wp-assets/img/eccc/img_mv01.png" class="video_lightbox_anchor_image" alt="" /></a>    <script>
    /* <![CDATA[ */
    jQuery(document).ready(function($){
        $(function(){
            var width = $(window).innerWidth();
            var setwidth = 950;
            var ratio = 0.63157894736842;
            var height = 600;
            var link = 'https://www.youtube.com/watch?v=D8Dr-GJsdK8&width=950&height=600';
            if(width < setwidth)
            {
                height = Math.floor(width * 0.63157894736842);
                //console.log("device width "+width+", set width "+950+", ratio "+0.63157894736842+", new height "+ height);
                var new_url = wpvl_paramReplace('width', link, width);
                var new_url = wpvl_paramReplace('height', new_url, height);
                $("a#69ca103a4b28d").attr('href', new_url);
                //console.log(new_url);
            }    
        });
    });
    /* ]]&gt; */
    </script>        
    </section>
    <section class="con50_sec02">
      <h2><span>売上にお悩みのEC事業運営者様</span>3ヶ月で売上は必ず上がります！</h2>
      <div class="flex-area">
        <figure><img src="/wp-assets/img/eccc/img_sec0101.png" alt=""></figure>
        <ul>
          <li>月商1000万円が遠い……。</li>
          <li>売上げが伸び悩んでいる……。</li>
          <li>ひとりぼっちで運営している……。</li>
          <li>売上げの上げ方がわからない……。</li>
        </ul>
      </div>
      <p>商売の苦しみから脱却しましょう！<br>もっと楽しく売上げをあげて<br>お客様に喜ばれて商売できるようになりましょう！</p>
    </section>
    <section class="con50_sec03">
      <h2>ECコンサルカンパニーの<br>コンサルティングは</h2>
      <ul>
        <li>
          <h3>作り方・スキル</h3>
          <ul>
            <li>ホームーページの作り方</li>
            <li>写真の撮り方</li>
            <li>キャッチコピーの作り方</li>
            <li>売れる商品ページの作り方</li>
            <li>いい外注の見分け方</li>
          </ul>
        </li>
        <li>
          <h3>運　営</h3>
          <ul>
            <li>分析の仕方</li>
            <li>計画の立て方</li>
            <li>問題の解決方法</li>
            <li>いい外注の見分け方</li>
          </ul>
        </li>
        <li>
          <h3>モチベーション</h3>
          <ul>
            <li>毎朝朝礼：<br>　リアルタイム・悩み解決</li>
            <li>毎日終礼：<br>　本日のタスク管理と<br>　目標チェック</li>
          </ul>
        </li>
        <li>
          <h3>facebookグループで<br>情報共有</h3>
          <ul>
            <li>売上げアップノウハウや<br>勉強事項</li>
          </ul>
        </li>
      </ul>
    </section>
    <section class="con50_sec04">
      <ul>
        <li>1．ネット会議をしますので全国どこでもOK</li>
        <li>2．月1回東京で懇親会を開催</li>
        <li>3．月1回半日講演をネットでライブ配信</li>
        <li>4．技術的にも不明な点があれば、いつでも質問OK</li>
        <li>5．いつでもやめられます（最低3ヶ月から）</li>
      </ul>
      <figure><img src="/wp-assets/img/eccc/img_bnr01.png" alt="コンサル料金50％OFF キャンペーン"></figure>
    </section>
    <section class="con50_sec05">
      <h2>お客様の声</h2>
      <ul class="accordion2">
        <li>
          <div class="wrap">
          <h3><span>Y.I.</span>様（ファッション）</h3>
          <div class="txt-area">
            <p>最初は難しい話が多く、理解することが大変だったんですが、2，3ヶ月もすると、話される内容がだんだん</p>
            <p class="ac1">続きを読む</p>
            <div class="inner">
              <p>腑に落ちてきました。その2，3ヶ月で、メルマガ、メール、ホームページ、ブログなどお客様に触れるところのものを添削してもらって、修正し、お客様に対してどのような思いを伝えるのかを学びました。<br>その後からは、売上げが2倍3倍と増えていきました。元々の売上げが低かったからかもしれませんが、想像を超える売上げになっています。</p>
              <div>
                <span>ECCCより</span>
                <p>まだまだ基礎的なところしか改善できてませんので、もっと売上げあげると思いますよ</p>
              </div>
            </div>
          </div>
        </div>
        </li>
        <li>
          <div class="wrap">
          <h3><span>Y.N.</span>様（食品）</h3>
          <div class="txt-area">
            <p>文章の書き方でこれだけ反応が違うんだと驚きました。今までなんとなく書いているという指導うけて</p>
            <p class="ac1">続きを読む</p>
            <div class="inner">
              <p>とても良かったです。もちろん、文章だけじゃなく、すべてのことが理由が必要でそのやり方もたくさんあって、まだ勉強中ですが、すでに売上げ3倍以上になっています。あとはやるだけです。</p>
              <div>
                <span>ECCCより</span>
                <p>マーケティングだけじゃなく、マネジメントの次のステージもチャレンジしていきましょう</p>
              </div>
            </div>
          </div>
        </div>
        </li>
        <li>
          <div class="wrap">
          <h3><span>M.N.</span>様（工芸品）</h3>
          <div class="txt-area">
            <p>最初のミッションやコンセプトなどの改善から始まり、ぜーんぶ作り直しかと思ったら、上手に改善と</p>
            <p class="ac1">続きを読む</p>
            <div class="inner">
              <p>修正でまとまってさすがだなと思いました。普通に出しているメールよりも、お客様反応が多くなって、すぐに売上げの成果が出て、3ヶ月すると売上げが2倍になりました。<br>やっぱり、伝えるって大事なんですね。</p>
              <div>
                <span>ECCCより</span>
                <p>正しい方向でコツコツやった事は必ず成果がついてきます。これをスタッフに伝えていく事も大切になってきます。頑張ってください。</p>
              </div>
            </div>
          </div>
        </div>
        </li>
        <li>
          <div class="wrap">
          <h3><span>N.K.</span>様（サービス）</h3>
          <div class="txt-area">
            <p>結局、目標をもち、計画を立てて、毎日売上げチェックをして、目標達成するための業務を目標を忘れない</p>
            <p class="ac1">続きを読む</p>
            <div class="inner">
              <p>で行う。これを毎朝やれるかやれないかなんだと思いました。慣れるまですごく大変でしたが毎朝お付き合いありがとうございました。</p>
              <div>
                <span>ECCCより</span>
                <p>月商1000万円おめでとうございます。応援して参りますので引き続きよろしくお願いします。</p>
              </div>
            </div>
          </div>
        </div>
        </li>
        <li>
          <div class="wrap">
          <h3><span>S.K.</span>様（ジュエリー）</h3>
          <div class="txt-area">
            <p>「すごいじゃないですか」「さすがですね」「大丈夫です」「できます」これだけじゃないですが、とにか</p>
            <p class="ac1">続きを読む</p>
            <div class="inner">
              <p>く、褒めてもらって、簡単にできそうな雰囲気でアドバイスされていると、こちらもなんかその気になってきて、今では考えられないくらいです。売上げ10倍。びっくりです。本当に感謝してます。こらからもよろしく御願いします。</p>
              <div>
                <span>ECCCより</span>
                <p>すごい行動力でした。こちらもびっくりしています。ほんと、すごいですし、心から尊敬します。さらに高みを目指しましょうね♪</p>
              </div>
            </div>
          </div>
        </div>
        </li>
        <li>
          <div class="wrap">
          <h3><span>H.S.</span>様（雑貨）</h3>
          <div class="txt-area">
            <p>分析が苦手で、数字アレルギーというか……。でも、一つ一つ丁寧にgoogleアナリティクスの使い方から</p>
            <p class="ac1">続きを読む</p>
            <div class="inner">
              <p>分析の方法、判断基準など、使い方から考え方、改善の対応方法を教えていただきました。<br>今では何がダメで、今はこれを改善すると売上げが上がるというのが手に取るようにわかります。今のお店で月商1000万円超えたら、コンサルはじめよっかな。(^0^)<br>きっちり計画的に売上げ狙っていきます。引き続きよろしく御願いします。</p>
              <div>
                <span>ECCCより</span>
                <p>予算が時間が少ない中ですが、きっちり、一つ一つ改善して積み上げてファンをつくっていきましょう。商品が生命線ですのでそこはさらに磨いていきましょう！</p>
              </div>
            </div>
          </div>
        </div>
        </li>
      </ul>
      <p class="attent">※長文でいただいた感想の内容を、具体的な情報や個人を特定できないように割愛してまとめています。</p>
    </section>

    <section class="con50_sec06">
      <h2>ECコンサルティングサービス<br>お申し込みの方に</h2>
      <ul>
        <li>
          <h3>安くて優秀な職人を紹介します</h3>
          <div class="flex-area">
          <p>直接やりとりして契約していただくため、破格なコストになります。契約書のひな形もお渡しします。<br>※＋20％で品質や工程管理をこちらで行うオプションサービスもございます。</p>
          <figure><img src="/wp-assets/img/eccc/img_con50_sec0601.png" alt=""></figure>
          </div>         
        </li>
        <li>
          <h3>EC基礎知識の通信講座もご用意しました</h3>
          <div class="flex-area">
          <p>基本的な知識や技術の習得をしたい方はぜひおすすめします。<br>会社やお仲間全員で受講も可能です。</p>
          <figure><img src="/wp-assets/img/eccc/img_con50_sec0602.png" alt=""></figure>
          </div>         
        </li>
        <li>
          <h3>令和えとコミ参加ご招待</h3>
          <div class="flex-area">
          <p>毎朝6時半から朝礼を行いモチベーションアップをはかります。<br>また、日々の悩みにもその場、またはfacebookグループで動画や必要な情報、ノウハウを紹介しながら解決していきます。</p>
          <figure><img src="/wp-assets/img/eccc/img_con50_sec0603.png" alt=""></figure>
          </div>         
        </li>
      </ul>
      <p class="attent">※特典は実施量が増えますのでご要望の方だけに限らせていただきます。</p>
    </section>

    <section class="con50_sec07">
      <div class="flex-area">
        <h2><img src="/wp-assets/img/eccc/img_con50_sec0701.png" alt="時間に対するポジティブメッセージ"></h2>
        <div class="accordion2">
        <div class="txt-area">
          <p>できない理由の１つとして「時間がない」があります。<br>できない理由を考えるのは、もう、やめましょう。<br>どうやったらできるのかを考えましょう。<br>時間がなければ、どうやれば時間ができるのか、を考えましょう。<br>「どうすればできるのか」という視点だけで見てみましょう。</p>
          <p class="ac1">続きを読む</p>
          <div class="inner">
          <p>やらない理由は、たった１つなのです。<br>行動力の無さです。<br>無いのは、時間ではなく、あなたの行動力です。<br>やれる人は、やる時間を作り出すのです。<br>「時間を作り出そう」<br>という気持ちがあるか、無いかの違いです。</p>
          <p>「時間があったら、できる」これを言っているうちは、<br>いつまで経ってもできません。<br>時間は、それ以上ありません。<br>頑張っている人ほど、時間は足りないものなのです。<br>でも、頑張っている人は、<br>「時間が足りない」と言っている時間さえ惜しいのです。</p>
          <p>時間がたっぷりあっても有効に使えません。<br>むしろ「時間が足りない」と思っている人が上手く使えます。<br>時間がないから工夫が生まれるのです。<br>「たっぷりある」と思うから何も工夫が生まれないのです。<br>時間があった方が効率が悪くなるのです。</p>
          <p>「いつか」という時は、永遠にやってこないのです。<br>「いつか、しよう」この言葉を言った後で、やった事ってありますか？<br>この言葉を使った時点で「いつか」という時は２度と来ないのです。<br>「いつか、しよう」は、「一生しない」と同じなのです。</p>
        </div>
        </div>
      </div>
    </div>
    </section>
    <section class="con50_sec08">
      <h2>コンサルティングイメージフロー</h2>
      <div class="flex-area">
        <h3>スターティング<br>フロー<span>最初だけ</span></h3>
        <ol>
          <li>お申し込み</li>
          <li class="bd-r">ネット会議でオリエンテーション（まずはアポイントから）</li>
          <li class="bd-r">定例ミーティング</li>
        </ol>
      </div>
      <div class="flex-area">
        <h3>お悩み解決<br>フロー<span>随時</span></h3>
        <ol>
          <li>お悩み相談（売上げ含む）</li>
          <li class="bd-b">解決方法の紹介</li>
          <li class="bd-r">理解できているか出来ていないか確認</li>
          <li class="bd-b">別の解決方法の提案</li>
          <li>解　決</li>
        </ol>
      </div>
      <div class="flex-area">
        <h3>売上アップ<br>目標数字管理<br>フロー<span>日単位<br>週単位<br>月単位</span></h3>
        <ol>
          <li class="bd-r">売上げ計画の策定の解説ミーティング</li>
          <li>ミーティングに基づいてできるところを記入</li>
          <li class="bd-r">記入後ミーティングしてさらに理解度を深める</li>
          <li>再記入</li>
          <li class="bd-r">ミーティング</li>
          <li>実　行</li>
          <li>毎日差分チェック（終礼にて）</li>
          <li class="bd-r">差分のマイナスを埋めるミーティング</li>
          <li class="bd-b">計画変更</li>
          <li>実　行</li>
          <li class="bd-b">翌月、翌々月の売上げ計画の策定</li>
        </ol>
      </div>
      <p class="attent">※ネット会議でその場で解決したりメールのやりとりで解決していきます。</p>
      <ul class="attent">
        <li>枠部分はECコンサルカンパニーの担当部分です。</li>
        <li>枠部分はECコンサルカンパニーとショップ様の共用担当部分です。</li>
      </ul>      
    </section>

    <section class="con50_sec09">
      <figure><img src="/wp-assets/img/eccc/img_bnr01.png" alt="コンサル料金50％OFF キャンペーン"></figure>
      <div class="flex-area">
        <figure><img src="/wp-assets/img/eccc/img_con50_sec0901.png" alt=""></figure>
        <p>このままじゃ何も変わらない！挑戦しなくては！<br>どうせ挑戦するなら、成功確率の高いものに挑戦すべきです。<br>真剣に考えてくれるパートナーと一緒に挑戦すべきです。</p>
      </div>        
    </section>
    <section id="con50_form">
      <!-- <h2>お申し込み</h2>
     <p>必要事項に入力の上、お申し込みはこちらボタンを押してください。</p>
     <div id="mw_wp_form_mw-wp-form-4849" class="mw_wp_form mw_wp_form_input  ">
          [mwform_formkey key="4868"]
        </div> -->
<div class="cv-common-tel">
                <p><strong>お問い合わせ・お申し込み</strong></p>
                <a href="tel:0351668000" class="tel"><img src="/wp-assets/img/eccc/top_tel.png" alt="03-5166-8000"></a>
            </div>
    </section>
  </section>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
  $(function(){
  
    //.accordion2の中のp要素がクリックされたら
  $('.accordion2 p').click(function(){

    //クリックされた.accordion2の中のp要素に隣接する.accordion2の中の.innerを開いたり閉じたりする。
    $(this).next('.accordion2 .inner').slideToggle();

    //クリックされた.accordion2の中のp要素以外の.accordion2の中のp要素に隣接する.accordion2の中の.innerを閉じる
    $('.accordion2 p').not($(this)).next('.accordion2 .inner').slideUp();

  });
});
</script>`;
---

<BaseLayout title="Eコマースコンサルティング | 株式会社ECコンサルカンパニー">
<link rel="stylesheet" href="/wp-assets/css/eccc-pages.css" slot="css" />
<Fragment set:html={rawHtml} />
</BaseLayout>
