---
import BaseLayout from '../../../layouts/BaseLayout.astro'
---

<BaseLayout title="ECサイトの運営 | 株式会社ECコンサルカンパニー">
<link rel="stylesheet" href="/wp-assets/css/eccc-pages.css" slot="css" />

<nav class="wrap950">
	<ul class="nav_btn">
	   <li><a href="/eccc-company/">会社概要</a></li>
	   <li class="pc"><a href="/eccc-company/philosophy/">企業理念</a></li>
	   <li><a href="/eccc-company/message/">トップメッセージ</a></li>
	   <li class="pc"><a href="/eccc-company/access/">アクセス</a></li>
	   <li><a href="/eccc-company/recruit/" class="active">求人情報</a></li>	   
	</ul>
</nav>
<div class="ttl_img">
	ECサイトの運営
</div>
<div id="sub_contents" class="wrap950 recruitment">

<section class="re02 cf">
<table class="tblApp type1" summary="募集要項">
  <tr>
    <th>募集職種</th>
    <td>2.ECサイトの運営(メルマガ・販促・ページ更新・写真撮影)のディレクション</td>
  </tr>
  <tr>
    <th>職務内容</th>
    <td>ECサイトの販促計画を立て、計画に沿ったメルマガやSNSを活用した販促や、ページ更新などの運用を管理します。</td>
  </tr>
  <tr>
    <th>主な業務内容</th>
    <td><p>WEBディレクターと協力して、サイト運営（販促・サイト更新）を行うディレクション業務<br>
各モールのセール対策企画立案・構成作成・デザイナーへの指示・制作進行管理<br>
独自ドメインの店舗やモール店舗への商品登録など
ランディングページや商品詳細ページなどサイト内の改善提案</p></td>
  </tr>
  <tr>
    <th>応募者に求める条件</th>
    <td><p>高いコミュニケーション能力を要していること。<br>
社会人としての一般常識を備え、協調性を持って仕事に取り組めること。<br>
健康であること。<br><br>
あると望ましい経験とスキル <br>
photoshop、illustratorの仕様経験<br>
HTML、CSS等の基礎知識<br>
ECバックヤードシステムの操作経験</p></td>
  </tr>
  <tr>
    <th>勤務条件</th>
    <td><p>月給25万円 ～<br>
【昇給】 実績と能力アップで査定年2回 チームの実績次第<br>
【勤務時間】 9：30～18：30<br>
【福利厚生】交通費一部支給 (1日1000円まで)、 社会保険完備、雇用保険<br>
【賞与】年2回(6月・12月)6ヶ月以上勤務から<br>
完全週休2日制(土・日)、祝日、有給休暇(入社半年後に10日間)、慶弔、夏期休暇、年末年始休暇</p></td>
  </tr>
  <tr>
    <th>応募方法</th>
    <td><p>直接お電話いただくか、メールにてお問い合わせください。後日当社よりご連絡させていただきます。
できる限り多くの方とお会いしたいと思います。ご応募、お待ちしています。</p></td>
  </tr>
  <tr>
    <th>勤　務　地</th>
    <td><p>〒105-0013　東京都港区浜松町2-2-3　磯山ビル3階</p></td>
  </tr>
  <tr>
    <th>最　寄　駅</th>
    <td><p>山手線 京浜東北線 浜松町駅徒歩1分<br>都営地下鉄大江戸線・浅草線大門駅　A3出口3分</p></td>
  </tr>
  <tr>
    <th>お問合せ先</th>
    <td><p>電話：03-5776-4900　Email：<a href="mailto:info@eccc.co.jp">info@eccc.co.jp</a></p></td>
  </tr>
</table>
</section>
<section class="re03 clearfix">




<section class="re02 cf">
<h3 class="btm_mar10"><img src="/wp-assets/img/eccc/h2_recruit02.gif" alt="採用の流れ"></h3>

<!-- 
<ul class="flow_box01">
  <li>
    <dl>
      <dt><span>Step 01</span>ご連絡</dt>
      <dd>履歴書や職務経歴書を用意して、電話かメールでお問合せください。</dd>
    </dl>
	<div class="arrow"></div>
  </li>
  <li>
    <dl>
      <dt><span>Step 02</span>書類審査</dt>
      <dd>指示のある通りに書類を提出していただいた後、弊社で審査をします。</dd>
    </dl>
	<div class="arrow"></div>
  </li>
  <li>
    <dl>
      <dt><span>Step 03</span>個人面接</dt>
      <dd>審査が通った場合、弊社からご連絡が行きます。面接日時を決め面接をします。</dd>
    </dl>
	<div class="arrow"></div>
  </li>
  <li>
    <dl>
      <dt><span>Step 04</span>内定</dt>
      <dd>面接後、採用・不採用のご連絡を致します。一緒にがんばっていきましょう。</dd>
    </dl>
	<div class="arrow"></div>
  </li>
</ul>
 -->

<ul class="flow_box02">
  <li>
    <dl>
      <dt>オンライン<br>面談申し込み</dt>
      <dd>スカイプで行いますのでカメラ、ヘッドフォン、マイクをご用意ください。</dd>
    </dl>
	<div class="arrow"></div>
  </li>
  <li>
    <dl>
      <dt class="txt_m2">スカイプIDの<br>共有・日時調整</dt>
    </dl>
	<div class="arrow"></div>
  </li>
  <li>
    <dl>
      <dt class="txt_m2">スカイプ面談<br><span>（30分程度）</span></dt>
    </dl>
	<div class="arrow"></div>
  </li>
  <li>
    <dl>
      <dt>面接・適性検査<br><span>（2時間程度）</span></dt>
      <dd>実際にお会いしてお互いの理解を深めましょう。</dd>
    </dl>
	<div class="arrow"></div>
  </li>
  <li>
    <dl>
      <dt class="txt_m">内定</dt>
    </dl>
	<div class="arrow"></div>
  </li>
</ul>

<h3 class="btm_mar10"><img src="/wp-assets/img/eccc/h2_recruit01.gif" alt="募集要項"></h3>
<ul class="recruit_btn">
<li><a href="/company/recruit/webdirector/">
<div class="box">
<p class="Img"><img src="/wp-assets/img/eccc/uploads/2018_02_list_item01.jpg"></p>
<p class="ttl">WEBディレクター</p>
</div>
</a></li>
<li><a href="/company/recruit/ecdirector/">
<div class="box">
<p class="Img"><img src="/wp-assets/img/eccc/uploads/2018_02_list_item02.jpg"></p>
<p class="ttl">ECサイトの運営</p>
</div>
</a></li>
<li><a href="/company/recruit/designdirector/">
<div class="box">
<p class="Img"><img src="/wp-assets/img/eccc/uploads/2018_02_list_item03.jpg"></p>
<p class="ttl">ECサイトのデザイン</p>
</div>
</a></li>
<li><a href="/company/recruit/engineer/">
<div class="box">
<p class="Img"><img src="/wp-assets/img/eccc/uploads/2018_02_list_item04.jpg"></p>
<p class="ttl">システムエンジニア</p>
</div>
</a></li>
<li><a href="/company/recruit/programmer/">
<div class="box">
<p class="Img"><img src="/wp-assets/img/eccc/uploads/2018_02_list_item05.jpg"></p>
<p class="ttl">WEBディレクター</p>
</div>
</a></li>
<li><a href="/company/recruit/webdesigner/">
<div class="box">
<p class="Img"><img src="/wp-assets/img/eccc/uploads/2018_02_list_item06.jpg"></p>
<p class="ttl">WEBデザイナー</p>
</div>
</a></li>
<li><a href="/company/recruit/ordersmanager/">
<div class="box">
<p class="Img"><img src="/wp-assets/img/eccc/uploads/2018_02_list_item07.jpg"></p>
<p class="ttl">ECサイト受注担当者</p>
</div>
</a></li>
</ul>


</section>

<!-- #sub_contents -->
</BaseLayout>
