---
import BaseLayout from '../../../layouts/BaseLayout.astro'
---

<BaseLayout title="求人情報-株式会社ECコンサルカンパニー"
  description="ECのスペシャリストになりませんか？EC未経験者大歓迎！あなたのさらなるスキルアップを！">
<link rel="stylesheet" href="/wp-assets/css/eccc-pages.css" slot="css" />

<nav class="wrap950">
	<ul class="nav_btn">
	   <li><a href="/eccc-company/">会社概要</a></li>
	   <li class="pc"><a href="/eccc-company/philosophy/">企業理念</a></li>
	   <li><a href="/eccc-company/message/">トップメッセージ</a></li>
	   <li class="pc"><a href="/eccc-company/access/">アクセス</a></li>
	   <li><a href="/eccc-company/recruit/" class="active">求人情報</a></li>	   
	</ul>
</nav>

<p class="btm_mar30 pc_view"><img src="/wp-assets/img/eccc/recruit/recruit_head.png"></p>
<p class="sp_view"><img src="/wp-assets/img/eccc/recruit/recruit_head_sp.png"></p>

<div id="sub_contents" class="wrap950 recruitment" style="padding-bottom:20px;">
<section class="recruit cf">
  <p class="photo btm_mar20 sp_view"><img src="/wp-assets/img/eccc/recruit01.jpg"></p>

  <div class="left btm_mar30">
    <p>こんにちは、株式会社ECコンサルカンパニーの江藤と申します。<br>
      弊社は1999年からEC業界に携わっておりまして、過去500社以上のECサイトを指導してまいりました。<br>
      そのノウハウを吸収していただきまして、なるべく早い戦力になっていただきたいと考えております。<br>
      弊社は平均週1回の研修を設けておりまして、ECのノウハウだけでなく「7つの習慣」「考具」などの課題本を利用してビジネススキルの研修も行っております。<br>
      これからさらなる成長を遂げるEC業界のスペシャリストを目指しましょう！ <br>
      お待ちしております。</p>
<p class="txt">
あなたの力、まだまだ伸ばせます！<br />
私達と共に歩んでゆけるビジネスパートナーに<br class="pc_view" />
なっていきませんか？
</p>
  </div>
  <p class="photo btm_mar20 pc_view"><img src="/wp-assets/img/eccc/recruit01.jpg"></p>
</section>
<section class="re02 cf">
<h3 class="btm_mar10"><img src="/wp-assets/img/eccc/h2_recruit01.gif" alt="募集要項"></h3>

<ul class="recruit_btn">
<li><a href="/company/recruit/webdirector/">
<div class="box">
<p class="Img"><img src="/wp-assets/img/eccc/recruit/list_item01.jpg"></p>
<p class="ttl">WEBディレクター</p>
</div>
</a></li>
<li><a href="/company/recruit/ecdirector/">
<div class="box">
<p class="Img"><img src="/wp-assets/img/eccc/recruit/list_item02.jpg"></p>
<p class="ttl">ECサイトの運営</p>
</div>
</a></li>
<li><a href="/company/recruit/designdirector/">
<div class="box">
<p class="Img"><img src="/wp-assets/img/eccc/recruit/list_item03.jpg"></p>
<p class="ttl">ECサイトのデザイン</p>
</div>
</a></li>
<li><a href="/company/recruit/engineer/">
<div class="box">
<p class="Img"><img src="/wp-assets/img/eccc/recruit/list_item04.jpg"></p>
<p class="ttl">システムエンジニア</p>
</div>
</a></li>
<li><a href="/company/recruit/programmer/">
<div class="box">
<p class="Img"><img src="/wp-assets/img/eccc/recruit/list_item05.jpg"></p>
<p class="ttl">プログラマー</p>
</div>
</a></li>
<li><a href="/company/recruit/webdesigner/">
<div class="box">
<p class="Img"><img src="/wp-assets/img/eccc/recruit/list_item06.jpg"></p>
<p class="ttl">WEBデザイナー</p>
</div>
</a></li>
<li><a href="/company/recruit/ordersmanager/">
<div class="box">
<p class="Img"><img src="/wp-assets/img/eccc/recruit/list_item07.jpg"></p>
<p class="ttl">ECサイト受注担当者</p>
</div>
</a></li>
</ul>




</section>

<!-- #sub_contents -->
</div>
<nav class="wrap950">
	<ul class="nav_btn">
	   <li><a href="/eccc-company/">会社概要</a></li>
	   <li class="pc"><a href="/eccc-company/philosophy/">企業理念</a></li>
	   <li><a href="/eccc-company/message/">トップメッセージ</a></li>
	   <li class="pc"><a href="/eccc-company/access/">アクセス</a></li>
	   <li><a href="/eccc-company/recruit/" class="active">求人情報</a></li>	   
	</ul>
</nav>
</BaseLayout>
