---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout
  title="ECモンスターコミュニティ先行予約申込 - EC モンスター"
  bodyClass="wp-singular page-template-default page page-id-142 page-parent wp-theme-ecmonster page-advance-application"
>
  <link slot="css" rel="stylesheet" href="/wp-assets/css/contact.css" />
  <link slot="css" rel="stylesheet" href="/wp-assets/css/cf7.css" />

<div class="page-wrap contact-wrap">
    <div class="l_inner">
        <section>
            <h1 class="page-ttl uline">ECモンスターコミュニティ<br>先行予約申込</h1>
            <p class="txt-c">
                ECモンスターコミュニティへの<br class="sp">
                入会申込の先行予約登録フォームです。<br>
                この登録には費用はかかりません。<br>
                コミュニティの準備が整いましたら<br class="sp">
                改めて入力いただいたメールアドレスに<br>
                入会金無料の特別価格でのご案内を<br class="sp">
                お送りさせていただきます。<br>
                その際は改めてご入会登録を<br class="sp">
                お願いいたします。</p>
            <div class="form-wrap">
                
<div class="wpcf7 no-js" id="wpcf7-f141-o1" lang="ja" dir="ltr" data-wpcf7-id="141">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form action="/advance-application/#wpcf7-f141-o1" method="post" class="wpcf7-form init" aria-label="コンタクトフォーム" novalidate="novalidate" data-status="init">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="141" />
<input type="hidden" name="_wpcf7_version" value="6.0" />
<input type="hidden" name="_wpcf7_locale" value="ja" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f141-o1" />
<input type="hidden" name="_wpcf7_container_post" value="0" />
<input type="hidden" name="_wpcf7_posted_data_hash" value="" />
</div>
<div class="l_box-wrap">
	<div class="item col">
		<p><label><br />
<span class="wpcf7-form-control-wrap" data-name="your-name"><input size="40" maxlength="400" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" autocomplete="name" aria-required="true" aria-invalid="false" placeholder="名前*" value="" type="text" name="your-name" /></span></label>
		</p>
	</div>
	<div class="item col">
		<p><label><br />
<span class="wpcf7-form-control-wrap" data-name="your-email"><input size="40" maxlength="400" class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email" autocomplete="email" aria-required="true" aria-invalid="false" placeholder="メール*" value="" type="email" name="your-email" /></span> </label>
		</p>
	</div>
	<div class="item">
		<p><input class="wpcf7-form-control wpcf7-submit has-spinner" type="submit" value="送信する" />
		</p>
	</div>
</div>
<p><script is:inline>
 document.addEventListener('wpcf7mailsent', function(event) {
 location = '/advance-application/aa-thanks/';
 }, false );
</script>
</p><div class="wpcf7-response-output" aria-hidden="true"></div>
</form>
</div>
            </div>
        </section>
    </div>
</div>
<!--page-wrap -->

</BaseLayout>
