---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout
  title="ECモンスターコミュニティ先行予約申込 - EC モンスター"
  bodyClass="wp-singular page-template-default page page-id-142 page-parent wp-theme-ecmonster page-advance-application"
>
  <link slot="css" rel="stylesheet" href="/wp-assets/css/contact.css" />
  <link slot="css" rel="stylesheet" href="/wp-assets/css/cf7.css" />

<div class="page-wrap contact-wrap">
    <div class="l_inner">
        <section>
            <h1 class="page-ttl uline">ECモンスターコミュニティ<br>先行予約申込</h1>
            <p class="txt-c">
                ECモンスターコミュニティへの<br class="sp">
                入会申込の先行予約登録フォームです。<br>
                この登録には費用はかかりません。<br>
                コミュニティの準備が整いましたら<br class="sp">
                改めて入力いただいたメールアドレスに<br>
                入会金無料の特別価格でのご案内を<br class="sp">
                お送りさせていただきます。<br>
                その際は改めてご入会登録を<br class="sp">
                お願いいたします。</p>
            <div class="form-wrap">
                
<form action="https://api.web3forms.com/submit" method="POST" id="aa-form" class="wpcf7-form" aria-label="先行予約申込フォーム">
<input type="hidden" name="access_key" value="ed53efba-9f1e-4bf3-aa00-7d68b21d8464" />
<input type="hidden" name="redirect" value="/advance-application/aa-thanks/" />
<input type="hidden" name="subject" value="ecmonster.jp コミュニティ先行予約申込" />
<input type="checkbox" name="botcheck" class="hidden" style="display:none" />
<div class="l_box-wrap">
	<div class="item col">
		<p><label>
<input size="40" maxlength="400" class="wpcf7-form-control wpcf7-text" autocomplete="name" aria-required="true" placeholder="名前*" type="text" name="your-name" required /></label>
		</p>
	</div>
	<div class="item col">
		<p><label>
<input size="40" maxlength="400" class="wpcf7-form-control wpcf7-email wpcf7-text" autocomplete="email" aria-required="true" placeholder="メール*" type="email" name="your-email" required /></label>
		</p>
	</div>
	<div class="item">
		<p><input class="wpcf7-form-control wpcf7-submit has-spinner" type="submit" value="送信する" id="aa-submit-btn" />
		</p>
	</div>
</div>
</form>
<script is:inline>
document.getElementById('aa-form').addEventListener('submit', function(e) {
  var btn = document.getElementById('aa-submit-btn');
  if (btn.disabled) { e.preventDefault(); return; }
  btn.disabled = true;
  btn.value = '送信中...';
  setTimeout(function() { btn.disabled = false; btn.value = '送信する'; }, 5000);
});
</script>
            </div>
        </section>
    </div>
</div>
<!--page-wrap -->

</BaseLayout>
