---
import GuideLayout from '../../../layouts/GuideLayout.astro'
---

<GuideLayout
  title="楽天スーパーセールやキャンペーン活用法"
  section="5. 集客・販売促進"
  sectionHref="/movie/"
  prevArticle={{ title: 'SEO対策', href: '/guide-rakuten/4/seo/' }}
  nextArticle={{ title: 'クーポンとポイント戦略', href: '/guide-rakuten/5/coupon-points/' }}
>


<h2>楽天スーパーSALE</h2>
<p>年4回開催される楽天最大のイベントです。半額アイテムの掲載やポイントアップにより、通常の数倍の売上が期待できます。</p>
<h2>お買い物マラソン</h2>
<p>ほぼ毎月開催されるイベントで、複数店舗での購入でポイント倍率がアップします。</p>
<h2>活用のコツ</h2>
<ul>
  <li>イベント前に在庫を確保</li>
  <li>目玉商品を設定して集客</li>
  <li>クーポンと組み合わせて訴求力アップ</li>
</ul>


</GuideLayout>
