---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout
  title="Amazon運営で結果が出ない人に向けた解決方法のお知らせです - EC モンスター"
  description="Amazonに出店したけれど、思うように売れず原因もわからない。そんなお悩みを抱える方へ、商品力を活かし売上を伸ばすための具体的な改善策をアドバイスします。"
  bodyClass="wp-singular page-template-default page page-id-175 wp-theme-ecmonster page-ai-consulting-aa"
>
  <link slot="css" rel="stylesheet" href="/wp-assets/css/ai-lp.css" />
  <link slot="css" rel="stylesheet" href="/wp-assets/css/cf7.css" />

<main class="main-contents ai-lp no-trial">
    <section class="no-trial-mv">
        <div class="l_inner">
            <h1 class="mv-ttl">
                <img src="/wp-assets/img/ai-lp/img_16-amazon.png" alt="Amazonに出店したけど利益が出ない…。">
            </h1>
        </div>
    </section>
    <section class="no-trial-worries">
        <div class="l_inner">
            <div class="box01">
                <h2 class="sec-ttl">こんなお悩みありませんか？</h2>
                <div class="l_box-wrap">
                    <div class="txt">
                        <ul class="list">
                            <li>Amazonに出店したけれど、思うように売れない…</li>
                            <li>高額なコンサルを依頼したのに、結果が出ない…</li>
                            <li>コンサル費や広告費、送料が利益を食いつぶしている…</li>
                            <li>何を改善すればいいのか、正直わからない…</li>
                        </ul>
                    </div>
                    <div class="image">
                        <img src="/wp-assets/img/ai-lp/img_18.jpg" alt="こんなお悩みありませんか？">
                    </div>
                </div>
            </div>
            <div class="box02">
                <h2 class="sec-ttl">このままだと…</h2>
                <div class="l_box-wrap">
                    <div class="txt">
                        <p> せっかくのAmazon出店も、<span class="fnt-l fnt-b">撤退</span>せざるを得ないかもしれません。<br>
                            <span class="fnt-l fnt-b">赤字</span>が続き、モチベーションもダウン…<br>
                            「自分にはネット販売は向いていない」と<br>
                            <span class="fnt-l fnt-b">諦めてしまう</span>前に――
                        </p>
                    </div>
                    <div class="image">
                        <img src="/wp-assets/img/ai-lp/img_19.jpg" alt="このままだと…">
                    </div>
                </div>
            </div>
            <div class="box03">
                <h2 class="sec-ttl">解決方法はー成功者に聞くこと</h2>
                <div class="box-wrap">
                    <div class="image">
                        <img src="/wp-assets/img/ai-lp/img_20.jpg" alt="解決方法は成功者に聞くこと">
                    </div>
                    <div class="txt">
                        <p class="fnt-l"><strong>実際にAmazonで結果を<br>
                                出しているプロから直接学び、<br>
                                勝ちパターンを真似することで、<br>
                                無駄な遠回りをせずに<br>
                                売上アップの道が見えてきます。</strong></p>
                        <p class="fnt-l"><strong>あなたの店舗も、<br>
                                今から変われます。</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="achievements">
        <div class="l_inner">
            <h2 class="sec-ttl">ECコンサルタント・江藤の実績</h2>
            <div class="box01">
                <p>こんにちは。ECモンスターの江藤です。</p>
                <p>私は楽天市場やAmazonをはじめとする<br>
                    ECモール・自社EC支援で、 <br>
                    これまで1,000社以上のショップに関わり、 <br>
                    年商1億円超え200社以上、<br>
                    80％以上が月商100万円超えを<br>
                    実現してきました。</p>
                <p>過去に自ら運営していた楽天ショップでは、 <br>
                    【3年連続・楽天総合3位】を記録。</p>
                <p>さらに、その成功ノウハウをもとに、 <br>
                    月額15万円で提供している<br>
                    ECコンサルティングでは、 <br>
                    多くの店舗のV字回復を支援しています。</p>
            </div>
            <div class="l_box-wrap box02">
                <div class="txt">
                    <p class="name"><strong><span class="fnt-b">江藤正親（えとうまさちか）</span></strong></p>
                    <p><strong>独立系ECコンサルタントとしては<span class="fnt-l fnt-b">日本最古</span><br>
                            億単位の売上を目指す支援のスペシャリスト<br>
                            1999年よりネットショップ運営に携わる<br>
                            <span class="fnt-l fnt-b"><span class="red">3年連続楽天市場総合3位受賞</span><br>
                                指導ショップ1,000店以上<br>
                                <span class="red">80%以上</span></span>が月商<span class="fnt-l fnt-b"><span class="red">100万円突破</span><br>
                                1億円超え</span>が<span class="fnt-l fnt-b">200店舗以上<br>
                                <span class="red">最高10億円</span></span><br>
                            一般社団法人ジャパンEコマースコンサルタント協会理事<br>
                            一般社団法人日本イーコマース学会理事</strong>
                    </p>
                </div>
                <div class="image">
                    <div class="item">
                        <img src="/wp-assets/img/ai-lp/img_34.jpg" alt="江藤正親">
                    </div>
                    <div class="item">
                        <p>■著書</p>
                        <img src="/wp-assets/img/movie/img_07.png" alt="江藤正親執筆本" class="book">
                    </div>
                </div>
            </div>
        </div>
        <div class="box03">
            <p class="box-ttl"><strong>JECCICA（ジェシカ）　日本イーコマース学会の理事を努めています</strong></p>
            <div class="l_box-wrap">
                <div class="txt">
                    <p class="ttl">JECCICA　ジャパンEコマースコンサルタント協会</p>
                    <p>Eコマースを支える人材育成のため、ECコンサルタントを養成し、コンサルティング業だけでなく、EC運営に必要なノウハウを体系的に学べる資格を授与している団体です。<br>
                        各分野のプロフェッショナル達による、実践講座やセミナー、パネルディスカッションなどのコンテンツを提供しています。
                    </p>
                </div>
                <div class="image"><img src="/wp-assets/img/movie/img_08.jpg" alt="一般社団法人ジャパンEコマースコンサルタント協会">
                </div>
            </div>
            <div class="l_box-wrap">
                <div class="txt">
                    <p class="ttl">JASEC　一般社団法人 日本イーコマース学会</p>
                    <p>今まで困難だった大学との連携によるEC商品の開発・人材確保・学術検証・先端技術導入などを容易にすることで、すべてのEC事業者の発展に貢献しています。</p>
                </div>
                <div class="image">
                    <img src="/wp-assets/img/movie/img_09.jpg" alt="一般社団法人日本イーコマース学会">
                </div>
            </div>
        </div>
        </div>
    </section>
    <section class="guidance">
        <div class="l_inner">
            <h2 class="sec-ttl">勝ちたい人だけが受ける<br>プロの指導</h2>
        </div>
        <img src="/wp-assets/img/ai-lp/img_22.jpg" alt="ECコンサルコース">
        <div class="l_inner">
            <div class="txt txt01">
                <p class="guidance-ttl"><strong>ECコンサル3ヶ月コースとは</strong></p>
                <p>月商100万円未満の人が月商1,000万円を目指すための基礎を作るコースです。<br>
                    <span class="fnt-m red fnt-b">本気でAmazonで勝ちたい。</span><br>
                    そう思ったなら、一切の遠回りをせず<span class="fnt-m red fnt-b">“正しいやり方”を身につけるべき</span>です。</span>
                </p>そのために存在するのが、<br>
                ECモンスター代表・江藤によるリアルコンサルティングです。<br>
                あなたのショップの売れない理由を明確にし、<br>
                勝てる打ち手を「言語化」→「戦略化」→「実行計画化」まで落とし込む伴走型プログラムです。</p>
            </div>
            <div class="step box-wrap">
                <div class="num">
                    <img src="/wp-assets/img/ai-lp/img_23.png" alt="01">
                </div>
                <div class="txt">
                    <h3 class="step-ttl">お悩みのヒアリング</h3>
                    <p>まずは現状を徹底的に把握。<br>
                        売上が伸び悩む理由・改善できる余地・競合との差・広告の最適化余地など、あなた自身も気付けていない課題を対話を通して発掘していきます。</p>
                    <p>ここで90%以上のショップが見落としていた問題が見つかります。</p>
                </div>
            </div>
            <div class="step box-wrap">
                <div class="num">
                    <img src="/wp-assets/img/ai-lp/img_24.png" alt="02">
                </div>
                <div class="txt">
                    <h3 class="step-ttl">ボトルネックの明確化（課題抽出）</h3>
                    <p>ヒアリング＋データ分析の結果から、成果を止めている要因を特定します。<br>
                        改善すべき順番・優先順位を明確にし、“手当たり次第に動く”運営から 最短で売上につなげる運営 へ。</p>
                </div>
            </div>
            <div class="step box-wrap">
                <div class="num">
                    <img src="/wp-assets/img/ai-lp/img_25.png" alt="03">
                </div>
                <div class="txt">
                    <h3 class="step-ttl">解決策の設計（戦略プランニング）</h3>
                    <p>売れる仕組みは「勘」ではなく「設計」で作れます。<br>
                        3つの角度から勝てる戦略を組み立てます。</p>
                    <p><span class="fnt-b">● コンセプト・ターゲットの再定義</span><br>
                        誰に、どんな価値を届け、なぜ選ばれるのか を明確に。<br>
                        選ばれる理由を一言で伝え、商品とブランドの強みを尖らせます。</p>
                    <p><span class="fnt-b">● プロダクト設計・商品構成の最適化</span><br>
                        ラインナップ・価格・利益率・セット設計・レビュー対策を強化。<br>
                        “売る”ではなく 売れる状態を作る 商品設計へ。</p>
                    <p><span class="fnt-b">● 露出・認知獲得の戦略設計</span><br>
                        広告・SEO・SNS・レビュー・リストなど集客導線を最適化。<br>
                        ムダな広告費を削り、費用対効果の高い集客設計を実行します。</p>
                </div>
            </div>
            <div class="step box-wrap">
                <div class="num">
                    <img src="/wp-assets/img/ai-lp/img_26.png" alt="04">
                </div>
                <div class="txt">
                    <h3 class="step-ttl">成果を出すロードマップ作成</h3>
                    <p>いつ・何を・どの順番でやるかを可視化。<br>
                        行動優先度とKPIを設定し、毎週・毎月の進捗管理で確実に前進。<br>
                        迷わず売上UPに向けて動ける環境を提供します。</p>
                    <p class="center fnt-l">
                        <strong>必要なのは才能ではなく戦略です。<br>
                            あなたの店舗に合わせて<br>
                            勝てる未来を設計します。</strong>
                    </p>
                    <p><span class="red fnt-m fnt-b">「この通りに動けば、売上は伸びます」</span><br>
                        それを“実現させる指導”をするのが、江藤のコンサルです。</p>
                    <p>25年・1,000社の支援で積み上げた、<br>
                        <span class="red fnt-m fnt-b">「再現性ある勝ちパターン」</span>を、あなたの店舗に合わせて落とし込みます。
                    </p>
                </div>
            </div>
            <p class="center fnt-l ls">
                <strong>ECコンサル3ヶ月コース/月額15万円（税別）</strong>
            </p>
            <a href="https://elearnig.vercel.app/p/ec-consul/svowrpeu0djd/" class="btn-blue">ECコンサル3ヶ月コース 詳細</a>
        </div>
    </section>
    <div class="good-news">
        <img src="/wp-assets/img/ai-lp/img_28-amazon.png" alt="それでも月額15万円は予算オーバーという方に朗報です！">
    </div>
    <section class="about">
        <div class="l_inner">
            <h2 class="sec-ttl">Amazon運営対応<br>ECモンスターAIコンサルとは</h2>
            <div class="txt">
                <p>ECモンスターの江藤です。</p>
                <p>ネットショップ運営に悩む方を、私は25年間、たくさん<br>見てきました。</p>
                <p>なぜ売上が伸びないのか？<br>
                    それは「過去の失敗」や「間違った方法」が、<br>
                    無意識にあなたの手足を縛っているから。</p>
                <p>私はずっと、それを打破したいと思っていました。<br>
                    自分が指導した200社以上の成功経験を、<br>
                    AIという形で、誰もが手に入れられるものにできないか。</p>
                <p>その思いから生まれたのが、<br>
                    「ECモンスターAIコンサル」です。</p>
            </div>
        </div>
        <div class="image">
            <div class="movie">
                <video poster="/wp-assets/img/ai-lp/img_04.jpg" controls playsinline preload="none">
                    <source src="/wp-assets/img/ai-lp/movie2.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </section>
    <section class="case">
        <div class="l_inner">
            <h2 class="sec-ttl">実際に成果を出した人たち</h2>
        </div>
        <div class="box">
            <div class="box-ttl-wrap">
                <div class="l_inner">
                    <div class="num"><img src="/wp-assets/img/ai-lp/img_07.png" alt="ケース：1"></div>
                    <h3 class="ttl fnt-m">30万円払っても肝心なことは答えてくれなかった<br>
                        丸岡さんの話（雑貨/Amazon）</h3>
                </div>
            </div>
            <div class="txt">
                <div class="l_inner">
                    <p>株式会社マルオカ商事（仮称）／東京都・雑貨メーカー<br>代表取締役：丸岡誠一さん（42歳）</p>
                    <p>「高いお金を払ってるのに、肝心なことを聞くと“それは御社の判断で”って返されるんです。なんのためのコンサルなんだって」</p>
                    <p>そう語るのは、Amazonで雑貨製品を展開している丸岡さん。</p>
                    <p>元々、社内にEC部門がなかった同社は、3年前からEC支援の外部コンサルを導入。<br>月額30万円で、担当者が月2回訪問し、アクセス解析や商品ページのアドバイスを行っていた。</p>
                    <p>でも、肝心な質問に限って「答えてくれない」</p>
                    <p>運営が安定してきた3年目、丸岡さんは売上に限界を感じていた。<br>売上は徐々に横ばいに。ライバル商品の出現、広告費の高騰…。<br>「差別化」の方法を、丸岡さんはずっと探していた。</p>
                    <p>ある日、担当コンサルにこう聞いた。</p>
                    <p>「この商品に“Amazon Vine”使ったら効果ありますかね？費用対効果が読めなくて…」</p>
                    <p>その答えは、こうだった。</p>
                    <p>「最終的には御社の判断ですが、使っているクライアントもいますよ」</p>
                    <div class="hide-txt">
                        <p>ーーがっかりした。</p>
                        <p>（それがわからないから、30万払ってるのに…）</p>
                        <p class="blue">■ECモンスターAIコンサルと出会った日</p>
                        <p>そんな折、知人の経営者がSNSで紹介していたのが<br>「ECモンスターAIコンサル」</p>
                        <p>「月額5,000円？　チャットで？　…正直、あまり期待はしてなかったですよ」</p>
                        <p>でも、5,000円ならと試してみた。</p>
                        <p>初日、試しにAIにこう聞いてみた。</p>
                        <p>「Amazon Vineを使うべきか迷っています。<br>雑貨カテゴリでレビューがまだ5件の新商品、広告費は月5万円。導入の判断ポイントを教えてください」</p>
                        <p>返ってきたのは、わずか15秒後の回答。</p>
                        <p>「Amazon Vineは“商品の初速”をつけるには有効です。<br>雑貨カテゴリではレビュー数が検索クリック率に大きく影響する傾向があり、<br>レビュー5件以下は露出率が低下する恐れがあります。<br>ただし、単価が2,000円以下ならROIが割れるケースも多く、<br>予算5万円で他施策（例：スポンサーブランド広告）と比較した場合、<br>目標が『レビュー数を増やす』なら実施を推奨、<br>目標が『売上最大化』なら慎重な再検討をおすすめします。」</p>
                        <p>「……これ、5,000円で答えるレベルじゃないぞ」</p>
                        <p>「これ、30万払っても返ってこなかった答えだなって思いましたね（笑）」</p>
                        <p>そこから、AIコンサルに完全移行。</p>
                        <p>丸岡さんの会社では、スタッフもAIを活用しながら、<br>広告改善、SEO施策、売上予測まで、AIとの“対話”を繰り返し進めていった。</p>
                        <p class="blue">■「高い費用＝高い価値」とは限らない</p>
                        <p>今、マルオカ商事では毎月AIに投げかける質問数が約80件。<br>コンサル1人分の「脳」を、まるごと共有しているような感覚だという。</p>
                        <p>しかも、相手は24時間365日待っている。<br>急ぎの施策も、深夜のひらめきも、すぐに反応が返る。</p>
                        <p>「何より、“社内に質問できる人がいる安心感”が一番大きいです。<br>“相談先がある”だけで、みんなの動きが早くなりました」</p>
                        <p>あなたも、こんな違和感を感じたことありませんか？</p>
                        <p>「この質問、毎回グレーな回答しか返ってこないな…」<br>「もっと細かい具体的な相談をしたいのに、空気を読まれてはぐらかされる…」<br>「聞きたいことを聞けずに終わるコンサルって、誰のためなんだろう」</p>
                        <p>AIは、忖度しません。<br>すべての質問に、真っ直ぐ答えようとします。</p>

                    </div>
                    <p class="readmore"><span class="open">続きを読む</span><span class="close">閉じる</span></p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-ttl-wrap">
                <div class="l_inner">
                    <div class="num"><img src="/wp-assets/img/ai-lp/img_08.png" alt="ケース：2"></div>
                    <h3 class="ttl fnt-m">Amazon運営2年、月商5倍を実現できたワケ<br>田中さんの話（食品/Amazon）</h3>
                </div>
            </div>
            <div class="txt">
                <div class="l_inner">
                    <p>北海道・余市町</p>
                    <p>無添加ジャム製造販売／Amazon運営・個人事業主<br>田中 絵美さん（42歳）</p>
                    <p>「味には自信があったんです。でも、Amazonの中で埋もれてしまって…」</p>
                    <p>北海道で夫と共に営むジャム工房「YOTSUBA」。</p>
                    <p>素材は100%国産。添加物ゼロ、糖度控えめ、手作り仕上げ。<br>リピーターには好評で、地元のマルシェでは売れていた。<br>でもAmazonに出店して2年、売上はずっと月15〜20万円どまり。</p>
                    <p>「良い商品＝売れる」じゃないのが、ECの世界。</p>
                    <p>「どうしても“本物を作れば売れる”って思ってたんです。<br>でも、ネットでは『伝わらない』んですね、本物って…」</p>
                    <p>Amazonで「ジャム」と検索すると、大手ブランドや低価格商品がズラリ。<br>個人の食品セラーは、広告をかけても「表示すらされない」ことが多い。</p>
                    <p>レビューも集まらない。ページを見てもらえない。<br>それでも、改善の方法がわからなかった。</p>
                    <div class="hide-txt">
                        <p>そんな時に出会ったのが「ECモンスターAIコンサル」</p>
                        <p>「『Amazonに出してるけど、売上が伸びない方へ』<br>っていうキャッチに、心をつかまれたんです」</p>
                        <p>半信半疑で申し込んだあとの最初の質問は、こうだった。</p>
                        <p>「ジャムを手作りして販売してます。商品ページもレビュー対策もやったけど売上が止まってます。<br>どうすれば“Amazonで目立つ”商品になりますか？」</p>
                        <p>AIの返答は、まさに“目からウロコ”だった。</p>
                        <p>【AIの回答の一部】：</p>
                        <p>競合商品との比較で「糖度」「無添加」などの検索キーワードが足りない → SEO再設計<br>ターゲットが「母の日」「ギフト需要」なら、商品ページの導線を季節訴求型に<br>サムネ画像で「手作り感」より「高級感」を演出すべき → 写真の再撮影推奨<br>レビューのテンプレートをギフト購入者向けに調整（「贈り物に選びました」など）<br>価格帯に見合う「ブランドストーリー」をLP的に商品ページへ追加</p>
                        <p>「“どこがダメ”じゃなくて、“どうすれば売れるか”を明確に言ってくれる。<br>それが本当にありがたかったです」</p>
                        <p class="blue">■3ヶ月後、月商は20万円 → 100万円へ</p>
                        <p>AIのアドバイスを参考に商品ページをリニューアル。<br>パッケージも少し変えた。レビュー依頼文も書き直した。</p>
                        <p>結果、ギフト需要が爆発した母の日シーズン、<br>月商は一気に100万円を超えた。</p>
                        <p>「1人じゃ絶対に気づけなかったと思います。<br>“食品を売るコツ”と“Amazonで選ばれるコツ”って、違うんですね」</p>
                        <p>「ひとり店主の右腕」としてのAI</p>
                        <p>田中さんは今でも、朝一番にAIに質問する。</p>
                        <p>「今週は何に力を入れるべきですか？」<br>「ギフト需要が減った時期の戦略は？」<br>「レビュー依頼文、これで伝わると思いますか？」</p>
                        <p>答えはいつでも即座に返ってくる。<br>何度でも、しつこく聞いても、AIは怒らない。迷わない。疲れない。</p>
                    </div>
                    <p class="readmore"><span class="open">続きを読む</span><span class="close">閉じる</span></p>

                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-ttl-wrap">
                <div class="l_inner">
                    <div class="num"><img src="/wp-assets/img/ai-lp/img_09.png" alt="ケース：3"></div>
                    <h3 class="ttl fnt-m">もう"あの人がいないと回らない"とは言わせない<br>松井さんの話（アパレル/Amazon）</h3>
                </div>
            </div>
            <div class="txt">
                <div class="l_inner">
                    <p>東京都内／アパレルメーカーEASTIN株式会社（仮称）</p>
                    <p>Amazon自社ブランド展開・社員数38名<br>EC事業部マネージャー：松井 弘樹さん（37歳）</p>
                    <p>「誰かが休むと、売上が落ちる。<br>“できる人”と“まだまだの人”の差が、あまりに大きかったんです」</p>
                    <p>東東京で20年以上続くアパレルメーカーEASTIN。<br>Amazonでは4年前にオリジナルブランドを立ち上げ、<br>一定の成果は出ていた。</p>
                    <p>でも、松井さんがEC部門の責任者に就いた時、すぐに限界を感じた。</p>
                    <p>チームは、ひとりの“エース”に頼りきりだった。</p>
                    <p>そのエース社員は、<br>広告・SEO・画像・仕入れ、すべての最適解を熟知していた。</p>
                    <p>「でも彼が休むと、もう…チームが動けないんですよ」</p>
                    <p>“できる人が全部やってしまう”状態。<br>育成が追いつかず、質問されても忙しすぎて教えられない。</p>
                    <div class="hide-txt">
                        <p>結局、誰も育たないまま2年が経っていた。</p>
                        <p>外注コンサルも入れた。結果は…？</p>
                        <p>1時間2万円のコンサルティングを、月3回。<br>数十万円の研修動画も導入。</p>
                        <p>「でも社員は『質問しづらい』『そもそも質問がわからない』って…」</p>
                        <p>そんな時に出会ったのが「ECモンスターAIコンサル」</p>
                        <p>広告で目にした「月5,000円で24時間聞き放題」の文字。</p>
                        <p>正直、最初は半信半疑だった。<br>でも試してみることに。</p>
                        <p>社員の“質問力”が、1週間で変わった。</p>
                        <p>新人スタッフが最初に投げた質問は、</p>
                        <p>「Amazonの商品ページの画像って、何を載せればいいんですか？」</p>
                        <p>【AIの返答（抜粋）】</p>
                        <p>競合に対して差別化できる視覚的要素は「着用シーン」や「サイズ比較」<br>ターゲット層がスマホユーザーなら、画像枚数は6枚以上が理想<br>商品の強みが「素材」である場合は、素材訴求を1枚目に出す<br>「返品可」「在庫数」など購入前の不安要素を画像で払拭すべし</p>
                        <p>「驚いたのは、ただ“答える”んじゃなくて、<br>“なぜその考えが必要か”まで教えてくれたこと」</p>
                        <p>今では、AIが“社内マニュアル”になっている。</p>
                        <p>社員は業務中に、<br>疑問が浮かぶたびにAIに質問を投げている。</p>
                        <p>「在庫切れになったときの広告はどうすべき？」<br>「父の日商戦、どんな切り口がウケますか？」<br>「この商品名、もっと刺さる表現ないですか？」</p>
                        <p>「人に聞くのが苦手なスタッフほど、AIをよく使ってます。<br>“怒られない”“何度でも聞ける”って、本当に大きいんですね」</p>
                        <p>育成の“自走化”が、社内の空気を変えた。</p>
                        <p>以前は、質問が来るたびに「ちょっと待って」と言っていた先輩社員も、<br>今では「それ、AIに聞いてみた？」が口グセになっている。</p>
                        <p>質問の質が上がった<br>教える手間が減った<br>チームで“成長”するサイクルができた</p>
                        <p>「今は“松井さん、これはどうしたら…”じゃなくて、<br>“AIに聞いてみたら、こうでした”って報告が来ます」</p>
                    </div>
                    <p class="readmore"><span class="open">続きを読む</span><span class="close">閉じる</span></p>
                </div>
            </div>
        </div>
    </section>
    <section class="message">
        <h2 class="sec-ttl">「AIなんて使いこなせるかな…」<br>と思われる方へ</h2>
        <div class="l_inner">
            <div class="box">
                <div class="txt">
                    <img src="/wp-assets/img/ai-lp/img_10.jpg" alt="AIなんて使いこなせるかな…と思われる方へ">
                    <p>使いこなすには多少のコツがありますが、難しいものではありません。
                        ポイントは「ご自身の状況を具体的に伝える」こと。</p>
                    <p>それさえできれば、AIは驚くほど実践的な答えを返してくれます。<br>
                        慣れるまでは少し時間がかかるかもしれませんが、 AIは決して怒りません。<br>
                        何度でも、あなたが納得するまで、誠実に返答してくれます。</p>
                </div>
            </div>
        </div>
    </section>
    <section class="profile">
        <div class="l_inner">
            <h2 class="sec-ttl">AIの後ろには私がついています</h2>
            <div class="box01">
                <p><strong>ECモンスター代表の江藤です。<br>
                        AIが答えられないご質問には、<br>
                        私が責任を持ってアナログで対応いたしますので<br>
                        ご安心ください。<br>
                        私はECコンサルの草分けとして、<br>
                        年商億超えを達成したショップを<br>
                        立ち上げから200社以上支援してまいりました。<br>
                        その経験を活かし、皆さまのビジネスを<br>
                        全力でサポートいたします。</strong></p>
            </div>
        </div>
    </section>
    <section class="mv">
        <h2 class="mv-ttl">
            <img src="/wp-assets/img/ai-lp/img_29-amazon.png" alt="Amazon対応AIコンサルが月額5,000円～">
        </h2>
    </section>
    <section class="plan">
        <div class="l_inner">
            <h2 class="sec-ttl">AIコンサル料金プラン</h2>
            <h3 class="sec-sub-ttl">必要に応じて選べるプラン</h3>
            <img src="/wp-assets/img/ai-lp/img_31.png" alt="今から24時間以内のお申し込みに限り初期費用無料！">
            <div class=" plan-full">
                <h3 class="plan-ttl">コンプリートプラン（税別）</h3>
                <p class="txt">楽天市場編・Amazon編・自社EC編・<br class="sp">DtoC：商品企画販売戦略編全て使い放題</p>
                <div class="box-wrap">
                    <div class="p-box"><img
                            src="/wp-assets/img/ai-lp/plan_all-y-trial2.jpg"
                            alt="コンプリートプラン：年額払い：24時間以内契約料金"></div>
                    <div class="p-box"><img
                            src="/wp-assets/img/ai-lp/plan_all-m-trial2.jpg"
                            alt="コンプリートプラン：月額払い：24時間以内契約料金"></div>
                    <div class="p-box"><img
                            src="/wp-assets/img/ai-lp/plan_all-y2.jpg"
                            alt="コンプリートプラン：年額払い：24時間以後契約料金"></div>
                    <div class="p-box"><img
                            src="/wp-assets/img/ai-lp/plan_all-m2.jpg"
                            alt="コンプリートプラン：月額払い：24時間以後契約料金"></div>
                </div>
            </div>
            <div class="plan-1">
                <h3 class="plan-ttl">選べる単体プラン（税別）</h3>
                <p class="txt">楽天市場編・Amazon編・自社EC編・<br class="sp">DtoC：商品企画販売戦略編の中から1つを選択</p>
                <div class="box-wrap">
                    <div class="p-box"><img
                            src="/wp-assets/img/ai-lp/plan_single-y-trial2.jpg"
                            alt="単体プラン：年額払い：24時間以内契約料金"></div>
                    <div class="p-box"><img
                            src="/wp-assets/img/ai-lp/plan_single-m-trial2.jpg"
                            alt="単体プラン：月額払い：24時間以内契約料金"></div>
                </div>
                <div class="atten red">※プランはいつでも解約OK<br class="sp">（返金には応じられません）</div>
                <div class="summary-box">
                    <p><strong>コンサル1回分の費用で1年間使えると<br>
                            90%のユーザーがコストパフォーマンスを<br>
                            評価しています。</strong></p>
                </div>
            </div>
        </div>
    </section>
    <section class="flow">
        <div class="l_inner">
            <h2 class="sec-ttl">導入の流れ</h2>
            <ul class="list">
                <li><span class="num">1</span>
                    <p>ご契約（24時間以内は初期費用無料）</p>
                </li>
                <li><span class="num">2</span>
                    <p>ご案内メール受信（3営業日以内）</p>
                </li>
                <li><span class="num">3</span>
                    <p>Gmailで専用アカウント制作（5分程度）</p>
                </li>
                <li><span class="num">4</span>
                    <p>ご利用開始（月額5,000円〜）</p>
                </li>
                <li><span class="num">5</span>
                    <p>いつでも解約可能・縛りなし</p>
                </li>
            </ul>
        </div>
    </section>
    <div class="cta">
        <div class="l_inner">
            <img src="/wp-assets/img/ai-lp/img_32-amazon.png" alt="Amazon運営対応AIコンサル初期費用無料＋3大特典">
            <div class="txt center">
                <p>今このページをご覧いただいた方限定！<br>
                    今から24時間以内にお申し込みいただくと、<br>
                    初期費用30,000円が【無料】になります！</p>
                <p>また、お申し込み特典として<br>
                    「AIコンサルスタートガイド」<br>
                    「失敗しないECスタートガイド」<br>
                    「商品開発→ファン獲得完全攻略ガイド」<br>
                    をプレゼントいたします！</p>
                <p>このチャンスをお見逃しなく、<br>
                    ぜひお早めにお申し込みください！</p>
                <a href="https://elearnig.vercel.app/p/ai-consul-cart/ai-consulting-cart/" class="cta-btn">今すぐ申し込む</a>
            </div>
        </div>
        <div class="present">
            <img src="/wp-assets/img/ai-lp/img_33-amazon.png" alt="3大特典プレゼント">
        </div>
</main>

</BaseLayout>
