---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout title="アクセス-株式会社ECコンサルカンパニー"
  description="住所：〒105-0013 東京都港区浜松町2-2-3　磯山ビル3階　交通手段：JR浜松町駅北口出口　徒歩5分、都営地下鉄大江戸線・浅草線大門駅　A3出口3分">
<link rel="stylesheet" href="/wp-assets/css/eccc-pages.css" slot="css" />

<nav class="wrap950">
	<ul class="nav_btn">
	   <li><a href="/eccc-company/">会社概要</a></li>
	   <li class="pc"><a href="/eccc-company/philosophy/">企業理念</a></li>
	   <li><a href="/eccc-company/message/">トップメッセージ</a></li>
	   <li class="pc"><a href="/eccc-company/access/" class="active">アクセス</a></li>
	   <li><a href="/eccc-company/recruit/">求人情報</a></li>	   
	</ul>
</nav>

 
<div id="sub_contents" class="wrap950 padding100" style="padding-bottom:20px;">
  <section class="access">
	  <h2 class="h2_sub btm_mar40">アクセス</h2>
    <section class="p18">
	  <h3 class="btm_mar10"><img src="/wp-assets/img/eccc/h2_acccess.gif" alt="当社へのアクセス"></h3>
	  <div class="access_wrap padding50 fl-test-flex">
		  <div class="map btm_mar30 fbox1"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.87407275483!2d139.7527631152581!3d35.65547408020019!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bc7b3483ee7%3A0x9c174132bd91d35e!2z44CSMTA1LTAwMTMg5p2x5Lqs6YO95riv5Yy65rWc5p2-55S677yS5LiB55uu77yS4oiS77yT!5e0!3m2!1sja!2sjp!4v1504185723965" width="688" height="488" frameborder="0" style="border:0" allowfullscreen></iframe></div>
	  <dl class="fbox2">
	   <dt>住所</dt>
	    <dd>〒105-0013  東京都港区浜松町2-2-3　磯山ビル3階</dd>
	   <dt>交通手段</dt>
	    <dd>JR浜松町駅北口出口　徒歩5分<br />都営地下鉄大江戸線・浅草線大門駅　A3出口3分</dd>
	  </dl>
	  </div>
	</section>
	</section>
<!-- #sub_contents --></div>
<nav class="wrap950">
	<ul class="nav_btn">
	   <li><a href="/eccc-company/">会社概要</a></li>
	   <li class="pc"><a href="/eccc-company/philosophy/">企業理念</a></li>
	   <li><a href="/eccc-company/message/">トップメッセージ</a></li>
	   <li class="pc"><a href="/eccc-company/access/" class="active">アクセス</a></li>
	   <li><a href="/eccc-company/recruit/">求人情報</a></li>	   
	</ul>
</nav>
</BaseLayout>
