---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout title="トップメッセージ-株式会社ECコンサルカンパニー"
  description="代表取締役：江藤政親　ECサイト運営事業者の経営面「資金繰り、採用、研修、マネジメント、売るノウハウ、仕入れ、商品開発、物流」あらゆるノウハウに精通。億単位の売上を目指す支援のスペシャリスト。">
<link rel="stylesheet" href="/wp-assets/css/eccc-pages.css" slot="css" />

<nav class="wrap950">
	<ul class="nav_btn">
		<li><a href="/eccc-company/">会社概要</a></li>
		<li class="pc"><a href="/eccc-company/philosophy/">企業理念</a></li>
		<li><a href="/eccc-company/message/" class="active">トップメッセージ</a></li>
		<li class="pc"><a href="/eccc-company/access/">アクセス</a></li>
		<li><a href="/eccc-company/recruit/">求人情報</a></li>
	</ul>
</nav>
<div id="sub_contents" class="wrap950 padding100" style="padding-bottom:20px;">
	<section class="message">
		<h2 class="h2_sub btm_mar40">トップメッセージ</h2>
		<section class="p18 sp_p12">
			<h3 class="btm_mar10"><img src="/wp-assets/img/eccc/h2_message.gif" alt="代表挨拶"></h3>
			<p class="btm_mar20">
				元々は、建設会社の現場監督をやっておりました。インターネットはこれからすごくなる。その直感を信じて、コンサルティング企業、そして、ダイレクトセイリング企業へキャリアアップして、最後独立へと至ります。</p>
			<p class="btm_mar20">
				まだホームページの制作方法が確定していない時代から、建設会社の施工ノウハウをホームページ制作に転換し、マーケティングや経営視点はコンサルティング会社のノウハウを転換。ダイレクトセイリング会社で商品説明や顧客マーケティングを身につけ、最後はECへと辿り着きました。
			</p>
			<p class="btm_mar20">10年前も100年後も新しいことに流されず、商売の基本は変わらないことを伝えていきたいと思っています。</p>
			<p class="btm_mar20">当社はECに関わる業務をワンストップで提供しております。<br>
				1999年にECサービスをスタートさせ、すで18年目をむかえており、業界の黎明期から運営サイトの2年で数億円規模まで運営してきました。</p>
			<p class="btm_mar20">ECサイトの商品開発からPR、人材育成までノウハウがあります。<br>
				また、そのノウハウで指導した企業は500社を超え、そのうち200社以上は年商1億円サイトへと成長しています。 </p>
			<p class="btm_mar20">そのような実績から、ECサイトのコンサルティングはもとより、サイト構築、運営、商品開発など運営業務のパーツのアウトソーシングを請け負っております。</p>
			<p class="btm_mar20">また、ワンストップでの提供をしておりますため、企業との提携も数多く行っております。</p>
			<p class="btm_mar20">どうぞお気軽にお問い合わせください。</p>
			<p class="txt_right btm_mar30">株式会社ECコンサルカンパニー代表<br> 江藤　政親</p>
		</section>
		<section class="message_wrap padding20 cf">
			<div class="wrap">
				<p class="photo"><img src="/wp-assets/img/eccc/company03.jpg" alt=""></p>
				<dl>
					<dt>
						<p class="p40 sp_p30"><strong>江藤政親</strong></p>
						<p class="p28 btm_mar30 sp_p20"><strong>代表取締役</strong></p>
					</dt>
					<dd class="lft_mar">
						ECサイト運営事業者の経営面「資金繰り、採用、研修、マネジメント、売るノウハウ、仕入れ、商品開発、物流」あらゆるノウハウに精通。億単位の売上を目指す支援のスペシャリスト。</dd>
					<dd class="info lft_mar">
						<h3 class="btm_mar20"><img src="/wp-assets/img/eccc/h3_message01.gif" alt="仕事の顔" width="507"
								height="32"></h3>
						<p class="btm_mar20">
							自身3年間、ネットショップを運営に携わり立ち上げから1年半で月商4500万を達成。指導店舗200社以上が年商1億円1以上の実績を持つ。指導した方の17人がネットショップの成功本を書き、自らも3冊出版。全国47都道府県に講演をし、EC業界のさらなる発展のために活動。
						</p>
						<h3 class="btm_mar20"><img src="/wp-assets/img/eccc/h3_message02.gif" alt="プライベートの顔" width="507"
								height="32">
						</h3>
						<p class="btm_mar20">情熱的、豪快、大酒飲み・・。は一見ですが（笑<br>
							雪国の富山県出身ですので、実はめっぽう辛抱強い。亥年の猪突猛進で数々の失敗？武勇伝？も多く、ひたすら猛省し改善、習慣化していき、周囲をびっくりさせる事もしばしば。 </p>
						<h3 class="btm_mar20"><img src="/wp-assets/img/eccc/h3_message03.png" alt="著書" width="507"
								height="32"></h3>
						<p class="btm_mar20">著書に「プロが教える！売上が大幅アップするメールマガジンの法則」「E-SHOPで1億円儲ける！」
							「楽天市場ではやく儲かる徹底セミナー」「億稼ぐ脳のつくり方」<br>などがある。</p>
					</dd>
				</dl>
				<div class="interview-movie">
					<p>■ECの未来インタビュー：これからのECで実績を上げるには？【 ECの未来 episode 1 】</p>
					<div class="movie"><iframe width="560" height="315" src="https://www.youtube.com/embed/QxCVgxCdG4M"
							frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe></div>
				</div>
			</div>
		</section>
	</section>
	<!-- #sub_contents -->
</div>
<nav class="wrap950">
	<ul class="nav_btn">
		<li><a href="/eccc-company/">会社概要</a></li>
		<li class="pc"><a href="/eccc-company/philosophy/">企業理念</a></li>
		<li><a href="/eccc-company/message/" class="active">トップメッセージ</a></li>
		<li class="pc"><a href="/eccc-company/access/">アクセス</a></li>
		<li><a href="/eccc-company/recruit/">求人情報</a></li>
	</ul>
</nav>
</BaseLayout>
