---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout title="企業理念・仕事理念・コンサルティングコンセプト-株式会社ECコンサルカンパニー"
  description="経営理念：世界中に自分たちのファンを作り、またファンになる！　仕事理念：楽しくなければ仕事じゃない！　コンサルティングコンセプト：提案から実践をサポート、ビジネスモデルを構築する！">
<link rel="stylesheet" href="/wp-assets/css/eccc-pages.css" slot="css" />

<nav class="wrap950">
	<ul class="nav_btn">
	   <li><a href="/eccc-company/">会社概要</a></li>
	   <li class="pc"><a href="/eccc-company/philosophy/" class="active">企業理念</a></li>
	   <li><a href="/eccc-company/message/">トップメッセージ</a></li>
	   <li class="pc"><a href="/eccc-company/access/">アクセス</a></li>
	   <li><a href="/eccc-company/recruit/">求人情報</a></li>	   
	</ul>
</nav>
 <div id="sub_contents" class="wrap950 padding100" style="padding-bottom:20px;">

    <section class="philosophy">
     <section>
      <h2 class="h3_philosophy btm_mar10">経営理念</h2>
		<p class="p30 p_min btm_mar40"><strong>ECを中心として日本を元気にする！</strong></p>
      <h2 class="h3_philosophy btm_mar10">ビジョン</h2>
		<p class="p30 p_min btm_mar40"><strong>世界中に自分たちのファンを作る！</strong></p>
      <h2 class="h3_philosophy btm_mar10">ミッション</h2>
		<p class="p30 p_min btm_mar40"><strong>消費者・販売者が共に幸せになるEC業界を確立する！</strong></p>
      <h2 class="h3_philosophy btm_mar10">バリュー</h2>
		<p class="p30 p_min btm_mar40"><strong>お客様の期待を超えた仕事をする！</strong></p>
     </section>     
     <section class="btm_mar30 cf con02">
        <h3 class="btm_mar10"><img src="/wp-assets/img/eccc/uploads/2018_02_h2_philosophy01.jpg" alt="コンセプト"/></h3>
		 <p class="flt_left p18"><strong>1.Energize JAPAN</strong><br>
 ECを中心にして日本を元気にする！<br>
<br>
<strong>2.World Fans</strong><br>
 世界中に自分たちのファンをつくる！<br>
<br>
<strong>3.Happy E-commerce</strong><br>
 消費者・販売者が共に幸せになる！<br>
<br>
ECコンサルカンパニーは、この３つのキャッチフレーズをテーマに更なる成長を目指します。どういうことか、説明しますと、<br>
<br>
まず、<strong>「Happy E-commerce」</strong>ですが、<br>
今はとかく価格だけで判断されてしまうEC市場ですが、それでは売り手の利益につながりません。
また、買い手にとっては買うだけなら安い方が良いのは当然です。
そこに付加価値を提供して販売することで売り手も書い手も共に幸せにすることができる、そのためのシステム構築を弊社は行っていきたいと考えています。<br>
<br>続いて、<strong>「World Fans」</strong>ですが、
そのシステムを日本、ひいては世界中の人が使ってくれるようなシステムに育てていきたい、そうやってECコンサルカンパニーのファンをつくっていけるような仕事をしようという志を持って仕事に臨んでいます。<br>
<br>
最後に、<strong>「Energize JAPAN」</strong>ですが、<br>
弊社がシステムで多くの方に認知され、ファンを作っているような状況は、必ず日本のEC業界を変えているだろうと感じています。
それが日本の元気につながることを願って、大きな仕事をしていきたいと考えています。
</p>
		 <p class="flt_right"><img src="/wp-assets/img/eccc/company01.jpg"></p>
      </section>
     <section class="btm_mar30 cf con02">
        <h3 class="btm_mar10"><img src="/wp-assets/img/eccc/h2_philosophy02.gif" alt="私たちのスタイル"></h3>
		 <p class="flt_left p18">インサイド・アウト<br>正しい生き方なくして真の成功はありえない。<br>私たちはお客様から「ありがとう」の言葉をいただき、また「ありがとう」の言葉をいただくレベルの仕事を出し続けられる会社でありたいと考えております。<br>そのために7つの習慣を実践、主体的に行動し、目標達成に向けて最優先事項を持って業務の推進にあたり、お客様に最も良い結果をもたらすための最善を尽くします。<br>また、スタッフの意識改革とスキルアップを目指した研修を行い、全員が指示待ちではなく、お客様の為に提案ができるアイデア溢れる企業を目指しております。</p>
		 <p class="flt_right"><img src="/wp-assets/img/eccc/company02.jpg"></p>
      </section>    
    
    
    
    
     </section>
    
    <!-- #sub_contents --></div>
<nav class="wrap950">
	<ul class="nav_btn">
	   <li><a href="/eccc-company/">会社概要</a></li>
	   <li class="pc"><a href="/eccc-company/philosophy/" class="active">企業理念</a></li>
	   <li><a href="/eccc-company/message/">トップメッセージ</a></li>
	   <li class="pc"><a href="/eccc-company/access/">アクセス</a></li>
	   <li><a href="/eccc-company/recruit/">求人情報</a></li>	   
	</ul>
</nav>
</BaseLayout>
